[2020-11-16 21:42] #2781 closed

[2020-11-24 16:47] locofocos commented on #2777
I might not be able to give this the full root-cause analysis I think it deserves, but I was able to get very close to the root cause, so here's what I can provide:

In short, we were defining some singleton methods that returned a specific record. At the time we initialize those singleton methods, we saved a reference to that specific record. Through some sequence of operations, including both se

[2020-11-25 01:53] aarsilv commented on #2548
The parallel test case laid out by @johnwu96822 is a good example and one I have come across leveraging CircleCI's parallelization. When one wants to parallelize but still blanket exclude tests, their CirlceCI config will have a series of commands similar to:
[code]
In this situation, we want the exclusion filter applied to the files specified inclusion filter. This is also the behavior I would ex

[2020-11-25 08:21] JonRowe commented on #2548
It's not ignored, it's just a lower priority filter than the files you have specifically included and this behaviour is unlikely to be changed.

However you should be able to achieve your circle CI command with:
[code]

(Note I changed the glob to a pattern for grep, but other command line tools are capable of producing a correct output without out help here).

[2020-12-02 14:59] JonRowe commented on #2777
I think it comes down to how Rails keeps around references. Spring is designed to improve code reloading speed, but not to cache database connections etc, where as probably the issue with your app is that the ActiveRecord connection pool is not being reset?

[2020-12-03 09:24] mikebaldry commented on #2514
I have experienced this today. Running a rails 6 app, running rspec it just hangs. I think it is down to the dependency loading failing because of the syntax error, maybe happening during initialization phase, and rspec just hangs. We found the issue by commenting out `trap_interrupt` in `runner.rb`, then `^C` the hung process which not only revealed the backtrace but also the error some how.

[2020-12-03 10:35] pirj commented on #2514
That's very interesting, @mikebaldry. Do you mind to share your findings?

[2020-12-03 23:57] kzkn commented on #2216
is this issue already fixed by #2401 ?

[2020-12-04 07:14] pirj commented on #2216
Thanks for the heas-up, @kzkn!
Tested, the above case works fine, the documentation-formatted output is saved to a file.

[2020-12-04 07:14] #2216 closed

[2020-12-11 13:09] mrexox opened #2796 "Allow running rspec in interactive mode"
### Subject of the issue
There can be a situation when one small test is failing and you spend hours to make it work. But initialization can take so long, so it is about 30 seconds waiting for initialization and 1 second to execute the test. I wonder, what if rspec supported interactive mode, like waiting for file or files for input and running them interactively? I can prepare a PR for that if is

[2020-12-11 13:46] pirj commented on #2796
Do you use `spring`/`bootsnap`/`guard`? They can help.

Otherwise, you may take a look at this https://relishapp.com/rspec/rspec-core/v/3-9/docs/running-specs-multiple-times-with-different-runner-options-in-the-same-process

Pretty sure this will be a useful extension, but I'm not sure it's a common case. E.g. my current Rails project loads the env in under 2 seconds.

[2020-12-11 18:06] JonRowe commented on #2796
The problem with pinning your environment, is it won't be reloaded, its not as simple as "load your environment, run specs, await your command to run specs again" we would need to know what files changed, clear our the old code, reload those files, and then run specs again.

As @pirj points out this is an approach Rails has tried for many years to speed up its notoriously slow boot time and there

[2020-12-17 17:39] allcentury opened #2801 "after hooks with custom output_stream does not include failure summary"
### Subject of the issue

The final output of rspec looks something like this:

[code]

However, that output is not available in any of the available `after(..)` hooks.

### Your environment
* Ruby version: 2.6
* rspec-core version: 3.7

### Steps to reproduce

[code]

output:

[code]

### Expected behavior

I was hoping I would have access to the Failures output within a callback.

### Actual beh

[2020-12-17 19:25] pirj commented on #2801
Thanks for the detailed report.
`after` hook is part of an example, and is executed as part of it. Failures may happen in the `after` hook as well, and they would count towards failures from the example block itself.
You are probably looking for a [custom formatted](https://relishapp.com/rspec/rspec-core/v/3-9/docs/formatters/custom-formatters), it has [its own hooks](https://github.com/rspec/rspe

[2020-12-17 19:25] #2801 closed

[2020-12-17 20:32] JonRowe commented on #2801
The `dump_summary` hook in a custom formatter is probably what you want.

[2020-12-18 15:10] Mange commented on #2615
I just want `aggregate_failures`, but with it being active even if there's only a single failure.

[code]

If you get two errors in there you get a nice context (`Entry 76: …`), but when you fix one of them the context is gone again and you are back on an error that is very hard to understand without adding extra print statements in the loop and re-running again.

How about a `with_failure_context

[2020-12-21 20:42] woto opened #2807 "aggregate_failures with assert_select"
Hi! It seems that `aggregate_failures` doesn't work with `assert_select`? Or I am doing something wrong?
*crosspost from google groups https://groups.google.com/g/rspec/c/4Xj5BatQyjk

### Your environment
* Ruby version: ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin19]
* rspec-core version: rspec-core-3.9.3

### Steps to reproduce

[code]

returns

[code]

but

[code]

returns onl

[2020-12-22 11:51] eregon opened #2809 "rspec -w is not the same as ruby -w and does not show deprecation warnings"
### Subject of the issue
`rspec -w` should show all warnings, notably deprecation warnings, so they are easily noticed when running tests/specs.

As background, Ruby 2.7.2+ does not show deprecation warnings by default, but `ruby -w` does.
Part of the rationale for that was hoping that test frameworks would enable warnings by default, so deprecation warnings are still noticed when testing, while r

[2020-12-22 21:26] #2809 closed

[2020-12-24 09:14] Aqualon opened #2814 "Filepath handling in MetaData#populate_location_attributes"
### Subject of the issue
I was profiling the test suite of a closed source app I'm working on and saw using stackprof in `:cpu` mode, that over 10% of CPU time was used in the computation of `absolute_file_path` in

https://github.com/rspec/rspec-core/blob/addcfb47cb0582b8e976c938ff18728144a7dcee/lib/rspec/core/metadata.rb#L155

Digging deeper on our test suite with 7497 examples, I logged each `a

[2020-12-24 09:28] pirj commented on #2814
Interesting find, thanks for reporting.

If you set a conditional breakpoint
[code]
does it stop during your suite run?

What is the performance impact if you
[code]

[2020-12-24 10:04] Aqualon commented on #2814
I did a `puts "#{file_path} | #{absolute_file_path}" if file_path != absolute_file_path` and it never printed it on both test suites (I verified it prints without the condition).

That's what I tried, but besides the changes in stackprof output I mentioned in my initial comment, it didn't result in any real runtime improvement, even in the case of the one large test file, where stackprof showed th

[2020-12-24 10:32] pirj commented on #2814
Interesting.

Have you tried building a flamegraph from your dump? https://github.com/test-prof/test-prof/blob/master/docs/profilers/stack_prof.md#report-formats

I'll close this issue since there's no obvious performance impact even though the code might be sub-optimal.

Let's continue our discussion in our mailing list http://rspec.info/help/. Please share your findings!

[2020-12-24 10:32] #2814 closed

[2020-12-24 12:38] pirj commented on #2724
This is done, closing.
https://github.com/rspec/rspec-core/blob/addcfb47cb0582b8e976c938ff18728144a7dcee/.github/workflows/ci.yml#L68

[2020-12-24 12:38] #2724 closed

[2020-12-24 13:31] Aqualon commented on #2814
@pirj thanks, I will look into test-prof after Christmas and write to the mailing list, once I found out more. Happy holidays! 🎄

[2020-12-25 11:55] JonRowe commented on #2814
If you can find a benchmarkable improvement through caching, we would be open to PRs

[2020-12-25 21:53] #2762 closed

[2020-12-26 02:04] taichi-ishitani opened #2820 "Different behavior between Ruby 2.7 and Ruby 3.0"
### Subject of the issue

I found different behavior between Ruby 2.7 and Ruby 3.0.
I think it's caused by changes of Ruby 3.0 and I'd like to any idea why this difference occurs.

### Your environment
* Ruby version:
    * ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-linux]
    * ruby 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-linux]
* rspec-core version:
    * 3.10.0

### Steps

[2020-12-26 19:49] pirj commented on #2820
This is due to this difference:
3.0:
[code]

2.7:
[code]

where `inspect` in both cases is
[code]

I can't think of an approach to work around this.

Apart from this synthetic example, do you experience any problems with real specs?

[2020-12-27 07:01] taichi-ishitani commented on #2820
Yes. My some unit tests are broken due to this problem when I try to update Ruby 2.7 to 3.0.

[2020-12-27 08:51] pirj commented on #2820
Please provide a failing spec.

[2020-12-27 09:32] taichi-ishitani commented on #2820
These are a failing spec and its log.
https://github.com/rggen/rggen-core/blob/5222c3646ff600068f38af7b789dc97948f2d778/spec/rggen/core/utility/error_utility_spec.rb#L48
https://github.com/rggen/rggen-core/runs/1613456971?check_suite_focus=true#step:6:15

[2020-12-27 13:14] JonRowe commented on #2820
Your examples appear to be monkey patching exceptions, exception output can and does change across Ruby versions and is not within RSpecs domain.

In your original examples, you use `inspect` output for an instance of a class (which is what a test is here), and can also change across Ruby versions, this is not something we provide, its the standard Ruby inspect, you're doing the equivalent of this

[2020-12-27 13:14] #2820 closed

[2020-12-27 21:20] pirj opened #2832 "Reconsider `shared_context_metadata_behavior`"
### Background

We have had a problem with metadata defined on **spec-local** shared example groups (`shared_examples` / `shared_examples_for` / `shared_context`) causing them to be included in completely unrelated example group reported in [[1](https://github.com/rspec/rspec-rails/issues/1579)]/[[2](https://github.com/rspec/rspec-rails/issues/1241)]. Some more information in https://github.com/rs

[2020-12-27 21:21] pirj commented on #2832
I'd love to summon @myronmarston as the driving force behind `:apply_to_host_groups`.

[2020-12-28 01:52] myronmarston commented on #2832
Thanks for writing this up @pirj and summoning me to comment :).

I still think that implicit inclusion of shared example groups via metadata still has problems. [#1790](https://github.com/rspec/rspec-core/issues/1790#issue-49934138) outlines the problems I saw with it when I wrote up that issue.  Overall, the implicit inclusion behavior feels inconsistent with the rest of RSpec, IMO; consider tha

[2020-12-29 19:25] pirj commented on #2832
Thanks a lot for such a detailed and insightful answer, @myronmarston!

That indeed would be an apotheosis of confusion.

My doubts are dispelled, I'm going to proceed with making `:apply_to_host_groups` the default and only option.
I'll keep the ticket open, will link PRs to it.

[2020-12-29 19:34] myronmarston commented on #2832
It might be worth removing the config option entirely, given the plan is to not support any other behavior.  Or maybe for backwards compatibility it could be defined but ignored (although that could be confusing if the user configured the legacy behavior...).  I don't know if y'all are planning on releasing an RSpec 3.99 (like we did with 2.99) to provide upgrade warnings, but if you go that route

[2020-12-30 08:30] JonRowe commented on #2832
Thanks for the detailed reply @myronmarston :joy: I'm closing this because I agree, and judging from Phil's PRs he has been convinced also.

[2020-12-30 08:30] #2832 closed

[2021-01-10 18:03] pirj commented on #1821
@JonRowe Do you want me to work on this for RSpec 4?

[2021-01-11 08:52] JonRowe commented on #1821
Sure, it seems a reasonable addition, we should probably convert our specs off if/unless to `:skip => <boolean> if/unless <msg>` first as this is compatible with both branches, then make the behaviour change on top of that.

[2021-01-21 16:15] mikejarema commented on #2637
I've contributed a [PR](https://github.com/rspec/rspec-core/pull/2852) which addresses a specific situation in which `rspec --bisect` hangs.

Specifically when encoding is set to UTF-8 (eg. by Rails) and the forked child process tries to send back BINARY/ASCII-8BIT encoded data to the parent, but the communication channel (`Bisect::Channel`) rejects it silently due to the encoding mismatch. The pa

[2021-01-31 09:23] AirWick219 commented on #2211
@JonRowe Do you have any example for forking the process before invoking Rspec's runner?

We have a gem that pulls common configuration and gems together to share for a couple of our apps. The gem loads up a config yml file from the consuming app in the gem's railtie and we want to test the effect from the different configurations. We set up a dummy app in our gem we did this in the `rails_helper.

[2021-01-31 11:35] JonRowe commented on #2211
`load` takes a filename see: https://ruby-doc.org/core-3.0.0/Kernel.html#method-i-load where as `require` will take slightly looser feature names, https://ruby-doc.org/core-3.0.0/Kernel.html#method-i-require

Forking is covered by: https://ruby-doc.org/core-3.0.0/Kernel.html#method-i-fork it's essentially `fork { # do things in fork }`

[2021-01-31 17:00] AirWick219 commented on #2211
O ic. But where do I fork the process? would it be somewhere within the `spec` folder in my gem like  `spec_helper.rb` or in the test file? or is that somewhere inside `bin/rspec`?

[2021-01-31 17:13] JonRowe commented on #2211
If you wish to fork the runner, you must fork in your own code, and invoke RSpec yourself.

[2021-01-31 17:21] AirWick219 commented on #2211
mhmm ..... does that means I will have to

1. Tell the original process to continue or stop when it hits one of those 2 tests
2. fork the process and kick off the Rspec runner again
3. So it requires 'rails_helper.rb' and load up the dummy app as if it's the first time ??

[2021-02-01 05:02] AirWick219 commented on #2211
Tried something like this in one of those tests. It did load up a different process for the configuration but it doesn't seem like it kick off the test. Am I missing something here?

[code]

[2021-02-01 19:22] pirj commented on #2211
What if you also `require 'rspec/autorun'`, @AirWick219?

[2021-02-01 19:24] JonRowe commented on #2211
Read the source of the `ForkRunner` / `RunDispatcher` within the bisector for an example of how to control flow within a fork: e.g. https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/bisect/fork_runner.rb#L93-112

Its not something that works out of the box.

[2021-02-04 02:34] enkessler opened #2859 "Rake task does not respect 'pattern' flag"
### Subject of the issue
RSpec CLI options read from a configuration file are treated differently depending on if they are used with the RSpec CLI or the RSpec Rake task. In particular, the `--pattern` flag is being ignored when running with the Rake task but works fine with the CLI.

### Your environment
* Ruby version: Ruby 3.0
* rspec-core version: 3.10.1

### Steps to reproduce
Here's a tiny r

[2021-02-04 07:28] pirj commented on #2859
The rake task passes `--pattern` option to `ruby rspec` command, and CLI options take precedence over `.rspec` options, see https://relishapp.com/rspec/rspec-core/v/3-10/docs/configuration/read-command-line-configuration-options-from-files

I suggest setting the `t.pattern = ` option in your Rakefile to the same pattern you use in `.rspec` as a workaround.

It's a mystery to me why we _always_ exp

[2021-02-04 20:35] JonRowe commented on #2859
The history here is that the rake file allows configuring a pattern, independently of rspec. It always has, since before RSpec was RSpec and before the pattern cli option existing. Originally it applied the pattern itself and produced a list of files, but this caused an edge case where no matching files would cause all files to run (because an empty file list just causes `rspec spec). So changing

[2021-02-04 22:13] pirj commented on #2859
Sounds like something that we should better change in 4.0?

[2021-02-04 22:32] JonRowe commented on #2859
I don't know, there should be no behaviour change by not sending the pattern when its not set, it should be the same as rspec default

[2021-02-05 02:53] enkessler commented on #2859
Right...and that seems bad? Having a default pattern is a fine idea but having the Rake task provide that default seems like making the decision too early in the process because there could be (and in this case is) another source of configuration information to use.

That'll be my approach in the short term and I'll have to stick the pattern into an `ENV` variable that I can then embed in my `.rsp

[2021-02-05 15:48] neilsy commented on #2508
A warning would be a big help. Anybody working with services could end up in this situation with a test that hits code that intentionally issues SystemExit. I worked quite a while before I realized that some of my tests were no longer running - unfortunately my SystemExit code was triggering near the last test, so I had very little sign of an issue until I was checking some coverage gaps.

[2021-02-06 19:38] benoittgt commented on #2508
@neilsy Will you be interested to try to submit a PR? :)

[2021-02-08 21:05] pirj commented on #2859
Would you like to hack on it @enkessler ?

[2021-02-09 16:54] askreet opened #2860 "Defining helpers that use let, before, etc."
Hello!

I am trying to define helper methods to de-duplicate some cases where we intercept creation of objects as well as some method calls. I had an idea to make a method which calls `let` and `before` to do this. This seems to work right until I want to call another late-binding construct, e.g. another `let`.

This works:

[code]

However, this does not:

[code]

The use case of the latter would

[2021-02-09 18:09] enkessler commented on #2859
@pirj Unfortunately, I am busy trying to update half a dozen projects already (for which I am the sole maintainer). So, while I tend to stumble into issues like this one, I usually don't have the time to dig in and fix it myself.

[2021-02-09 18:20] pirj commented on #2859
Sure, I understand, @enkessler. No problem.

[2021-02-09 18:34] pirj commented on #2860
Sure, it should be possible in some way.

The example you've provided it hard to reproduce. `deployment_result` mentioned in the error message is not anywhere in the code you've provided. Also `stubbing` method is not defined.

I believe there is nothing actionable here, so I'll close the issue.

Let's continue our discussion on our mailing list, see https://rspec.info/help/

[2021-02-09 18:34] #2860 closed

[2021-02-09 18:54] askreet commented on #2860
Thanks @pirj classic case of trying to sanitize my code as an example. I'll put together a working example outside my codebase and send a message to the mailing list. :+1:

[2021-02-12 23:35] sajjadmurtaza opened #2863 "rspec suddenly stoped working"
Somehow my specs suddenly stop working.

Any clue what could be the reason?

<img width="1457" alt="Screenshot 2021-02-13 at 00 31 47" src="https://user-images.githubusercontent.com/8552702/107833254-fbacf100-6d92-11eb-8b61-ad7535aa07e6.png">

[2021-02-12 23:45] #2863 closed

[2021-02-16 12:19] eregon opened #2867 "Warning[:deprecated] = true by default in RSpec"
### Subject of the issue

See https://bugs.ruby-lang.org/issues/17591.

The plan of ruby-core hiding deprecation warnings in Ruby 2.7.2 is that test frameworks, like rspec, should enable by default (with `Warning[:deprecated] = true if Warning.respond_to?(:[]=)`, which only enables deprecation warnings).
This is important so that developers see warnings in development, and that they see the warnin

[2021-02-16 20:01] pirj commented on #2859
Fixed in #2868, will be released as part of RSpec 4.0.

[2021-02-16 20:01] #2859 closed

[2021-02-16 22:54] JonRowe commented on #2867
For RSpec 3.x I won't change the default, I'd consider that a breaking change. If there was overwhelming support for it in 4.x I might consider making it the default as long as it was suppressible, but I'd prefer it remained an opt in behaviour (because there are very verbose libraryes out there) which we already allow (with `--warnings`, which is supported via `.rspec` etc).

An alternative I'd h

[2021-02-16 23:49] eregon commented on #2867
I think you are confusing with `ruby -w`/`$VERBOSE = true`.
This is only about deprecation warnings.
Such warnings if ignored pretty much guarantee the library will not work and break on the next Ruby version.
I'd bet most gem maintainers wouldn't want that, they'd rather be warned in advance if something is going to change in an incompatible way, that's the whole purpose of these warnings.

For i

[2021-02-17 00:02] eregon commented on #2867
For more background on the change in 2.7.2, I think this comment is helpful: https://bugs.ruby-lang.org/issues/16345#note-31
The idea is: deprecation warnings are useless for end users, but important for developers. The chosen way to address that is to hide them by default, and enable them by default in development (test frameworks, REPLs, etc).

[2021-02-17 11:26] JonRowe commented on #2867
This is only about deprecation warnings.

I am not confused, it is not up to us to decide to emit deprecation warnings, if Ruby makes that choice, that is there decision, but they got push back and added this option to turn them on at a users discretion.

But that is not our decision to make for other libraries. We already check that RSpec itself produces no warnings, it's even part of our spec su

[2021-02-17 15:04] eregon commented on #2867
I guessed that because you mentioned `--warnings`, `-w` and warnings in general, which are basically unrelated to this issue.

That's a simplistic view of it. It was made opt-in because [for end users](https://bugs.ruby-lang.org/issues/16345) (!= developers) the deprecation warnings cannot be acted on.
For developers, the warnings should be on by default, I believe ruby-core agrees to that without

[2021-02-17 15:12] eregon commented on #2867
BTW, part of my motivation to fix this is I've seen many gems that try to be compatible with Ruby 3, often do it [incorrectly](https://eregon.me/blog/2021/02/13/correct-delegation-in-ruby-2-27-3.html), and they probably completely missed the deprecation warnings of 2.7, which could have been useful to migrate earlier or more easily. Due in part to test frameworks not showing these important warnin

[2021-02-17 15:47] jeremyevans commented on #2867
My opinion is that Ruby should always emit deprecation warnings, and software designed for end users should use `$VERBOSE = nil`.  I think it was a mistake to change Ruby to not emit deprecation warnings by default.

@eregon is right that ruby-core expected that test library developers would enable deprecation warnings by default.  If RSpec doesn't want to do that, considering RSpec's popularity,

[2021-02-17 16:38] pirj commented on #2867
It's not up to us to ease the migration of the code that is outside of our control.
We'll do everything that is possible to properly delegate in our code.
Even if it was a mistake to turn warnings off I'm Ruby 2.7.2, it would be a strange move to turn them back on.

[2021-02-17 16:49] JonRowe commented on #2867
Deprecations are warnings. I mentioned RSpec's own `--warning` mode which includes setting `Warning[:deprecated] = true` a change stemming from an earlier issue you yourself opened.

I saw developer push back about it on the Ruby issue tracker, as I am not privy to the internal debates of the Ruby team I took that to be the cause of the subsequent change, I apologise for not investigating further

[2021-02-17 18:33] eregon commented on #2867
Actually up to and included Ruby 2.7.1, deprecation were shown by default.
So if RSpec did this, I see it as no breaking change but rather a continuation of existing behavior (it was like that up to Ruby 2.7.1) and I would consider it a help in development and for testing (e.g., might save a lot of time to understand why some specs don't work).
I do see it might actually break CI for someone when

[2021-02-17 18:47] pirj commented on #2867
@JonRowe I can work on this for RSpec 4, ok to tag this ticket as such?
Should I include an opt-out configuration option? Any suggestion for the name? `config.suppress_ruby_2_7_2_deprecation_warnings!`?

[2021-02-18 21:07] JonRowe commented on #2867
We have a couple of options either it could just be a `true/false` config that is used to decide wether we call `Warning[:deprecated] = true` or not before a spec run or not but then theres an argument for where we turn it on, wether it should be before spec file loading (which would be my vote) or before specs run. We could defer that decision to the user however, and default to before spec files

[2021-02-20 06:44] myronmarston opened #2871 "Consider excluding Changelog.md from gem releases (or prune it periodically)"
The `Changelog.md` file is quite large--105 KB according to `ls`:

[code]

According to [rubygems.org](https://rubygems.org/gems/rspec-core), rspec-core 3.10.1 is 161 KB, meaning the Changelog is approximately 65% of the total size of the rspec-core gem.

In my experience, Ruby developers rarely look at the Changelog file within a local gem install. I don't think most ruby developers know the exac

[2021-02-20 08:13] JonRowe commented on #2871
I don't see a reason why we couldn't prune the maintenance branch change log to just that branch so that releases contain a subset

[2021-02-20 13:36] benoittgt commented on #2871
I don't think we should include it.

[2021-03-03 15:49] stevenm111 opened #2879 "Cannot access RSpec results in config.after(:suite) do - Require Documentation"
### Subject of the issue
In attempting to build a webhook for RSpec results I cannot find clear documentation on the obj that stores the results of the tests I can call the formatters and dump etc but they are empty.

Is there a handy object to pull the notifications from that builds the results to post to a webhook ?
I was trying to collect them to send to a formatter, however,  but cannot find t

[2021-03-03 19:43] JonRowe commented on #2879
If you wish to receive the life cycle notifications you need to build a "formatter" that receives them, and register it to receive them. You can find the protocol for that documented here:
https://rspec.info/documentation/3.9/rspec-core/RSpec/Core/Formatters/Protocol.html

The reporter will call registered formatters at the right point with the information required.

[2021-03-03 19:43] #2879 closed

[2021-03-03 20:25] pirj commented on #2879
@stevenm111 In addition to what @JonRowe said, you can check the discussion in https://github.com/rspec/rspec-core/issues/2801

[2021-03-03 22:30] stevenm111 commented on #2879
Thanks Jim / Pirj,

Pirji this has really helped , the dump_summary hook is exactly what I'm looking for , however it appears to be overcomplicating an issue, Its not that I'm wanting to change the console output or the format of it, Im just wishing to grab it and use it. However as I'm learning they are in different "Events"

I do not wish to have a different command line or pass to a text file o

[2021-03-03 22:50] stevenm111 commented on #2879
PS I'm working on a custom formatter just to see how goes

[2021-03-03 22:57] pirj commented on #2879
@stevenm111 `after(:suite)` is not designed to receive the results of the test suite run.
Take a look at [this formatter](https://github.com/rspec/rspec-core/blob/fe3084758857f0714f05ada44a18f1dfe9bf7a7e/lib/rspec/core/formatters/json_formatter.rb#L9) and adjust it to your needs. [`dump_summary`](https://github.com/rspec/rspec-core/blob/fe3084758857f0714f05ada44a18f1dfe9bf7a7e/lib/rspec/core/forma

[2021-03-04 00:31] stevenm111 commented on #2879
@pirj

THANK YOU

I now have this working a TREAT, I so appreciate your patience and advice on this, especially taking ownership of the issue and working through it even though I was slow.

For anyone else working through this here's what I did

in rspec.rb   config file

    --require spec_helper
    --require custom_formatter.rb --format CustomFormatter --format progress

This calls the custom f

[2021-03-04 09:52] JonRowe commented on #2879
Formatters are called formatters because they historically were only used to provide output to the CLI and were quite rigid, we gradually expanded that to allow custom formatters and in RSpec 3 completely rewrote them to be a pub sub model.

The key thing I think you may still be missing here is you can have multiple, so you can add a normal output formatter and a custom formatter to subscribe to

[2021-03-04 10:03] stevenm111 commented on #2879
Morning Jon

Thanks for that, yes much cleaner and tidier, that's a cleaner method as well, so will continue to test usability and content for a while and then add to possible refactoring stuff. But a gem is the end goal with no user input other than a token load.

Thank you both so much for help to date :)

[2021-03-04 12:00] JonRowe commented on #2879
You should be able to do:
[code]
Etc, you might want to add some logic in your file about seeing if theres only the default configured and if so configured those as well, but essentially it should be entirely doable that you only need the end user to require your one file.

[2021-03-11 21:32] pirj commented on #1821
Fixed in https://github.com/rspec/rspec-core/pull/2874

[2021-03-11 21:32] #1821 closed

[2021-03-11 22:27] pirj commented on #2807
Judging by the spec name you're using a controller spec, which is according to [its docs](https://relishapp.com/rspec/rspec-rails/v/4-0/docs/controller-specs):

[code]

For testing the content of the page, [Feature specs](https://relishapp.com/rspec/rspec-rails/v/4-0/docs/feature-specs/feature-spec) would be more appropriate, and they provide [Capybara matchers](https://github.com/teamcapybara/cap

[2021-03-11 22:27] #2807 closed

[2021-03-18 21:22] voxik opened #2882 "Future of RR support?"
It seems that RR since version 1.2 have dropped support for RSpec:

https://github.com/rr/rr/issues/65

and since that time, the RR test cases fails:

[code]

Therefore I wonder, what is the future of RR support?

[2021-03-18 21:37] pirj commented on #2882
Mocha seems to be more popular than `rr`, and we provide our equally popular`rspec-mocks`.
If might not a big deal to implement (see [Mocha glue code](https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/mocking_adapters/mocha.rb)). And as [it's pointed in `rr` discussion](https://github.com/rr/rr/issues/65#issuecomment-233746638), it's some moving of stuff around broke the integration.

W

[2021-03-19 14:46] voxik commented on #2882
I was thinking more about proposing to retire the RR support. Currently, the RSpec test suite runs again version of RR from 2013:

https://github.com/rspec/rspec-core/blob/ea8554afd1a2b63677c6593059fa8f2476181deb/rspec-core.gemspec#L55

I don't think this is very helpful.

[2021-03-19 14:57] JonRowe commented on #2882
This is something we could drop in version 4 @pirj if you wanted?

[2021-03-24 21:33] dmolesUC commented on #1929
@JonRowe Is there any way to suppress the summary? I'm deliberately adding two formatters, one XML (via [ci-reporter](https://github.com/ci-reporter/ci_reporter)) for CI, one `:documentation` because I want to be able to glance at the output in the terminal or log. What's the value in generating one summary per formatter?

[2021-03-24 21:38] JonRowe commented on #1929
Yes, a formatter does not have to register to receive it.

We generate one summary and send it to all formatters registered for the summary notification. It is up to the formatters to decide if they're interested in the summary and what to do with it if so.

[2021-03-29 19:01] dmolesUC commented on #1929
Thanks — I'll either monkey-patch something or take it up with the formatter authors.

[2021-04-02 19:35] krb-trustwave commented on #2384
I agree that this would be extremely useful and it would be great if this were available out of the box. Other things I'd love to see are display of file and line for each test as it runs, and a timing of how long each test takes. I don't mean to be greedy, I realize that this is open source and rspec is already a great tool. I wish I had time to do this myself.

[2021-04-06 07:12] cmdr-pushpendra-singh commented on #2315
@shiralwz Thanks it works for me

[2021-04-07 20:02] pirj commented on #2882
Fixed in #2884

[2021-04-07 20:02] #2882 closed

[2021-04-09 19:31] JoshCheek commented on #2377
This is what I wound up with:

[code]

[2021-04-13 13:09] jasonkarns opened #2885 "bisect does not print options provided via SPEC_OPTS nor print the seed used"
### Subject of the issue

For Reasons™, on CircleCI, we pass our seed for bisect jobs via `SPEC_OPTS` instead of the cli.

The output of a `--bisect` run prints the options it was run with, but it does not include options provided via `SPEC_OPTS`.
This is confusing. I'm not certain if the `--bisect` run is reliably using the seed I've provided; as its output differs from normal rspec output when a

[2021-04-14 03:18] khiav223577 commented on #2535
I just write a simple helper method which remove common prefix of two strings before using `rspec` expectation, so that `rspec` will be able to display the mismatch part between two strings.

[code]

[2021-04-14 23:22] pirj commented on #2885
I see this:
[code]
and this:
[code]
and also this in `lib/rspec/core/bisect/shell_command.rb`:
[code]

Can you confirm or refute that bisect sub-processes are picking up configuration from `SPEC_OPTS`, specifically the seed?

Otherwise, just like with [loading configuration options from files](https://relishapp.com/rspec/rspec-core/v/3-9/docs/configuration/read-command-line-configuration-options-f

[2021-04-16 16:54] hasmanyguitars commented on #1793
I modified the example above from @myronmarston a bit so that you can see the values of each tag:

[code]

[2021-04-19 21:23] JonRowe commented on #2885
It doesn't report the seed, but as far as I know it is respected, and in fact it is mentioned in a failing reproduction command:

[code]

[2021-04-19 21:27] JonRowe commented on #2885
When it says "using options" it is specifically meaning command line options, without --bisect, so I guess the output should be improved, the config has already been loaded at this point, but we don't have anything that could convert the config back into anything, so we rely on the original args.

We do include the environment in the reproduction command, so we could also output it at the start fo

[2021-04-20 09:50] pirj commented on #2885
There's a `--bisect=verbose` option, and the output is:
[code]

Would you like to send a PR that would also print all other options used by bisect when the mode is `verbose`, @jasonkarns ?

[2021-04-22 05:18] sriedel commented on #2871
My 2 cents as a user: I don't think it's neccessary to trim the changelog; the size reported by rubygems.org is the size of the .gem file, which is compressed and text files usually compress well. So comparing the uncompressed size of the changelog to the compressed size of the total gem file can lead you to wrong conclusions. The installed size of rspec-core-3.10.1 for me is ~790k:

    rspec-cor

[2021-04-22 05:26] sriedel commented on #2535
Scanning through the discussion here, there is one simple solution that is missing that would help me 95% of the time when I encounter this issue: Provide an option that when enabled just prints out the complete actual and expected strings, without diffing or trimming (and maybe add a switch to disable it by default if running an entire suite and enable by default if running a single spec). Usuall

[2021-04-23 19:12] MatheusRich opened #2890 "Allow array as value for `type` key in `Configuration#include`"
### Subject of the issue

I want to be able to pass multiple types in the `type` config of the method `RSpec::Core::Configuration#include`. This would allow  a cleaner configuration.

### Your environment
* Ruby version: ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-linux-musl]
* rspec-core version: rspec-core 3.10.1

### Steps to reproduce

This is the current way of including a config

[2021-04-23 19:57] pirj commented on #2890
`type` is regular metadata. Introducing special handling for `type` doesn't seem to be justified, especially if it's for `include` only.
Changing how we handle metadata in the common case is a risk of breaking someone else's code, e.g.:
[code]

To my taste, this would be a bit too magical, and would add more complexity, while we strive to simplify how it works. See
 - https://github.com/rspec/rspe

[2021-04-23 20:17] MatheusRich commented on #2890
I have nothing specifically in mind, I just wanted to get this conversation started.

[2021-04-28 12:03] JonRowe commented on #2890
Can I suggest that this is already catered for by Ruby?
[code]

[2021-04-28 13:30] MatheusRich commented on #2890
@JonRowe That definitely works, I just opened the issue to check if there's any other way to do it or if it is a common pattern so we could handle it at the library level.

Is there any other config that would benefit from an array/proc like we discussed above?

If not, i guess we can close this one.

[2021-04-28 15:21] pirj commented on #2890
Can't tell of the top of my head.

Proc and `each` approaches are there already.
Since it's already quite tricky and magical at times. Misconfiguration is sometimes hard to pinpoint.
I'd rather keep it as is if there's no major benefit.

Thanks!

[2021-04-28 15:21] #2890 closed

[2021-05-03 12:22] benoittgt commented on #2535
@sriedel Did you try to use `RSpec::Support::ObjectFormatter.default_instance.max_formatted_output_length` ?

[2021-05-06 20:14] jasonkarns commented on #2885
It's very unlikely that I'll be able to submit a patch to that effect.

[2021-05-06 23:34] pirj commented on #2885
Do you think anything actionable is left, @jasonkarns ?

[2021-05-31 06:07] dogweather commented on #2377
What file does that go into? Is there other config necessary to enable it?

[2021-05-31 06:41] pirj commented on #2377
@dogweather Any file that loads along with tests. Easiest is to add this code to `spec/spec_helper.rb`.
Let's continue the discussion in our mailing list https://rspec.info/help/

[2021-06-04 14:40] cromega opened #2892 "end-less methods cause hangs"
### Subject of the issue
Ruby 3's end-less methods seem to make Rspec hang when a method raises an error.

### Your environment
* Ruby version: 3.0.1
* rspec-core version: 3,10.1

### Steps to reproduce
[code]

[code]

### Expected behavior
This test run should produce a failure with stacktrace and error details as the example doesn't expect the error.

### Actual behavior
RSpec hangs indefinitely

[2021-06-04 18:45] pirj commented on #2892
Interesting, thanks for reporting.
I suspect the problem is somewhere in https://github.com/rspec/rspec-support/tree/main/lib/rspec/support/source/
Would you like to hack on this given all the support and guidance necessary?

[2021-06-05 10:50] cromega commented on #2892
Thanks for the pointers, I will give it a stab.

[2021-06-05 14:24] cromega commented on #2892
I added a test case to the snipper_extractor tests which will come in handy verifying the fix later.

I don't see a simple fix however. The assumption that a token can tell whether it's an opening token does not hold anymore.

[code]

are both valid methods. The solution involves changing the logic for figuring out what's an opening token. Most likely changes will need to be made both to the snipp

[2021-06-05 19:49] pirj commented on #2892
You're right.
I'm not sure behind the reasoning for the solution to use source tokens. Maybe Ripper didn't provide line numbers back then?

Wondering if `line_range_of_expression` can be simplified to use the information that `expression_node.sexp` already has.
For
[code]
`expression.sexp` is:
[code]

For:
[code]
it's
[code]

`line_range_of_expression` should return `3..4`, and it's visible in sex

[2021-06-09 09:16] odinhb opened #2893 "Determining the rspec context in which a helper method is run"
### Subject of the issue
I'm writing a small helper function for my test suite, and I'd like to protect both future me and my colleagues from using said method inside rspec's `before(:all)` hook (or extensions that run in the same context like `let_it_be/before_all` from test-prof). It just doesn't make sense to run it in that way.

The current way of detecting this context relies on the string ou

[2021-06-09 10:55] pirj commented on #2893
Sounds like a reasonable addition. Would you like to take a stab at it?

[2021-06-09 20:48] odinhb commented on #2893
Indeed. Although I'm not sure what exactly the design should be.

[code]

I'll find some time to tinker with it. Maybe I'll come up with more ideas then?

[2021-06-09 21:56] pirj commented on #2893
The usage of `context` is ambiguous here. I believe `scope` is more appropriate.

I might be mistaken, but it might be that the `before(:context)` returned by `inspect` originates from here:
[code]
There's yet another dimension, though `before`/`after`:
[code]
however, it's of no use to the consumers that you've mentioned.

The usefulness of the new indicator would be focused around providing info

[2021-06-10 06:26] odinhb commented on #2893
For the helper I implemented it also doesn't make sense to run it in an after(:context) hook, so It would be useful to detect that in some way. I just forgot/didn't think about it. I deemed it too unlikely that someone would use the method in that way.

I get it though. It doesn't make sense to implement a complicated interface nobody will use.

[2021-06-10 07:29] pirj commented on #2893
This new thing will be easy to use in `rspec-rails`. Say, when Rails hits 7.0, `rspec-rails` hits 6.0 and will depend on the rest of RSpec projects to be `4.0+`.

There's still time to push this to `rspec-core` 4.0.0, or even 3.11.0.
It's a bit more complicated with `test-prof` though. It has just hit 1.0 recently, and I'm not confident if they would like to adopt a minor code improvement sacrific

[2021-06-10 08:37] JonRowe commented on #2893
For implementation, this needs to be thought through a bit, suite hooks are executed by the runner, example group hooks at the class level for that class, and for examples its the instance themselves.

Thus for a consistent api we would have to have potentially 3 places to access the current "context status", which is tricky for the example itself, because we want that API to be super low api surf

[2021-06-10 09:20] JonRowe commented on #2892
@yujinakayama can you provide an insight as to why the original was built the way it is? Or any hints on how to fix this?

[2021-06-11 10:05] odinhb commented on #2893
Not sure how easy it is to implement (haven't touched the code yet), but I have an idea:
[code]

That way there's no way anybody has defined a variable/let block/method that conflicts w/ the api.

[2021-06-11 10:54] yujinakayama commented on #2892
I'll take a look.

As far as I remember I made SnippetExtractor to utilize tokens to detect expression lines correctly (like [this](https://github.com/rspec/rspec-core/blob/247d0a706ffa955718d600f3588aeb1e60cebde4/spec/rspec/core/formatters/snippet_extractor_spec.rb#L108-L120)) since such information is not included in AST.

[2021-06-15 17:08] odinhb commented on #2893
So I found some code in example_group.rb. Which already kinda implements this. It's 5 years old.

f8e555dc4762df49029488ee94aaabbea98a5ec5

Problem with this method is that it raises you a `WrongScopeError` about not being available outside an example group both when inside an example and when inside before/after hooks.

[2021-06-15 18:20] pirj commented on #2893
Nice find!
Do you think if it won't raise if you implement an instance method with the same name? I believe it could always return `false`.

I'm not certain if implementing it under `RSpec` is a good idea. We're thinking of making RSpec thread-safe, and depending on how you'd implement it, would share the state between threads.

[2021-06-15 19:03] odinhb commented on #2893
I could give that a shot, but I'm not a big fan of the api. Do you think anybody is relying on the existing method?

So far I've implemented it on `RSpec::Support.thread_local_data[:current_scope]` which I found by virtue of the similar `RSpec.current_example` accessor. Wouldn't this be thread-safe?

[2021-06-15 19:55] pirj commented on #2893
Should be perfectly fine.

Quite unlikely, but still possible.
It's not marked explicitly as a part of the private API, so our obligation is to keep it intact in between major versions. If we happen to decide to remove it, we still have time to do so before RSpec 4 is out.

Is it the fact that the method is available in both scopes, but would be implemented differently for them concerning you?

👍

[2021-06-15 20:22] odinhb commented on #2893
If someone needs to differentiate between before/after or before(:all)/before(:each) the api is not extensible without adding *yet more* cruft to the public api of examples **and** example groups.

I'll send a PR soon. The implementation was really more of an experiment, but I'll give you something concrete to look at now.

[2021-07-06 17:10] markburns opened #2896 "Feature request: Cover multiple scenarios with concise syntax"
### Subject of the issue
Testing multiple edge cases with concise syntax.

### Your environment
* Ruby version: Any
* rspec-core version : Future

### Steps to reproduce
N/A

### Expected behavior
I think a little code snippet gets the points across.
Something I have found useful is doing this kind of thing:

[code]

I end up re-implementing similar versions of this from time to time.
Here's a sim

[2021-07-06 19:11] JonRowe commented on #2896
I would implement this using shared examples, which is intended for this sort of repetition:

[code]

[2021-07-06 21:29] imran-iq opened #2897 "Inconsistent behaviour with `--pattern` and specifying which files to test"
### Subject of the issue
If the default pattern is provided (by omitting `--pattern` or passing it in with its default value `--pattern '**{,/*/**}/*_spec.rb'`)
we are able to filter which tests to run by providing a file via invocation and only that files tests will run

If we change the pattern to something other than default, we lose that behaviour

There is also another issue where the default

[2021-07-06 22:13] pirj commented on #2896
It would make an interesting RSpec extension. But with an existing alternative notation, I would suggest keeping it as an extension, and keeping the core less TIMTOWTDI.

[2021-07-07 05:38] markburns commented on #2896
Fair points.

I've found shared example failures to be pretty opaque in the past, but it could have been how they were used.

I'll take another look at that approach. Named keywords looks like a good simplification. It sounds like addressing any issues with shared_examples would be a better focus if I can remind myself what the troubles were.

[2021-07-07 09:23] JonRowe commented on #2897
So a couple of things, firstly you've made an assumption that the pattern applies to the working directory but it does not, it applies to the configured default directory which is `spec` (see: https://relishapp.com/rspec/rspec-core/docs/command-line/pattern-option). So the expected behaviour is actually:

2. Only tests files under spec/
3. Only tests spec/model/model_spec.rb (expected)
4. Only tes

[2021-07-07 11:27] markburns commented on #2896
Hey so I'm re-opening this, just to say I have tried out the shared_examples approach.

I do still find it to be quite opaque for understanding failures.

What would your thoughts be on automatically adding in a context similar to the above that uses passed in arguments to describe the context?

Is that something worth pursuing?

[2021-07-07 11:30] markburns commented on #2896
To clarify, to add this to the `shared_examples` functionality rather than this proposed `with_lets` method

[2021-07-07 11:38] pirj commented on #2896
You can do that, too:
[code]
Even simpler when you use `**kwargs`. To define `let`s, you can use this one-liner:
[code]

[2021-07-07 12:01] markburns commented on #2896
Yes, that's possible, but from what I've seen, I don't think generally people actually _do_. So you get identical opaque failure messages. Which probably leads to less people using them. And then people like me still wanting something briefer.

Would there be disadvantages to adding in these contexts by default? Each time you use a new combination of arguments for a shared example, it seems to me

[2021-07-07 12:18] JonRowe commented on #2896
Shared examples uses a new context each time already

[2021-07-07 12:23] markburns commented on #2896
Ok so I'm just on mobile now but will look at the code later.

Maybe I need to rephrase it as "would there be any issues with automatically naming these contexts by default in a way which makes the failure output more useful"

[2021-07-07 12:27] JonRowe commented on #2896
The name is generated from the method used to invoke the group, and the name of the shared examples, inspecting meta data is potentially possible but would create potentially rather large names which are also class names, (basically we can't guarantee that they are primitives)

[2021-07-07 12:31] markburns commented on #2896
Ah I see.

Ok well perhaps I'll gemify it at some point.

Thanks for your time.

[2021-07-07 12:31] #2896 closed

[2021-07-07 13:06] pirj commented on #2896
Unless used with `include_examples`.

@markburns What do you propose exactly, how would it look in specs?
Something like that?
[code]

To keep in mind, `it_behaves_like` accepts a block that you can also use to define `let`s:
[code]
but in this case it won't be possible for a shared example group to have a description that includes `baz`.

[2021-07-07 13:15] markburns commented on #2896
@pirj in an ideal world it would just be

[code]

But I'm not sure it's all that viable with the caveats you and Jon have presented.
I suppose if I were to address your `it_behaves_like` scenario, I'd say that the generated context containing only the `foo: 1, bar: 2` would be the least surprising thing.

Given that `with_lets` does what I want and is a small amount of code though I think it does

[2021-07-30 22:45] fedgut commented on #2776
PR in here https://github.com/1DocWay/th-connect/pull/1

[2021-08-13 14:33] ilyazub commented on #2535
@benoittgt @kevinburkeomg Thanks for suggesting `max_formatted_output_length`.

Just adding that it can be set like this ([docs](https://rspec.info/documentation/3.10/rspec-expectations/RSpec/Expectations/Configuration.html#max_formatted_output_length=-instance_method)):

[code]

Thanks to [this StackOverflow answer](https://stackoverflow.com/a/64278755/1291371) by @pjmartorell.

[2021-08-14 16:12] #2893 closed

[2021-08-16 18:34] jamesst20 commented on #2663
Thanks! I had the same issue and the workaround fixed it

[2021-08-17 10:00] pirj commented on #2663
Just to clarify - it's not a workaround, it's just Ruby.

[code]
expands to:
[code]
and the last one wins.

[Shared examples](https://relishapp.com/rspec/rspec-core/v/3-10/docs/example-groups/shared-examples) are usually a better solution.

[2021-09-09 15:53] Startouf commented on #2315
Adding this at the top of my rails_helper (above `require`s)

[code]

works

[2021-10-10 17:27] yujinakayama commented on #2509
@myronmarston Thanks for the feedback!

Oh, sorry. I didn't image that the mentions were included in the commit messages. I'll modify them as you suggested next time I rebuild the monorepo.

Yeah, it's tested in [this spec](https://github.com/yujinakayama/rspec-monorepo-migration/blob/6c0be29a6f306f04897a67566f771855b3bd6ca7/spec/monorepo_spec.rb#L97-L100) by comparing lists of files with digests.

[2021-10-14 11:06] yujinakayama commented on #2509
For the issue of the orphaned branches, I found new facts, which are good news:

* The orphaned branch for `v2.11.2` and `v2.11.3` in rspec-core is actually a partial duplication of rspec-mocks repo.
* The orphaned branch for `v2.2.1` ... `v2.7.1` in rspec-mocks is actually a partial duplication of rspec-core repo.

<details>
<summary>orphaned branch in rspec-core</summary>

[code]

</details>

<d

[2021-11-15 13:16] BroiSatse opened #2919 ".rspec configuration works only when calling rspec form the containing folder"
### .rspec file ignored when executing test while in a subfolder
`.rspec` file works as expected, but only when running tests from the directory containing .rspec file.

### Your environment
* Ruby version: 2.7.2p137
* rspec-core version: 3.10.1

### Steps to reproduce
Having any test suite with `.rspec` file, enter `spec` folder and run `rspec .` - tests will be executed without `.rspec` configur

[2021-11-15 16:21] #2919 closed

[2021-11-15 16:22] JonRowe commented on #2919
Sorry, this is by design, we don't want to recursively check folders for `.rspec` files, that gets problematic in mono repos or vendored projects and for example would mean we require home folder `.rspec` files twice, the expectation is you run rspec from the project root.

[2021-11-18 14:31] dorianmariefr opened #2920 "`config.around(:each)` doesn't behave the same as `around(:each)`"
### Subject of the issue

I often need to test the content of the emails sent in my app, so I do:

[code]

I want to avoid repeating the same code everywhere, so putting that in the `spec/rails_helper.rb` I do:

[code]

except that by doing that it "doesn't work"™️, e.g. my tests fail

### Your environment

* Ruby version: ruby 3.0.2p107 (2021-07-07 revision 0db68f0233) [x86_64-darwin20]
* rspec-c

[2021-11-18 15:53] JonRowe commented on #2920
What happens if you put in your `spec_helper.rb?`

[2021-11-18 16:35] dorianmariefr commented on #2920
I get the same failures

[2021-11-18 17:11] JonRowe commented on #2920
I just wanted to rule out a load order issue caused by rails helper potentially being loaded after the spec run had started

[2021-11-18 18:13] pirj commented on #2920
Do you plan to run this hook conditionally? Have you considered setting the following in this case?
[code]

[2021-11-18 19:04] pirj commented on #2920
I can reproduce this.
Didn't dig further, but it appears to me that the issue is similar to https://github.com/rspec/rspec-rails/issues/2526#issuecomment-944882543.

I can suggest using the same workaround with `shared_context` if the above trick with a global setting won't work for you.

[2021-11-25 21:43] malclocke opened #2921 "User-defined metadata is not passed to examples without descriptions"
### User-defined metadata is not passed to examples without descriptions
May or may not be considered a bug, but it doesn't seem to be possible to pass user-defined metadata to an example (I think `describe` and `context` too) without a description.  It's probably not considered best practice but writing examples without a description is something I do in the wild fairly often:
[code]
Whilst examp

[2021-11-26 14:16] pirj commented on #2921
Thanks for bringing this up.
This is as designed:
[code]
Methods defining examples consider the first argument as a docstring, even if it's an option hash.
This is also the case for `specify` that doesn't usually come with a docstring.

This issue comes up sporadically, I have had the same question myself a while ago. It's probably something worth documenting. I'd suggest adding a new file, `featu

[2021-11-26 14:16] #2921 closed

[2021-11-28 20:51] JonRowe commented on #2921
I'd add we encourage docstrings, as one of the points of using RSpec is to provide descriptive tests, its one of the reasons we've extracted (essentially soft deprecating) things like the `its` one line syntax extension.

We could add a warning if there isn't a string passed as the first argument, maybe in RSpec 4?

[2021-11-29 08:40] pirj commented on #2921
Indeed!
There are more legitimate cases when it's not a string, though.
Class - even if we don't really recommend it since it triggers eager loading. Can be both for top-level example groups and nested, too, e.g.
[code]

Symbols.
[code]
 I'm on the fence with this, since users may think it's used as metadata. Need to gather usages from real-world apps usage.
[code]

[2021-12-31 22:42] jaredbeck commented on #2508
Yes, please! Such a warning will be very helpful, as in https://github.com/rspec/rspec-rails/issues/2441#issuecomment-1003212668

[2022-01-01 14:23] pirj commented on #2508
Does anyone want to send a PR?

[2022-01-25 13:05] yahonda opened #2930 "Ruby 3.1 error_highlight makes `raise_error` specs fail"
### Subject of the issue

Ruby 3.1 error_highlight makes  `raise_error` specs fail because the error message contains error highlights suggestions.

### Your environment
* Ruby version: ruby 3.1.0p0 (2021-12-25 revision fb4df44d16) [arm64-darwin21]
* rspec-core version: 3.10.1

### Steps to reproduce
- ruby31_error_highlight.rb
[code]

### Expected behavior
Both specs should pass.

### Actual beha

[2022-01-25 13:09] #2930 closed

[2022-01-25 13:09] JonRowe commented on #2930
Please upgrade `rspec-expectations` to 3.10.2 which fixed this issue, closing as this is an issue with `rspec-expectations`.

[2022-01-25 13:17] yahonda commented on #2930
Thanks for the useful info.  Confirmed as fixed.

[code]

[2022-02-08 20:19] westonganger opened #2938 "When using `include` to compare hashes, only show mismatching keys"
### Subject of the issue
When using `include` to compare hashes it would be much preferred if the diff only showed mismatching keys. Currently it also outputs keys within the hash provided to `expect` that are not required within the hash provided to `include`

### Your environment
* Ruby version: 2.7
* rspec-core version: 3.10.1

### Steps to reproduce
[code]

### Expected behavior
[code]

### Ac

[2022-02-08 20:34] JonRowe commented on #2938
:wave: This is not an issue for rspec-core, the differ we use is string based and can't intelligently diff things like this.

[2022-02-08 20:36] pirj commented on #2938
This seems to be somewhat related to https://github.com/rspec/rspec-expectations/issues/1120 and couple other [diff-related](https://github.com/rspec/rspec-support/issues/365) tickets.

I wonder if there's more than one or two matching elements, would they be suppressed, like you see in a regular `diff`?
If so, I'd say this is an expected behaviour, even though this doesn't seem to be covered in [

[2022-02-10 12:09] iMacTia commented on #2897
For future readers, I was in a similar situation as @imran-iq since my team is introducing Packwerk into our monolith.
We wanted a way to host rspec tests in the packwerk components, which are inside the /components folder.
I managed to make this work by adding the following to `.rspec`:

[code]

And then a bunch of `require`s broke, because I believe RSpec adds the `default-path` to the `$LOAD_PA

[2022-02-23 09:35] pirj opened #2939 "`let` does not override the "warm-up" behaviour defined for the same memoized reference in the parent context"
### Subject of the issue

`let` does not override the "warm-up" behaviour of `let!` defined for the same memoized reference in the parent context.

### Steps to reproduce

[code]

### Expected behavior

`let(:a)`'s block is never called from the example if not directly referenced.

### Actual behavior

The overridden `:a` is warmed-up as it was set up like that in the parent example group.

[2022-02-23 12:18] JonRowe commented on #2939
Thats expected, `let!(:a) { 1 }` is just `let(:a) { 1 }; before { a }` so when its overloaded its still called.

[2022-02-23 12:18] #2939 closed

[2022-03-16 14:15] zog opened #2941 "Filters on `include_context` are ignored"
### Subject of the issue
Filters on `include_context` are ignored if passed in the *wrong* order

### Your environment
* Ruby version: 3.1.1
* rspec-core version: 3.11.0

### Steps to reproduce

[code]

### Expected behavior

The context should only be included on examples matching the filters

### Actual behavior

The context is always included

### Workaround

Inverting the filters order fixes t

[2022-03-23 21:36] JonRowe commented on #2941
I tested this on `4-0-dev` and it was fixed (using the snippet above) closing for now but please re open if you find an issue against `4-0-dev`

[2022-03-23 21:36] #2941 closed

[2022-03-23 21:41] YarikST opened #2947 "Arguments of shared example evaluated before any `before` block"
### Subject of the issue
Arguments of shared example evaluated before any `before` block. We should mention this in [docs](https://relishapp.com/rspec/rspec-core/docs/example-groups/shared-examples)

### Your environment
* Ruby version: 2.6.8
* rspec-core version: 3.8.2

### Steps to reproduce

[code]

[2022-03-23 22:00] #2947 closed

[2022-03-23 22:00] JonRowe commented on #2947
This is just normal Ruby precendence. Things outside of specs are evaluated before specs are run.

[2022-03-29 18:05] mnicoq opened #2948 "120,"
### Subject of the issue

### Your environment
* Ruby version:
* rspec-core version:

### Steps to reproduce

### Expected behavior

### Actual behavior

[2022-03-29 18:07] #2948 closed

[2022-04-23 11:18] eregon opened #2956 "Less verbose/clearer output for pending spec"
### Subject of the issue

Currently, pending failures are by default shown in a very verbose way, showing the full backtrace and being very difficult to differentiate from real failures (even more so in CI output with no coloring).
Here is an example from https://github.com/rspec/rspec-mocks/runs/6129989849?check_suite_focus=true.
I only post 1 pending (out of 17) otherwise it's near impossible to

[2022-04-23 18:15] pirj commented on #2956
I feel your pain.
At least, printing the backtrace for pending issues does not make much sense to me.
When one comes to fixing/implementing the spec, they remove the pending status, and it would print it.
@JonRowe Does it make sense to you? Ok to make such a change in 4.0?

[2022-04-24 08:10] JonRowe commented on #2956
A shorter backtrace option for reporting pending specs is certainly something we can do, and could even make it opt-in before releasing 4.0.0

[2022-04-26 08:39] dogweather commented on #2535
Thank you, @ilyazub

I wasn't able to translate the knowledge of "RSpec::Support::ObjectFormatter.default_instance.max_formatted_output_length" into how to set it. This seems like an implementation detail. E.g., why not:

[code]

(That fails.)

Or:

[code]

I'm addressing the meta-issue here: it seems like implementation knowledge is required to set options.

[2022-04-26 09:25] pirj commented on #2535
@dogweather you need to put the snippet from the [above comment](https://github.com/rspec/rspec-core/issues/2535#issuecomment-898500368) to your `spec/spec_helper.rb`. That's it.

I agree that the [RSpec Core documentation](https://relishapp.com/rspec/rspec-core/v/3-9/docs/configuration) lacks the basics on how to configure `spec/spec_helper.rb`, and RSpec Expectations documentation has no mention

[2022-04-26 12:59] JonRowe commented on #2535
Its configured the way it is because it is an `rspec-expectations` configuration option, and rspec-core does not require use of rspec-expectations.

[2022-04-27 02:21] dogweather commented on #2535
I think it'd take a re-architecture or new user-friendly config layer to fix this — would there be support for that kind of PR?

[2022-04-27 06:52] pirj commented on #2535
The problem we're dealing in this ticket is that string diff is not displayed in its entirety. It is certainly not user-friendly, and I, personally, keep manually adding `expectations.max_formatted_output_length = 1000` to `spec/spec_helper.rb` in projects I'm working on.

If we look at the [`spec/spec_helper.rb` initializer](https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/project_ini

[2022-04-27 07:21] JonRowe commented on #2535
This issue is about printing different strings even when truncated, increasing the length is a workaround but not the ideal fix

[2022-05-05 23:06] ecoologic commented on #2699
Thank you ❤️

I took your example and re-wrote it following [Better Specs conventions](https://www.betterspecs.org/).

[code]

[2022-05-13 15:16] iftheshoefritz opened #2958 "rescue ExpectationNotMetError is ignored in around block"
### Subject of the issue
I've got a rescue block around `example.run` in an `around` hook. The test fails and exits without running the code in the rescue block.

Context: I'm trying to create a label that when applied will mark an example pending only if it fails; i.e. if it passes I do not want it to make the entire suite fail the way `pending` does.

### Your environment
* Ruby version:
[code]

[2022-05-18 10:48] pirj commented on #2958
There's no obvious workaround for this that comes to mind. Unless [re-running the whole suite](https://relishapp.com/rspec/rspec-core/v/3-9/docs/running-specs-multiple-times-with-different-runner-options-in-the-same-process) without flaky ones is an option.

Your use case resonates with my experience, I'd much rather prefer marking specs as flaky and fix them in a bulk rather than in scope of an u

[2022-05-23 17:11] iftheshoefritz commented on #2958
The hook runs, but the test fails without reaching the rescue block.

[2022-05-23 18:12] pirj commented on #2958
This is as expected, we catch those exceptions [deeper](https://github.com/rspec/rspec-expectations/blob/87588b1614a7be1c6560c5a024ccf8764fd125b9/lib/rspec/matchers/dsl.rb#L136) and only re-raise them in matchers that include expectations (see https://github.com/rspec/rspec-expectations/pull/892).

[2022-05-24 08:20] #2958 closed

[2022-05-24 08:21] JonRowe commented on #2958
You should be able to check the examples run status to see if it has failed.

[2022-06-01 13:48] skatenerd opened #2961 "Stubbing base class constructor gives uninuititive return value"
### Subject of the issue
Stubbing base-class constructor gives unintuitive behavior

### Your environment
* Ruby version:   3.0.0
* rspec-core version: 3.7.1

### Steps to reproduce
[code]

### Expected behavior
Constructing the subclass gives you an instance of the subclass, rather than an instance of the base class (the test should pass)

### Actual behavior
The test fails because `thing` is an

[2022-06-10 22:14] tammersaleh opened #2962 "Force incremental output when $stdout isn't a tty"
I'd like a flag that tells the progress formatter to flush stdout after each `.` so that it's immediately printed to the terminal, even if `rspec` detects that it's not running under a TTY.  (I expect this would be useful regardless of formatter, but this is the formatter I'm currently using)

### Your environment
* Ruby version: 2.7.6p219
* rspec-core version: 3.10.1

### Steps to reproduce

Run

[2022-06-10 22:33] pirj commented on #2962
Are you certain that there is something in RSpec that can fix this? Isn’t it related to the pipe buffer?

[2022-06-10 22:36] tammersaleh commented on #2962
You are correct!

[2022-06-10 22:36] #2962 closed

[2022-06-10 22:37] tammersaleh commented on #2962
(well, mostly! for those who stumble on this because of Google:  I was using a non-standard `cat`.  GNU `cat` is unbuffered by default, so if you try to reproduce this using standard `cat`, you'll see each `.` printed separately.)

[2022-06-27 12:16] tansaku opened #2963 "being able to set custom rspec load path"
### Subject of the issue

I'm looking at a legacy app that has a lot of ruby code in an `api` folder on the root, and a fair amount of custom code to load it to be accessible by the specs.  I'm wondering if there's a simple config option to allow it to be auto-loaded as if the code was in the `app` or `lib` directories?

I've been reading through the docs but not immediately seeing a way to do thi

[2022-06-27 12:19] tansaku commented on #2963
Ah, could I do it with?

[code]

[2022-06-27 12:54] JonRowe commented on #2963
RSpec doesn't do any autoloading, thats down to other libraries (as in Rails, where its Zeitwerk et al) or in built Ruby semantics (such as the autoload directive). You can tweak which folders are available in this fashion by tweaking the ruby options to have `./api` on your load path (even programatically via $LOAD_PATH, which is what gems do in their gemspecs) but this is out of scope for an RSp

[2022-06-27 12:54] #2963 closed

[2022-06-27 15:03] tansaku commented on #2963
thanks @JonRowe so then this RSpec config that adds `lib/` to directories is not controlling which directories are checked for ruby code when RSpec is running? https://github.com/rspec/rspec-core/issues/1983

[2022-06-27 19:06] JonRowe commented on #2963
The config option is to allow you do e.g. `--require 'spec_helper'` and have it mean `spec/spec_helper.rb`, like gemspecs we also add lib at that point as discussed, but there is no autoloading done, just a manipulation of the load path which you can do yourself without our help

[2022-07-29 21:29] pjungwir commented on #2540
This still seems like a bug to me. The "scope" in the docs refers to the optional parameter for `before`/`prepend_before`, i.e. how often the test runs (once per example/context/suite), not what block it's in. Both `before` calls above are for the `:example` scope. Interpreting "scope" as "block" takes away most of the value from `prepend_before`.

[2022-08-03 17:19] JonRowe commented on #2540
The `before` calls are in different classes as part of the heirarchy, the first is parent of the parent class and the second the the actual class.

It doesn't because normally you'd use it to override a `before` you've inherited in your top level class, or via an include, where you don't control the order of the `before` definition, in the example you can easily provide the correct definition.

[2022-08-06 02:27] ioquatix commented on #2700
I've worked through this issue for my own test framework, sus. I decided to load `config/sus.rb` if it exists. I think this fits with most other models. I'd recommend `rspec` does the same, load `config/rspec.rb` if it exists.

[2022-08-19 00:36] rhiknow55 opened #2964 "Metadata leaks between examples and example groups"
### Subject of the issue
Internally in RSpec-Core, when initializing an `Example`, an `ExampleHash` is created.
Within this creation process, the parent `ExampleGroup`'s metadata (which is a Ruby hash) is copied down to the child's metadata.

For initializing an `ExampleGroup`, an `ExampleGroupHash` is created. This seems to create a new Hash, but again keeps the parent example group's metadata.

[2022-09-01 14:06] beviz opened #2965 "Need a `leta` (LET for All) for caching value across all examples"
### Need a `leta` (LET for All) for caching value across all examples

I want to share a value from a slow command among many tests instead of getting it for each test. I also I don't like to define a `@value` variable in `before(:all)` or just `value = slow_command`.  For instance:

[code]

Is there an existing better native way to achieve that or can you add one?

### Your environment
* Ruby ver

[2022-09-01 14:31] #2965 closed

[2022-09-03 13:56] eregon commented on #2867
FWIW, RSpec is the only popular test framework still not showing deprecation warnings to its users (https://bugs.ruby-lang.org/issues/17591). That means it makes it much harder for RSpec users to notice deprecated methods, and most likely they won't notice until something breaking, effectively destroying a significant part of ruby-core's efforts to have a nice transition path with deprecation, etc

[2022-09-11 02:10] ngan opened #2971 "when_first_matching_example_defined should not run for dry run"
### Subject of the issue
I would have expected `when_first_matching_example_defined` to not execute when running with `--dry-run`. It feels in the spirit of:

without running any examples **or hooks**.

### Your environment
* rspec-core version: 3.11.0

### Steps to reproduce
[code]

[code]

### Expected behavior
I should not see "This should not print"

### Actual behavior
I see "This should not

[2022-10-24 08:40] pirj commented on #2964
@JonRowe Should we fix this in 4.0.0?

[2022-10-28 11:30] CoderJayUK opened #2976 "warning: Passing safe_level with the 2nd argument of ERB.new is deprecated."
Running `bundle exec rspec` produces the following error. Infact even running `bin/rspec --version` produces the error:

[code]

### Environment
* Ruby version: ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-linux]
* rspec-core version: 3.5.4

[2022-10-28 11:47] JonRowe commented on #2976
Please upgrade to a later version

[2022-10-28 11:49] JonRowe commented on #2976
:wave: Please use the latest version of RSpec, anything below `3.12.0` is unsupported, and there is a fix related to this already.

[2022-10-28 11:49] #2976 closed

[2022-10-28 11:54] CoderJayUK commented on #2976
Thanks folks, upgraded to 3.12 and errors have gone.

[2022-11-01 07:05] mtasaka opened #2977 "Test failure with rspec-mocks 3.12.0 and ruby 3.2dev"
### Subject of the issue
As seen on https://github.com/rspec/rspec-core/actions/runs/3331958744/jobs/5512427869 , rspec-core 3.12.0 test suite is now failing with ruby 3.2dev like:
[code]

### Your environment
* Ruby version:  I am now using https://github.com/ruby/ruby/commit/4b1504ae0a
* rspec-core version: 3.12.0, as well as rspec-mocks, -support, -expectations all 3.12.0

### Steps to reproduc

[2022-11-01 14:42] pirj commented on #2977
The failure is quite strange at a glance.

It's from [this PR](https://github.com/rspec/rspec-mocks/pull/1461) and it's [released in 3.12](https://github.com/rspec/rspec-mocks/blob/main/Changelog.md#3120--2022-10-26) and the changes are in the [`3-12-maintenance` branch](https://github.com/rspec/rspec-mocks/blob/f4b10a99f94e33d68c311a8177c7b3b669d6a941/lib/rspec/mocks/error_generator.rb#L272).

`"

[2022-11-02 00:46] mtasaka commented on #2977
Just updated https://github.com/ruby/ruby/commit/6bf458eefd and rspec-core testsuite fails as well: build result here:
https://copr.fedorainfracloud.org/coprs/mtasaka/rubygem-newruby-test/build/5002380/

[2022-11-02 10:04] mttkay commented on #2064
Note that this problem is much more far-reaching with Ruby 3, because Ruby 3 changed locking semantics to be per-fiber instead of per-thread with this commit: https://github.com/ruby/ruby/commit/3a3b19b2bba49e5d6f1cf13764eb6dd701397be9

This means that if `threadsafe` is `true`, any test subject that is based on Fibers and calls back into a memoized property (`let`, `subject`) will trigger a deadl

[2022-11-02 10:20] mttkay commented on #2064
@xaviershay Aside from the consideration to deprecate `threadsafe`, should we also default it to `false`? It currently defaults to `true`, and considering that Ruby 2 will reach EOL next March, it sounds like the benefits of `threadsafe` might not outweigh its drawbacks.

[2022-11-02 14:40] Alainx277 commented on #2728
Metadata can be accessed in a global hook like this:
[code]

[2022-11-02 20:18] pirj commented on #2064
You just surprised me twice, @mttkay, and both are valid statements ([[1](https://github.com/rspec/rspec-core/blob/6dede8ae1b9cce6e1de4baa912e77c97b587b446/lib/rspec/core/configuration.rb#L558)], [[2](https://www.ruby-lang.org/en/downloads/branches/)].

The upcoming RSpec 4.0 is a perfect time to change the default.

However, without rushing with this decision, what are the implications of making

[2022-11-03 07:38] mttkay commented on #2064
Yep, agree!

There is another https://github.com/rspec/rspec-core/pull/1858.

This example, and discussion, is just another instance of the old pro-GIL and contra-GIL argument. MRI takes an opinionated approach and says that you should free developers from thinking about these problems and not require a lock in this case. Others disagree and say that providing mutual exclusion under presence of co

[2022-11-03 08:34] JonRowe commented on #2064
We are not changing the default to false, we actually should remove the false option entirely in RSpec 4 per the original plan for its implementation.

[2022-11-03 08:49] mttkay commented on #2064
Do you have an example of how that could happen when multiple fibers but only a single thread are involved? If that is true, then I agree it may be safer to maintain the threadsafe toggle. Otherwise, you're essentially optimizing for the minority of users and uses cases that use multi-threaded test implementations and/or Ruby VMs that do not use a GIL.

[2022-11-03 09:05] mttkay commented on #2064
@JonRowe Here is an executable test case that should demonstrate the sample code posted in the original addition of `threadsafe` operates correctly at the Fiber level:

[code]

This test passes for me in both Ruby 2 and Ruby 3 (MRI). This is because all fibers are serialized in the current test thread and execute sequentially. There are no race conditions.

The problem described in the original MR

[2022-11-03 09:10] mttkay commented on #2064
Side-note: this _may_ of course change if someone uses a different `FiberScheduler`. I have not tested this with community-provided schedulers like https://brunosutic.com/blog/ruby-fiber-scheduler. None of these are currently part of MRI, however, so again this is a choice a developer makes. In that case, the developer should make sure their test code is properly synchronized.

[2022-11-09 07:10] tubaxenor opened #2978 "Allow customising the bisect formatter"
Currently bisect runner has 2 formatters: https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/invocations.rb#L46-L47
Since they are not configurable, currently we can only parse the result from either stdout or monkey patch the formatter's `bisect_repro_command` method to get the `repro` from bisect notifier: https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/bisect/coordinator.

[2022-11-09 08:07] pirj commented on #2978
Can you monkey patch `Bisect#bisect_formatter_klass_for` and return your own formatter class from it?

[2022-11-09 08:26] tubaxenor commented on #2978
That's still monkey patch... Just wondering if there is a more official way or should be an official support for this 😅

[2022-11-09 09:58] pirj commented on #2978
Eventually, if there's demand. I can't really remember this request popping up while I contribute to RSpec.
It's a relatively small change code-wise, but that formatter part of the private API would have to be made public and documented.
I encourage you to monkey-patch for now, since there's low risk of this code to change, and if there's more people asking for to use custom bisect formatters, we'

[2022-11-10 03:32] tubaxenor commented on #2978
@pirj thanks for your reply. The use case for us is to build a flaky test analyzer, which we first took out failed spec batches and put each one of them to our CI nodes with `--bisect` options to catch the issued spec example/file. At the end of the process, we would like to gather the end result after bisecting, which basically is the `repro` returning after bisect runner execution.

[2022-11-10 11:36] JonRowe commented on #2978
I think this is a reasonable request, the bisect formatter is not the same api as our normal formatters, but the same principles could be used to make this happen. I'm not sure it will be a priority for anyone on the core team but if you'd like to work on it @tubaxenor I'm happy to help review it.

[2022-11-15 06:34] raoehtesham79 opened #2979 "Access file which is outside of spec and lib folder"
I want to access models and interactions , which are outside my spec and lib folder . Please tell me a way to access these files,

[2022-11-15 08:38] pirj commented on #2979
You can seek help in our [help channels](https://rspec.info/help/). We reserve issue tracking for bugs and features. Thanks for understanding.

[2022-11-15 08:38] #2979 closed

[2022-11-22 16:03] Nitrodist opened #2983 "in fully_formatted_failed_examples - undefined method 'fully_formatted' for RSpec::Core::Notifications::ExampleNotification"
### Subject of the issue

I have flaky tests so in the process of creating a second test runner in CircleCI to run just the flaky tests, I've encountered this stack trace after using `--tag flaky` in one set of tests:

[code]

Full trace:

[code]

### Your environment
* Ruby version: 2.7.4
* rspec-core version:     rspec-core (3.12.0) (also fails in 3.9.2 and 3.9.3)

### Steps to reproduce

Huh, t

[2022-11-22 20:01] pirj commented on #2983
So the `failure` is a `RSpec::Core::Notifications::ExampleNotification`. `failure_notifications` map through `failed_examples` with `ExampleNotification.for`. `new` is `private` in `ExampleNotification`. The only place where it's called is:
[code]
and this is when the example is neither failed nor pending.
But `@reporter.failed_examples` should only contain failed examples 🤔

Would you fork `rspec

[2022-11-29 02:21] JunichiIto opened #2985 "Cannot comment out lines in .rspec"
### Subject of the issue
As far as I see, there is no way to comment out lines in .rspec

### Your environment
* Ruby version: 3.1.0
* rspec-core version:  3.12.0

### Steps to reproduce

Save .rspec like this:

[code]

And run specs:

[code]

### Expected behavior
The format option is ignored.

### Actual behavior
The format option (`--format d`) is applied.

I think it would be useful if we can

[2022-11-29 03:05] magni- opened #2986 "Feature request: fail when a pending spec raises an exception"
Right now, marking a test as `pending` causes it to swallow all exceptions, not just failed expectations.

I added the following to our `spec_helper.rb` as a hacky workaround:
[code]

Users who want to use `pending` to silence an exception rather than a failed expectation could use `expect ... to_not raise_error` to get the same behavior they currently have.

[2022-11-29 03:13] JonRowe commented on #2986
Thanks for the suggestion but the current behaviour is by design, as typically it is something that is broken internally rather than an expectation that fails, I would say that if you know what the "anti" result is you should just negate the expectation, and your own suggestion works well to achieve what you want for a general catch all, (that is wrap the test in a `expect ... to raise_error(RSpec

[2022-11-29 03:14] JonRowe commented on #2985
Why not just delete the lines? The `.rspec` file is expected to contain shell like commands and comments would not be valid on the command line either?

[2022-11-29 05:51] JunichiIto commented on #2985
Here is my use case. I added the line below for an experimental purpose:

[code]

And I wanted to run all tests, so I added `#`, but it didn't work (`--tag ~slow` is still applied):

[code]

Of course, I can delete the line, but I need to type `--tag ~slow` again if I want to revert it. Adding/removing `#` is much more useful than deleting/typing all charactors.

Moreover, config files such as `.g