[2018-10-23 07:58] JonRowe commented on #1031
@samphippen I think it should how the user an error, as it has never been supported and IMHO it is confusing to make it behave like a `before(:all)` given thats not the intent.

[2018-11-21 15:42] dominicsayers opened #2581 "One-liner description uses deprecated "should" syntax"
### Subject of the issue
When you use `format --documentation` against a spec expressed in the one-liner syntax, the example description is formed using "should".

This is contrary to modern usage where a spec's description is encouraged to be a statement about what the subject *is* not what it *should be*.

### Your environment
* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-dar

[2018-11-22 09:14] dominicsayers commented on #2581
Thanks. I *did* search the outstanding issues before I raised this one. Clearly I missed that one!

Not sure I understand your CI workflow; is it bad that you got [Travis failures](https://travis-ci.org/rspec/rspec-core/jobs/449098572) when the fix was merged to master?

Anyway, hope this can get released soon. Will there be another 3.x release before 4.0?

[2018-11-22 09:29] JonRowe commented on #2581
Yes if they are real failures, they weren't they got restarted and passed. You'll see an all green history.

Most certainly, RSpec 4 is a long way off.

[2018-11-22 13:36] thisismydesign commented on #2424
@myronmarston

The problem for me is that the use of these variables are not explicit. You cannot tell which variables are required when using shared examples. You either have to read through the code or do trial-and-error. It's the same with your block example.

The reason to use `let` instead of defining the arguments in place is e.g. that they can be used in other examples within the context.

[2018-11-22 16:30] JonRowe commented on #2424
That is a different problem and one that is exposed in overly complex shared example setups. Your solution is sensible and if you wanted to attempt a PR to allow specifying in a shared example that certain lets where available (and failing the entire group with an error if they are not) I'd be happy to help review it.

[2018-11-22 23:45] thisismydesign commented on #2424
@JonRowe Thanks. Can't say that I will do that at this time but I'll keep it mind.

[2018-11-27 13:19] benoittgt commented on #2570
It should be fixed with https://github.com/rspec/rspec-core/pull/2575

Do you think you can try it @shusuke-nakamura?

[2018-11-27 13:20] #2570 closed

[2018-11-27 13:20] benoittgt commented on #2543
It should be fixed with #2575

Do you think you can try it @hitanaka156?

We will reopen the issue if it is not fixed.

[2018-12-10 08:38] benoittgt opened #2583 "Add more documentation for Formatters"
### Light documentation for Formatters

At the moment [the documentation for Formatters](https://relishapp.com/rspec/rspec-core/v/3-8/docs/formatters/custom-formatters) is succint. We should provide more documentation for this part of RSpec.

A good example is this blog post: https://ieftimov.com/how-to-write-rspec-formatters-from-scratch

Maybe we could [use "scenarios"](https://relishapp.com/rsp

[2018-12-10 11:21] JonRowe commented on #2583
There is more documentation to be found in `http://rspec.info/documentation/3.8/rspec-core/RSpec/Core/Formatters.html` and in `http://rspec.info/documentation/3.8/rspec-core/RSpec/Core/Formatters/Protocol.html`. A lot of which is cribbed across to that blog post.

[2018-12-12 02:04] hitanaka156 commented on #2543
Thank you for investigating.
However, the problem was not solved even if it was corrected by # 2575.
In my environment, Encoding :: CompatibilityError still occurs.

[2018-12-12 11:14] benoittgt commented on #2543
Rah 😔 thanks a lot for the feedback @hitanaka156
Do you think you can provide a reproduce script similar to https://github.com/rspec/rspec-core/issues/2543#issuecomment-430419757? Also if you can specify your environment: OS, version, shell, encoding.

[2018-12-14 15:44] tansaku opened #2584 "provide support for example regex match"
### Subject of the issue

We'd like to be able match regex when using the `--example` switch.  At the moment regex characters are escaped.  That seems sensible, but sometimes we want to use regex example matches - could we have another switch like --example-regex?

### Your environment
* Ruby version: 2.4
* rspec-core version: 3.7

### Steps to reproduce

Check out this repo:

https://github.com/s

[2018-12-14 18:46] JonRowe commented on #2584
I'm open to a PR for this, maybe `--example-matches` though?

[2019-01-06 21:52] obromios opened #2590 "did_you_mean for rspec?"
When I run ```rspec spec/path_to_some_file_spec.rb``` and I have made a typo I get a load error that repeats the incorrect path to the file and a stack trace.  Is there any interest in me (or someone else) doing pull request for a feature like 'did_you_mean' in ruby. This way, the error would be something like

[code]

Then instead of scanning the line I typed in to find the typo. I can just copy

[2019-01-07 15:46] JonRowe commented on #2590
No need to close, theres a magic transfer issue command :)

[2019-01-07 23:50] obromios commented on #2590
Thanks Jon, I will do some research on what is possible give those constraints. What platforms would you require it to work on?

[2019-01-08 00:13] obromios commented on #2590
I notice that ```Dir["spec/**/*.rb"]``` in the console seems to list all files in all subdirectories  of spec. Is this going to be platform independent?

[2019-01-08 01:22] obromios commented on #2590
If  ```Dir["spec/**/*.rb"]``` is platform independent, then I would propose an algorithm that would measure the  Levenshtein distance of the input path to all known spec files and output a small number of the closest matches.  This search would only be triggered if there was an incorrect input so should have not impact on normal operation of ```rspec```.   The algorithm for the Levenshtein algorit

[2019-01-10 18:15] JonRowe commented on #2590
It's all in `lib/rspec/core/configuration.rb` but there won't be an internal representation of any folder other than what we're told to load, you'll need to check the default logic for how we load things and use the existing code for "no file specified".

[2019-01-11 07:42] obromios commented on #2590
Thank you, I will start work on it.

[2019-01-19 21:08] ioquatix opened #2592 "Redefining `let` constants generates several warnings."
Excessive warnings are generated by the following method:

https://github.com/rspec/rspec-core/blob/d598ecbc53d8a611a76753c98b903ee7f35c0439/lib/rspec/core/memoized_helpers.rb#L284-L300

e.g.

[code]

Output

[code]

[2019-01-20 13:41] JonRowe commented on #2592
Huh, we actually have tests in place to prevent warning being issued by us, this edge case seems to have slipped through (include_context is a rarer variant of using shared examples)

[2019-01-22 08:50] obromios commented on #2590
Just a  quick update.  I have a first cut working and I am finding it useful.  For the next few weeks I will tidy it up and tune it by using it in my own workflow.  I will then do a pull request so it can be reviewed.

[2019-01-23 20:53] rhiroyuki commented on #2418
Hi! I was able to recreate the author's issue using `RSpec 3.8.0`. And indeed, it still does the exact same thing he mentioned (if the pattern with `**` is the first one then it won't run the spec file inside the spec folder).

If it's intended the way it's right now and no plans of changing it, do you think adding a warning about this behavior with `**` would be a good call?

@JonRowe, do you thi

[2019-01-25 08:43] christophweegen commented on #404
Any progress on this feature? Code below doesn't work anymore. ( RSpec 3.8 ). Thanks!

[2019-01-25 15:54] JonRowe commented on #404
There is no feature planned here. I'd imagine the code snippet needs modifying for the new expect syntax.

[2019-01-26 21:17] JonRowe commented on #2418
We discussed changing the behaviour so it would work for typical usages, but I would be open to a PR adding a warning about the behaviour instead

[2019-01-28 12:40] rhiroyuki commented on #2418
I can try adding the warning if you don't mind :+1:

[2019-01-28 13:09] JonRowe commented on #2418
Sure thing, let me know if you need any help

[2019-01-30 13:16] Startouf commented on #1583
I believe the issue should be reopened and one of the following stuff should be done
- Either allow marking all examples as pending by wrapping them around pending blocks
[code]

- Or enhance the RSpec core deocumentation with the trick from TimMoore https://github.com/rspec/rspec-core/issues/1583#issuecomment-59687572

@andyl

[2019-01-30 15:00] JonRowe commented on #1583
Happy to accept a PR to improve the documentation if you'd like to attempt it, but I don't feel the api should be expanded to change this behaviour.

[2019-01-31 13:57] JonRowe commented on #2522
I was going to close this, as it's behaving as expected, but on second thoughts I think it should remain open until someone has time to improve the filter output.

[2019-02-01 19:50] #2592 closed

[2019-02-01 20:45] ioquatix commented on #2592
Thanks!

[2019-02-02 16:50] Tejareddy1 opened #2596 "html report for each _spec.rb file"
### Subject of the issue

### Your environment
* Ruby version: 2.5.1p57
* rspec-core version: 3.7.1

### Steps to reproduce

### Expected behavior

### Actual behavior

[2019-02-03 21:38] Tejareddy1 commented on #2596
I tried in custom formatter. which as like below where I am using spec_heper.rb inside my formatter file.:

def example_group_finished(example_group)
          #puts "examples loaded:"+example_group.to_s
            puts @output_file_name
            current_spec_name =File.basename(Webdriver_Test_Base.current_run.path_to_tests,".rb") unless Webdriver_Test_Base.current_run.nil?
            if(curr

[2019-02-03 21:44] JonRowe commented on #2596
@Tejareddy1 You will need to write to multiple files yourself, and implement a full custom formatter, such help in writing an individual formatter for you is beyond our resources sorry!

[2019-02-04 20:49] JoshCheek opened #2597 "How do I detect whether the full suite ran or just a subset?"
### Subject of the issue

I am recording data from the tests that run:

![screen shot 2019-02-04 at 2 05 56 pm](https://user-images.githubusercontent.com/77495/52234403-349e5b00-2887-11e9-9916-047d600cd550.png)

Then I use it to generate examples in the README.

![52233851-c60ccd80-2885-11e9-86ea-e842c1ebc456](https://user-images.githubusercontent.com/77495/52234186-ade97e00-2886-11e9-8410-a7b27ff

[2019-02-05 04:58] JoshCheek commented on #2597
Great response, thank you! And yeah, what you said about not really knowing makes sense.

I got it to work by doing what you suggested and reading the persistence file. I'll put it here in case anyone else finds this and wants to know how I did it:

[code]

[2019-02-05 04:58] #2597 closed

[2019-02-05 10:00] JonRowe commented on #2597
@JoshCheek I'm happy to help refine this a bit more if we can help make an easier API for this.

Your implementation above has an edge case here if you add or remove a spec, it'll take until the next spec run to pick them up.

Have you also checked that its not a false positive of running all the time? I'm unsure when at_exit will run compared to our own persistence code, it might be checking the

[2019-02-05 22:35] JoshCheek commented on #2597
Hey, I wrote all this up, so I guess I'll leave it to document what I thought through. But really, the last 2 paragraphs are the relevant ones. Basically, I'm doing it wrong 😝

Super appreciate your feedback and willingness to think through it with me!

---

So it seems to update the index before my `at_exit` hook runs. It also merges its results into that file (vs replacing the file with the resu

[2019-02-05 22:55] JonRowe commented on #2597
I might have been sneakily hoping you would use it as inspiration for a feature powered externally ;)

What I would do is record a similar index of snippets; so when you encounter them you build a list of them, and update those examples as you run them, then using a similar merging strategy to what we do you'd get the whole set eventually and can always upload / diff it.

[2019-02-05 22:59] jfelchner opened #2599 "--only-failures Runs More Than Failing Specs"
It seems as though when running with --only-failures, I'm getting more than just the failures to run.  This seems to be a regression as I've never had this issue before.  I wanted to see if anyone knew what the issue might be before I take the time to repo it.

The data in the file I'm saving the example run info to is correct.  There are like 4 failures and tons of `unknown` status.

### Your env

[2019-02-06 02:17] JoshCheek commented on #2597
Ahh, lol. Did you have a specific feature in mind, or was it more goal oriented (eg exposing the persistence data or file to users, or detecting full suite vs partial suite runs).

That's really congruent with what was in my brain, I'll check out your merging strategy, I saw it was there but haven't looked at how it works yet.

[2019-02-06 11:19] JonRowe commented on #2597
I just think this is something that is better off being externally managed, albiet in a similar fashion to us, as it gives you better control over it

[2019-02-06 11:26] JonRowe commented on #2599
The `--only-failures` flag has the affect of setting up an inclusion filter based on an example status of 'failed'. This can potentially interact with the other filters, so if you are manually including other types it will combine with them, this might be what is happening here and is "by design" if so.

[2019-02-06 21:09] jfelchner commented on #2599
@JonRowe thanks for the reply. As far as I know I am not, but how would I verify that?

[2019-02-06 21:21] JonRowe commented on #2599
You can see what RSpec prints out when running, it'll list the filters.

[2019-02-06 21:22] JonRowe commented on #2599
If you believe this is a genuine bug, we'll need a smallest possible reproducible repo (or a spec that will run in our suite), we don't have the resources to debug large open source projects or private repos, and we can't debug without further information in this case (We have tests for all of this behaviour naturally :)).

[2019-02-06 22:24] jfelchner commented on #2599
@JonRowe totally understandable :)

[2019-02-06 23:40] jfelchner commented on #2599
@JonRowe figured it out.  It wasn't an extra filter but it was my fault.  Sorry for wasting your time.

[2019-02-06 23:40] #2599 closed

[2019-02-07 09:21] JonRowe commented on #2599
No worries! Sorry I couldn't be of much help!

[2019-02-08 18:06] Tejareddy1 opened #2600 "How to get the given rspec options in runtime in spec_helper.rb file."
subject of the issue: How to get the given rspec options in runtime in spec_helper.rb file.

 Your environment
* Ruby version: 2.5.1p57
* rspec-core version: 3.7.1

### Steps to reproduce
How can I get given '-options' in runtime in spec_helper.rb file after executing the command.

Example
rspec  /path/to/spec --format documentation --format json --out /path/to/output/directory/rspec.html

After r

[2019-02-08 18:22] #2600 closed

[2019-02-13 14:35] mlapierre opened #2603 "`skip` within `before(:all)` of isolated example group causes outer example group to be pending"
### Subject of the issue
I'm trying to write tests for before hooks and have run into trouble. When a `before(:all)` hook is skipped in an isolated example group it sets the outer example group as pending, but it should pass.

### Your environment
* Ruby version: ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-linux]
* rspec-core version: 3.8.0

### Steps to reproduce
[code]

### Expected behav

[2019-02-13 14:44] JonRowe commented on #2603
:wave: If you have a look at the rspec-core specs you will see all sorts of protection and isolation (sand boxing) to allow us to run specs within rspec, its not a "public api" intended to be used in the way you are using it. You will probably need to replicate what we've done to ensure the "inner rspec" works from the outer rspec, in both your examples you should see only 1 spec output for exampl

[2019-02-13 16:26] godfat commented on #2603
@JonRowe We're trying to add some new features on top of RSpec, and would like to write tests for them. You can find more context at: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/24942#note_140637060

[2019-02-13 16:29] mlapierre commented on #2603
Yeah, this is a minimal reproduction of something more complex, as @godfat noted.

Essentially, we're trying to allow tests to be skipped unless focused (e.g., as if running rspec with `--tag skip` would actually run the skipped tests). We did that via configuration hooks that would skip examples if they had user-defined metadata `:quarantine`, unless `:quarantine` was focused, in which case it wo

[2019-02-13 16:33] JonRowe commented on #2603
Ok so as a minimum you need to setup a reporter of your own, and pass it to `run` so that the status of the internal groups don't expand into the global. You then need to check the groups pass / fail as desired.

Then you're going to want `RSpec::Core::Sandbox.sandboxed` and wrap that around every one of the outer examples.

[2019-02-13 16:34] JonRowe commented on #2603
You can see examples of this in our [spec/spec_helper.rb](https://github.com/rspec/rspec-core/blob/master/spec/spec_helper.rb) and [spec/support/sandboxing](https://github.com/rspec/rspec-core/blob/master/spec/support/sandboxing.rb).

[2019-02-13 16:56] mlapierre commented on #2603
Ahh, thanks @JonRowe! That explains a few things about the RSpec unit tests that I wasn't understanding, like how tests of configuration didn't affect other tests.

With that I managed to get a simple test passing. It should be enough to fix the rest of out tests, so I'll close this.

[2019-02-13 16:56] #2603 closed

[2019-02-16 19:32] mockdeep opened #2605 "Strict predicate matchers"
### Subject of the issue

It would be great to have a configuration for predicate matchers to be "strict" in the sense that they require the return result to be a boolean and not something that is truthy or falsey. It's easy for these methods to have values that creep their way to the client side in tricky to debug ways, so we try as much as possible in our codebase to enforce that they always ret

[2019-02-17 22:44] #2605 closed

[2019-02-17 22:48] JonRowe commented on #2605
Hi, `rspec-core` contains no matchers, so this was the wrong repo to suggest this, however its well documented that `rspec-expectations` predicate matchers obey Ruby's truthiness rules, and I'm not sure I want to change that. We have the option to be more precise as you've mentioned, so making our matchers ambiguous seems less than ideal.

Have you considered implementing your own custom matcher t

[2019-02-19 03:53] roberts1000 commented on #795
I created a gem called [rspec_n](https://github.com/roberts1000/rspec_n) that installs an executable that will do this.   It will re-run the test suite N times by default.  You can make it stop as soon as it hits a failing suite via the `-s` cli option.  It'll spit out other stats about the iterations as well.

[2019-02-19 10:14] arunagirinathan-rajan commented on #1200
@JonRowe Do we have a reverse of what you posted. specifc_spec: true example needs to skip the before block?

[2019-02-19 10:27] JonRowe commented on #1200
Sort of:
[code]

[2019-02-19 10:29] arunagirinathan-rajan commented on #1200
No, Something like,

before(:each, specific_specs: true) do
  puts "before hook runs"
end

it 'will run the before hook' do
  true
end

it 'wont run the before hook', specific_specs: true do
  true
end

Similiar to :skip

[2019-02-19 10:38] JonRowe commented on #1200
No you can't skip before hooks in that way, you have to have a metadata that doesn't match, you can do this as I describe by having a default metadata thats overridden.

[code]

[2019-02-19 10:40] arunagirinathan-rajan commented on #1200
@JonRowe If we configure like above, Before hook is not running for both the example.

[2019-02-19 10:46] JonRowe commented on #1200
@arunagirinathan-rajan I've just checked it, it works fine.
[code]

[2019-02-19 10:50] arunagirinathan-rajan commented on #1200
@JonRowe Why you are specifying specific_specs: false in describe?

[2019-02-19 10:51] JonRowe commented on #1200
Having metadata on a group applies the metadata to all the examples.

The before block then will match the metadata from the describe, and the one(s) that don't match will "skip" the block.

[2019-02-19 11:08] arunagirinathan-rajan commented on #1200
Is this possible?

[code]

[2019-02-19 11:09] JonRowe commented on #1200
Try it and see? Sorry I've run out of time to help with this further. Stack overflow is for questions like this, not github issues.

[2019-02-19 11:11] arunagirinathan-rajan commented on #1200
I've tried its not working, Just expected possible or not? Anyways Thanks

[2019-02-19 11:13] JonRowe commented on #1200
I didn't expect it to work because metadata likes actual values, you should use the method I described, you can always setup an alias (see: https://relishapp.com/rspec/rspec-core/v/3-8/docs/configuration/create-example-aliases) to create the example meta data by default.

[2019-02-25 10:55] vivektiwary opened #2606 "Rspec giving "path name contains null byte" error"
## What Ruby, Rails and RSpec versions are you using?

Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]
Rails version: Rails 5.2.1
Rspec version: RSpec 3.8

## Observed behaviour
I am getting
[code]

## Expected behaviour
Should not give any error

## Can you provide an example app?

# Error Trace
[code]

[2019-02-25 12:26] JonRowe commented on #2606
Transferred to `rspec-core` as this is potentially a runner issue.

Hi @vivektiwary we need more information to help reproduce this, (like your `spec_helper.rb` and your file system encoding). It looks like you have example persistence configured, whats the value for `example_status_persistence_file_path` and what happens if you turn it off? My best guess at the moment is this is misconfigured wit

[2019-02-25 17:28] JonRowe commented on #2590
Fantastic, if we could define an integration for that checks thats available then uses it that would be ideal. Its even automatically required by Ruby so we should be able to gate this on a simple `defined?` check for older rubies. (I'm ok with this not working on rubies that don't support it).

[2019-02-25 17:35] palkan commented on #2590
Yeah, `defined?` should work.
It would probably make sense to wrap it into our own class/module to hide the checks, e.g. like here:
https://github.com/palkan/action_policy/blob/master/lib/action_policy/utils/suggest_message.rb

(**NOTE**: this check only make suggestions work in Ruby 2.4+, 'cause Ruby 2.3 had a different API, more on that could be found in this gem https://github.com/zverok/did_yo

[2019-02-25 17:49] JonRowe commented on #2590
See #2061

[2019-02-25 23:17] obromios commented on #2590
Using the DidYouMean api seems a good idea.  I will try it out.  I do not understand the reference to #2061?

[2019-02-26 08:36] JonRowe commented on #2590
Conversation!

[2019-02-26 09:54] vivektiwary commented on #2606
@JonRowe thanks for the clue, I have deleted the `config.example_status_persistence_file_path` file and everything is running as expected, I might have some bad data in that file. Closing it as it has been resolved.

[2019-02-26 09:54] #2606 closed

[2019-02-27 10:02] obromios commented on #2590
I am now using the DidYouMean SpellChecker api in #2601, and it appears to work well. It certainly simplifies the code and is also faster.  Thank  you palkan.

[2019-03-01 18:04] #2584 closed

[2019-03-05 05:13] enkessler commented on #2508
I am also encountering this problem. 2/3 of my test suite is not getting run by RSpec. It seems to have something to do with the nesting level of the spec file. The pattern that I use to find the spec files consistently finds every file no matter where the suite is run (locally on Windows, AppVeyor, and Travis CI) or nesting level used but RSpec misses tests in my non-windows/Travis environments d

[2019-03-05 09:52] JonRowe commented on #2508
@enkessler I've had a very brief look at your issue, you have `_specs.rb` files, these won't match the `_spec.rb` pattern.

[2019-03-05 15:31] enkessler commented on #2508
The `_specs.rb` files aren't meant to be picked up by the pattern. Those files contain shared examples that are pulled in via `rspec_ev.rb`, not regular files full of tests that are directly run like the `_spec.rb` files. So, that 's expected. Further, if that were the problem, then it still wouldn't explain why moving the regular spec files up one nesting level makes them work.

[2019-03-05 15:37] JonRowe commented on #2508
My apologies, it was a very brief look. In order to investigate further I suggest you use my advice above. E.g. Look at what `RSpec.configuration.files_to_run` actually contains during a problematic run.

[2019-03-06 02:37] enkessler commented on #2508
Done: https://travis-ci.org/enkessler/cuke_linter/jobs/502360830

That's what it looks like, yeah.

[2019-03-06 10:07] JonRowe commented on #2508
There can be some weirdness when you're running from Rake tasks, which is why our default pattern is a bitt different, I'd investigate there if I were you

[2019-03-06 18:51] enkessler commented on #2508
I _really_ do not want to have to fork this repo, stick a bunch of debugging code in it, and make my CI builds use the fork in order to see if I can find a problem.

[2019-03-06 19:47] JonRowe commented on #2508
I can understand that, luckily I don't think you have to, try setting your pattern to `testing/rspec/**{,/*/**}/*_spec.rb`

[2019-03-06 19:49] enkessler commented on #2508
When in doubt, add more wildcards? ;)

[2019-03-06 19:52] enkessler commented on #2508
Does RSpec not use the same pattern syntax as `Dir.glob`? Is `**/*` not the correct notation for making the pattern recursive?

[2019-03-07 01:15] enkessler commented on #2508
If I use that pattern, I now get twice as many files found by Ruby (duplicates, it looks like) but the correct number of files found by RSpec for Linux and Windows. In OSX, it's all file loading errors in OSX.

Linux: https://travis-ci.org/enkessler/cuke_linter/jobs/502856425
OSX: https://travis-ci.org/enkessler/cuke_linter/jobs/502856430
Windows: https://ci.appveyor.com/project/enkessler/cuke-lin

[2019-03-07 20:09] JonRowe commented on #2508
If you can produce a minimal reproduction of this issue using only RSpec, I'll be happy to look into it further with the assumption the fault lies in the runner, but so far all of your build output indicates the problem lies within the Rake config you have.

I'm afraid my time is very limited at the moment and I simply don't have enough of it to go through your Rake setup to find out whats going o

[2019-03-07 20:41] rjrobinson opened #2608 "adding a alias to examples for pry"
### Subject of the issue

I'm looking to add some alias to easier invoke the binding.pry call to my tests. following along in the book "Effective Testing in RSpec 3" it states to add the following to my rspec config.

### Your environment
* Ruby version: 2.4.1
* rspec-core version: 3.x

### Steps to reproduce
added the following code to my `/rails_helper.rb`

[code]

### Expected behavior
when cal

[2019-03-07 21:00] #2608 closed

[2019-03-07 21:02] JonRowe commented on #2608
Hi @rjrobinson, if you switch the `after` for a `before` it'll execute `binding.pry` before the example runs. Myron alludes to this in the book (by saying when the block will run). Don't be mislead by "seeing" the config file, you are in the context of the example.

Additionally Github issues are not the place to ask for support, our time is limited and we'd much appreciate it if you use our maili

[2019-03-07 21:05] rjrobinson commented on #2608
Ok. thanks.

[2019-03-08 16:06] enkessler commented on #2508
Okay...so what kind of patterns are expected? Normal Ruby regular expressions? Some platform specific shell pattern? What? I don't see any documentation anywhere explaining what syntax to use.

[2019-03-08 16:08] JonRowe commented on #2508
I just mean don't use the code `Dir.glob` its a shell glob for your platform.

[2019-03-08 16:09] enkessler commented on #2508
But what should I use? There is no instruction manual or examples and 'go read the code' is horrible advice to give to a user.

[2019-03-08 16:15] JonRowe commented on #2508
To input a pattern, which will depend on your file system, use (from the command line):
`rspec --pattern <pattern>`
and then:
`puts RSpec.configuration.files_to_run`
in your `spec_helper.rb` or first loaded / other configuration file to debug which files are loaded.

This is documented with examples here:

https://relishapp.com/rspec/rspec-core/v/3-8/docs/command-line/pattern-option

For pattern f

[2019-03-08 16:30] enkessler commented on #2508
Hey, there it is. The very last example does indicate that glob unions are acceptable, although it is not necessarily clear that glob syntax is supposed to be used at all times (as opposed to unions being some sort of exception).

FYI: the Relish documentation does not line up with the documentation in `rspec --help`

`-P, --pattern PATTERN              Load files matching pattern (default: "spec/

[2019-03-08 16:32] JonRowe commented on #2508
Ruby is platform specific.

[2019-03-08 16:41] enkessler commented on #2508
Ruby is platform specific when it relies on platform specific stuff like `fork`, yeah, but for most things it's not. And it tends to call out the platform specific stuff so that people don't use it if they are trying to write portable code. `Dir.glob` works consistently across platforms. That would seem a better choice.

The point of having a high level language is to abstract away all the fiddly

[2019-03-08 16:50] JonRowe commented on #2508
There are platform specific edge cases in paths in Rubies File library when it comes to patterns, we attempt to work around them for you.

[2019-03-08 16:50] JonRowe commented on #2508
[code]

[2019-03-14 10:04] enkessler commented on #2508
Based on that code, it _is_ using the standard `Dir.glob` except that it tweaks the pattern before applying it. Given that the glob pattern that I am using works fine before I hand it to RSpec but stops working fine after RSpec tweaks it, I'm inclined to still call this a bug.

[2019-03-14 10:06] JonRowe commented on #2508
@enkessler If you can reproduce this without any other dependencies I will look into it further. What I need is a repo that contains:
- spec files
- rspec
- a pattern that misses files.

If it only occurs via Rake or any other dependency only then the bug is not in RSpec.

[2019-03-15 04:21] enkessler commented on #2508
Here you go: https://github.com/enkessler/rspec_investigation

Plain old RSpec with 6 files, one test each, and a nesting structure.

https://travis-ci.org/enkessler/rspec_investigation/jobs/506601833

Running RSpec on the `testing` directory runs them all. Globing with the perfectly normal recursive pattern  `testing/rspec/spec/**/*_spec.rb` finds them all. Running RSpec with said pattern only fi

[2019-03-15 21:33] JonRowe commented on #2508
Thanks, the problem in your reproduction lies in the shell. Your command:

[code]

Is interpolated by the shell before it gets to RSpec as two files, so the command executed is:

[code]

you can replicate this with:

[code]

Wrapping the pattern in `"` produces the correct result:

[code]

I would thus suggest in your original application, that whatever is invoking RSpec is not wrapping the patter

[2019-03-18 10:15] Draiken commented on #2508
I'm guessing this wouldn't apply for patterns added on a Rake task, right?
We had this issue using these tasks:
[code]

The first spec would occasionally take 1 minute instead of the usual 9 minutes running a minuscule fraction of the suite.

I was never able to figure out a reproducible state for this, and unfortunately had to move on to other tasks.

Perhaps when rake is expanding to the system

[2019-03-18 10:26] Draiken commented on #2508
I cloned the testing repo and tested adding rake tasks on top of it. Weirdly enough the exclude pattern didn't work:
[code]
Running `rake spec_exclude` resulted in:
[code]
The `spec_pattern` task ran successfully with 6 specs.

[2019-03-18 21:20] JonRowe commented on #2508
@Draiken You can see the command called, the rake tasks escapes the glob differently, and in your former example is sending the default pattern... er by default...

[2019-03-19 01:58] enkessler commented on #2508
@JonRowe Adding the quotes did solve the problem for me. When going through a Rake task, the problem only presented in CI. With only RSpec the problem presented everywhere. With the quotes, it is now working correctly everywhere.

@Draiken That being said, your case may still be different because whereas my problem was the command line fiddling with the pattern before it got to RSpec, you seem to

[2019-03-19 02:11] 0xdevalias commented on #2119
Is there any useful update on how to resolve this? I'd find @juanibiapina 's solution super useful. Just _something_ (it really doesn't matter what) that lets my human brain unwind that reference and end up somewhere (other than my head through my desk) that I can start debugging from.

[2019-03-19 08:47] JonRowe commented on #2508
Rake executes RSpec via the shell, you can see the pattern escaped in a different way (backslashes inserted) in the command Rake runs.

[2019-03-19 10:20] Draiken commented on #2508
Ugh, this is confusing. I attempted to set the pattern to remove the default one on the task with excluded pattern, but then RSpec apparently expands the pattern and generates the command with all the files as arguments, rendering the exclusion pattern useless. I suppose this is slightly off topic.

My biggest worry is the seemingly random nature of the problem for us. We still suffer from the occ

[2019-03-19 10:29] JonRowe commented on #2119
No, no one has had any time to spare to implementing any of the ideas, you should be able to unwind the reference though, its a simple count through examples and example groups, and using:
[code]
Will print the doc string of your example which should enable you to find it easily.

[2019-03-19 10:30] JonRowe commented on #2508
No thats the shell expanding the unescaped glob. Not RSpec.

[2019-03-22 20:55] aemadrid opened #2610 "Skip examples from before hook"
### Feature Request: Skipping examples from before hooks

It would be great to allow before hooks to mark example as skipped and have the example get actually skipped.

Right now you can change the example metadata in a hook but it will not have any effect with regards to skipping that example.

### Your environment
* Ruby version: 2.4.5
* rspec-core version: 3.8.0

### Steps to reproduce

Given:

[2019-03-24 20:50] JonRowe commented on #2610
:wave: The `skip` metadata is itself a hook around examples calling `skip`. You can trigger it in a before hook by simply calling `skip` yourself.

[2019-03-24 20:50] #2610 closed

[2019-03-24 20:51] JonRowe commented on #2508
@Draiken do you have example output I can look at? I may be able to help further.

[2019-03-25 10:47] Draiken commented on #2508
@JonRowe Here is the log output from two runs: one runs normally the other skips almost every test:
https://gist.github.com/Draiken/97bb83dc64d320c7e2411bcdf55ee7a3

Same script, same environment, same rspec/rake command, same everything AFAICT.
I already attempted checking the list of files (my first thought was that somehow not all the tests were there) but they were all there.

As I explained i

[2019-03-25 17:35] ChrisCPO opened #2611 "load times discrepancy between loading all verses single test or directory."
### TIme Discrepancy
We are noticing a very large time discrepancy between loading the entire suite verses, a directory, or a single test.

## Versions
Ruby version:    ruby 2.6.1p33
Rails version:    Rails 5.1.6.2
RSpec version:  RSpec 3.7
  - rspec-core 3.7.1

## Observed behavior
We are noticing a very large time discrepancy between loading the entire suite verses, a directory, or a single test

[2019-03-26 11:09] JonRowe commented on #2611
@ChrisCPO I'm sorry to hear that, have you tried passing in all of the files manually? Theres some logic surrounding digging through all of the folders which might be improvable, and building a list of files outside of RSpec and passing them in might end up being faster? It'd be a good point to start looking into why this seems to take longer in the default command rather than per directory.

[2019-03-26 15:07] ChrisCPO commented on #2611
Thanks for the Response @JonRowe

`bundle exec rspec spec $(tree | find  -E . -regex “.*/*_spec.rb”)`
yes, it does not seem to have any effect. The method `get_files_to_run` does not appear to be the issue it returns the array rather quickly it's parsing over that array. I checked by adding some start and end times in there, that array takes about 4 minutes to go over.

As of now it would appear t

[2019-03-26 19:01] ChrisCPO commented on #2611
here is a weird part, our worst directory takes ~15 seconds to load when just that directory is loaded. Here are some load times from the same file:

directory | full suite
-------------|------------------
0.959565 |  9.201081
0.580894 | 7.909137
0.19103 | 6.096184
0.355666 | 5.00293

The difference on the first file is 10x, these times are fairly consistent within a 5% variance.

As I understand

[2019-03-26 19:24] JonRowe commented on #2611
Well, you should be able to bench mark this! This is a... crude... attempt:
[code]
I warn you the fork is used to make the require of rails etc happen each time...

[2019-03-26 19:29] JonRowe commented on #2611
My results from a real world project:
[code]

Showing what I'd typically expect, a reasonable load time caused by rails in each directory invoking it.

[2019-03-26 22:18] gucki commented on #2508
FYI: I just hit the same bug. Most of the time only 90 (the number stays the same!) of 355 tests are run. It doesn't matter if I run `rspec` or `rails spec`. I also tried disabling randomizing the tests order etc. but it didn't help.

[2019-03-26 22:21] JonRowe commented on #2508
@gucki can you perform the debug steps listed above? If you can consistently replicate this using rspec alone that would be a great help in proving a bug exists here, so far the issues have surrounded external calls to the rspec cli

[2019-03-26 23:21] gucki commented on #2508
@JonRowe I just checked that all files are included:

    $ rspec # ap RSpec.configuration.files_to_run
    [
      [ 0] "/home/web/app/spec/controllers/doctors_spec.rb",
      [ 1] "/home/web/app/spec/controllers/kits_spec.rb",
      [ 2] "/home/web/app/spec/controllers/orders_spec.rb",
      [ 3] "/home/web/app/spec/controllers/sessions_spec.rb",
      [ 4] "/home/web/app/spec/features/doctors_s

[2019-03-27 22:14] JonRowe commented on #2508
@gucki can you add the filter output?

[2019-04-02 18:43] p-mongo opened #2613 "Running examples by id does not work when examples are defined in a required file"
### Subject of the issue

In the MongoDB Ruby driver we have some tests which use a common runner on different data sets. Up to now the test definitions were copy pasted for each data set, which was not ideal. I decided to DRY up these definitions by creating a method which defined the tests. Unfortunately rspec seems to deal with this situation quite poorly.

I created a small project to demonstr

[2019-04-03 07:47] JonRowe commented on #2613
:wave: First off, have you checked out `https://relishapp.com/rspec/rspec-core/v/3-8/docs/example-groups/shared-examples` theres a whole bunch of things we do to allow that to programmatically define examples in a user friendly way. It may be a better interface for what you're doing that inventing your own from scratch.

Secondly, your example is fixed simply by wrapping `define_example` in a prop

[2019-04-03 07:47] #2613 closed

[2019-04-03 07:49] JonRowe commented on #2613
Also in future by minimum reproduction repo we mean a repo with just the issue at hand, not a massive repo full of tests, to avoid downloading large amounts of unnecessary files I had to manually download your two files, if it had been larger I wouldn't have bothered.

[2019-04-04 00:03] p-mongo commented on #2613
Thanks, putting a describe block around the method call works. I could not figure out where in the documentation this was stated.

[2019-04-04 15:30] JonRowe commented on #2613
It's not stated, but you're not doing something we support, I think there's
a public api for creating example groups with name, if not I'd accept a pr
making a way to create them programmatically rather than abusing the core
dsl

[2019-04-04 15:46] benoittgt commented on #2590
Closing because https://github.com/rspec/rspec-core/pull/2601 has been merged

[2019-04-04 15:46] #2590 closed

[2019-04-04 16:07] p-mongo commented on #2613
I'm afraid I don't exactly know what "creating example groups with name" means but here is an example of programmatically building the specs from external test definitions that we use:

https://github.com/mongodb/mongo-ruby-driver/blob/80eb6f0185172dbc5866c1318ddf2667a2b11b53/spec/support/crud.rb

[2019-04-04 20:24] JonRowe commented on #2613
Yes that is using our DSL outside of its intended use. As a forewarning it will break in RSpec 4 as we will remove the monkey patch versions at that time. You should at least use `RSpec.<method>` for top level methods.

[2019-04-04 20:38] p-mongo commented on #2613
If there is something else that we should be using to achieve equivalent results I am happy to investigate that, otherwise can you clarify if there is an action item that you are suggesting?

[2019-04-09 09:41] JonRowe commented on #2613
I'm saying at least use `RSpec.<method>` over `<method>` as the monkey patched main methods are definietly not designed fo this. You could also experiment with `RSpec::Core::ExampleGroup.new` rather than the DSL and register them yourself, but some of that will be private api. I'm open to adding something to support that if appropriate.

[2019-04-09 19:47] gaganawhad opened #2615 "Feature request to append values of variables as more context for debugging failures"
### Subject of the issue

Depending upon how the test is set up, some tests fail only in certain contexts like randomized setup data, time at with it runs, or other variables that make up the context of the test. It can be hard to reverse engineer the specific context under which the test fails.

For such a situation, it would be helpful for debugging purposes. if there was **a clean way to append

[2019-04-10 11:40] jjg-dressipi commented on #654
Seems an odd choice to me, if `described_class` is supposed to be part of the internals, why is it exposed?  I have personally worked on code-bases where class/module names are _long_ and `described_class` is a godsent alternative to the politics of a global name-change campaign :smile: If anyone else finds themselves in need of this feature, then an easy implementation is  simply to have
[code]
i

[2019-04-10 13:25] JonRowe commented on #2615
:wave: The ability to add a custom failure message already exists:

e.g.
[code]

I think I'd support a PR where you could set into the example what certain data was, after all we have example metadata which could have a context included... And then it would be a matter of modifying our formatters to support it...

[2019-04-10 19:54] gaganawhad commented on #2615
Thank you for getting back @JonRowe and for your work on opensource!

Yes, I can use that style for now! I would have to do that for several tests. It would nice to support such a thing on `context` / `describe` as you are suggesting to DRY things up and it would be nice to reuse the existing failure message. :-)

Thanks again!

[2019-04-11 06:27] cheerfulstoic opened #2616 "Debugging output for example to give full context"
### Subject of the issue

Sorry if this already exists, but I honestly wasn't sure how to search for it.  I was actually a bit surprised when I went to create this issue because the most recent #2615 addressed it from a different angle.

Also, this is mainly to get an understanding of what you as the maintainers think of the idea.  If it's something you're interested in I could potentially help wi

[2019-04-11 08:55] JonRowe commented on #2616
From the perspective of #2615 we could automatically add into that contextual information lets that have been accessed, that wouldn't be too hard as the memoization would provide a key to whats where.

In terms of providing the code used around an example, that may be somewhat challenging, as we don't actually track where hooks are defined, nor lets. We also let Ruby handle the ordering of lets, b

[2019-04-11 18:26] JonRowe commented on #2615
Yes, the places you need to look are our formatters (to handle the extra output), you will need to consider how to track the "context" one suggestion from #2616 is to use lets which have been used (checking if they've been memoized and using that value)

[2019-04-11 18:37] gucki commented on #2508
@JonRowe What exactly? I'm not using any filters...

[2019-04-11 18:40] JonRowe commented on #2508
You've truncate the output, theres more there.

[2019-04-11 18:50] gucki commented on #2508
@JonRowe Mh, not really:

    Finished in 1 minute 20.86 seconds (files took 6.88 seconds to load)
    91 examples, 0 failures

    Randomized with seed 24090

    Coverage report generated for RSpec to /home/web/app/coverage. 1817 / 2093 LOC (86.81%) covered.

[2019-04-12 22:47] p-mongo commented on #2613
That change is easy enough to make, but can you clarify whether you are saying there is a difference between

<pre>
RSpec.describe do
# ...
end
</pre>

and

<pre>
describe do
# ...
end
</pre>

?

Another issue I ran into is I extracted a helper method to deal with requirements here: https://github.com/p-mongo/mongo-ruby-driver/blob/1792/spec/support/crud.rb#L187

This method defines a context, and

[2019-04-15 09:13] olleolleolle opened #2617 "Documentation wanted: define_derived_metadata"
### Subject of the issue

The `define_derived_metadata` configuration option could be easier to find.

The Relish-published docs of rspec-core mention it once, when describing _Aggregate Failures_.

This Issue is a request for more findable documentation. I hope this is the right forum for such a request.

### Steps to reproduce

After I had solved my problem by web searching for things that sound

[2019-04-15 16:13] benoittgt commented on #2617
Hello @olleolleolle

Thanks for this issue. I am ok with this proposition. We should make https://relishapp.com/rspec/rspec-core/docs/expectation-framework-integration/aggregating-failures and especially `define_derived_metadata` more accessible.

[2019-04-15 16:36] JonRowe commented on #2613
@p-mongo the difference is the first is using an rspec method on an rspec module, and is the preferred way to create specs. The second is a legacy mixin of RSpec into Ruby's main object which is only available when rspec mixes it in during a defined setup process. It is going away in RSpec 4.

Secondly you need to ensure that `context` is invoked within an existing `RSpec.describe` block.

All of

[2019-04-15 17:20] benoittgt commented on #2616
It seems to me a very good idea. I would see this as a `configure` option and as an arg when running RSpec. For the display, it can be challenging.

Don't you think we should stick to https://github.com/rspec/rspec-core/issues/2615 ?

[2019-04-15 21:13] p-mongo commented on #2613
I did this: https://github.com/p-mongo/tests/blob/master/rspec-id/spec/context_fn_spec.rb

The output is on the bottom. The "nested fn with yield" describe produces the same output as "nested fn" describe, but there is an additional context "my yielding context" defined for the "nested fn with yield" case.

I looked at https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/dsl.rb to figure

[2019-04-16 07:43] Tejareddy1 opened #2618 "How to override the capybara's "find_available_port(host) into my spec_helper.rb"
Can you help me on the below query:

I want to override the capybara's "find_available_port(host)" in my spec_helper.rb, Is it possible?. If it is possible, how can I add it in my spec_helper.rb.
Actually, my requirement is that I want to provide different ports for different browsers where I am running the tests parallelly. I want to do as like below and the method has to pick automatically.

if

[2019-04-16 07:58] benoittgt commented on #2618
Hello @Tejareddy1

I am sorry but this related to capybara https://github.com/teamcapybara/capybara/blob/f6b2f3adf061727ad72f71cabae1bd769015ae5c/lib/capybara/server.rb#L103 not RSpec.

Maybe you could open an issue on Github's Capybara?

[2019-04-16 07:58] #2618 closed

[2019-04-16 11:02] JonRowe commented on #2613
If you look at the scoping during your blocks you'll see that the nested yield is resolving to the describe block, so the extra context is empty and skipped. Easily testable by adding an `it` directly between lines 26-27. (I checked the scope by using a simple `puts self`).

`ExampleGroup`

May I suggest if you don't want to look at RSpec internals you use `shared_examples` to declare your example

[2019-04-16 11:15] JonRowe commented on #2617
If you'd like to tackle this @olleolleolle that would be great! We do have some er minimal documentation here http://rspec.info/documentation/3.8/rspec-core/RSpec/Core/Configuration.html#define_derived_metadata-instance_method

[2019-04-16 11:50] cheerfulstoic commented on #2616
Thanks @JonRowe !  I'd definitely like to try to take a stab at this, but won't get a chance to for at least a week or two.

@benoittgt Yeah, I think it could definitely make sense as a configuration option, though it's the sort of thing that I would expect to want to jump into when I need it, so maybe and/or a feature flag like `--fail-fast`.  Or if it were a formatter it would be easy enough to

[2019-04-16 19:16] p-mongo commented on #2613
Thanks, using instance_exec instead of yield produces the desired results.

Is there any sort of documentation or discussion available for the motivation behind the changes mentioned here for rspec 4? So far my impression is rspec 4 is going to remove functionality that exists in rspec 3 but I haven't seen the motivation for the change, or a suggested path forward for users relying on the function

[2019-04-17 08:18] JonRowe commented on #2613
Sort of, this has been the plan since we re-wrote the API to be non monkey patching. The aim was always to eliminate monkey patching.

No functionality is being removed, a legacy API is being removed. This is the point of major version changes.

The motivation for the change is to completely eliminate monkey patching.

Add `RSpec.` in front of monkey patched methods.

[2019-04-26 07:19] danielwaterworth opened #2620 "Let! shadowing"
Here's the behaviour in question, this test fails.

[code]

The inner `foo` overrides the outer `foo`'s behaviour, but it doesn't turn `foo` into a `let` from a `let!`. This isn't what I would expect although I understand why it happens.

[2019-04-26 13:01] benoittgt commented on #2620
What is your question?

[2019-04-26 13:12] danielwaterworth commented on #2620
@benoittgt, do you consider this a bug?

[2019-04-26 14:51] benoittgt commented on #2620
I don't see this as a bug. 😊

So I am closing the issue. We can re-open it if needed.

[2019-04-26 14:51] #2620 closed

[2019-04-27 17:16] mikegee commented on #2620
I'd say the example code's behavior is somewhat surprising. One might expect `let`s and `let!`s to be completely independent and not interact with each other. Perhaps a documentation adjustment is warranted?

[2019-04-28 08:43] benoittgt commented on #2620
What do you think about it @JonRowe ?

[2019-04-29 13:44] JonRowe commented on #2620
From:  https://relishapp.com/rspec/rspec-core/v/3-8/docs/helper-methods/let-and-let

multiple calls in the same example but not across examples.

the method it defines is invoked. You can use let! to force the method's
invocation before each example.

It should therefore be clear this is expected Ruby semantics for methods that have been defined.

If we add to this I think it should be in the form

[2019-04-29 14:02] JonRowe commented on #2620
I'd also support highlighting the fact that methods are defined, maybe we just add `helper *method*`

[2019-04-30 06:02] joequincy opened #2621 "Feature Request: print status messages within examples (documentation formatter)"
#### Request Description
Add a method to print status messages nested below an Example's description, like:
[code]

#### Background
During a class project, my group found ourselves either 1) repeating complicated setup multiple times for different examples, or 2) including many expectations within a single example and accepting that the documentation formatter wouldn't provide detailed status outp

[2019-04-30 08:01] benoittgt commented on #2621
Hello @joequincy and thanks for your detailed feature request.

I understand what your are trying to do, but I am not completely convinced about how the tests will be written at the end. It looks like a breaking change on RSpec DSL. 🙂

I am wondering if your initial issues could be addressed differently.

For *1)* see below with a very classic example turned into shared examples.

[code]

<img wid

[2019-04-30 09:25] JonRowe commented on #2621
Hi, this can be best addressed by building a custom formatter, if you take the existing format you like as a base (preferably by vendoring it within your code, extending from our classes is an unsupported API although it would work) and then adding an extra notification. You can then configure your code to send this new notification to any reporter that is registered to receive it and get the outp

[2019-04-30 09:25] #2621 closed

[2019-04-30 13:06] joequincy commented on #2621
Thank you both very much for the feedback.
@benoittgt I was not aware that functionality existed. If I understand correctly, I could then (within the `context 'as an admin'`) have a `before(:all)` block which would run the complicated setup a single time and maintain that state through each example just within the `context 'as an admin'`? That would make sense.

@JonRowe I do want to explore this

[2019-04-30 13:18] JonRowe commented on #2621
You could also use custom matchers and aggregate failures to have messages for different step failures. Happy to be tagged in issues but beware there may be delays in replies!

[2019-04-30 14:17] benoittgt commented on #2621
@joequincy We tend to say to avoid using `before(:all)` because it creates sort of global state. On big test suite it can cause painful problems, hard to debug. You should make your test independent also don't try to make your test too DRY. :)

[2019-04-30 15:26] EtiNoked commented on #2496
@wbotelhos, @chrise86 any luck getting rid of these warnings?

[2019-05-03 17:43] connorshea commented on #2583
I've been working on a VS Code [test explorer extension for Rspec](https://marketplace.visualstudio.com/items?itemName=connorshea.vscode-ruby-test-adapter). I'm not getting enough info from the default JSON Formatter, so I've ended up just creating a custom formatter formatter using code from existing formatters and going backward through the rspec-core code to figure out what info was available.

[2019-05-10 14:52] hlascelles commented on #685
It appears the answer is still no.

[2019-05-10 15:51] myronmarston commented on #685
Things that don't have explicit CLI options can still be configured from `.rspec`; you just have to `--require` a ruby file from there, and then configure it in that file.  So, for example, if you wanted to globally change the colors on your machine, you could create a file like `~/configure_rspec_colors.rb`:

[code]

And then add `--require "~/configure_rspec_colors.rb"` to `~/.rspec`.  Any time

[2019-05-16 02:15] 0xdevalias opened #2623 "Bisect hangs / 'minimal set' not very minimal / can't bisect a bisect?"
### Subject of the issue
([Internal Ref for me](https://github.com/AA/CC/pull/9596#issuecomment-492490082))
I can't guarantee this isn't just something weird in my environment (this is running inside a docker container).. but I was trying to bisect an issue in our suite yesterday, and it seemed that each test run was increaasing in runtime, with the eventual one just never completing. I left it ru

[2019-05-16 05:25] 0xdevalias commented on #2623
Note: i also tried bumping to rspec-core 3.8.0, hoping to get the bisect speed improvements mentioned in https://github.com/rspec/rspec-core/blob/master/Changelog.md#380--2018-08-04 but it hasn't seemed to make much of a difference.

[code]

[2019-05-17 20:19] JonRowe commented on #2623
The forma of `./spec/commands/foo_commands/helpers/a_spec.rb[1:1:1:1,1:2:1:1,1:3:1:1]` is multiple ids for a file, so it should be selecting specs. If these are groups it will run them all.

Without further reproduction its going to be hard to find whats causing that not to work...

Regards to performance its likely this its from your own specs, it'd be worth profiling the runs a bit. I'd guess yo

[2019-05-18 07:19] 0xdevalias commented on #2623
I do understand that. From the initial few I manually dug into it seemed to be 'individually referencing' every spec in the file. But I have since disproved that theory. I've just segmented it off to see if it will ever actually finish running. Up to round 22 now, with most running in the ~70min range now (though I have seen as high as 965min).

Is there a way at this point to print out the 'minim

[2019-05-19 16:36] JonRowe commented on #2623
It should take a minimal reproduction and try to bisect it to produce a... more minimal... reproduction. If it's adding more specs in then there is something awry with either the examples it's loading (e.g they're groups or triggering shared examples in some way) or with the filtering being applied.

Not ruling out a bug there but seeking more information for sure! :)

[2019-05-21 13:47] Tejareddy1 opened #2626 "How to get the example status in after (:suite)"
How to get the example status(faled/passed/skipped) in after (:suite).
I tried with custom formatters. but could not able to do it.  I want to use the example status in after (:suite). Please let me know how can I configure it

[2019-05-21 14:16] pirj commented on #2626
This should be available in a [custom formatter](https://relishapp.com/rspec/rspec-core/docs/formatters/custom-formatters) by defining `example_failed`/`example_passed`/`example_pending` methods. Can you please provide some example of your custom formatter?

[2019-05-21 16:48] pirj opened #2627 "`described_class` is overridden in nested example group"
### Subject of the issue

The following spec file:

[code]

passes.

[`described_class` docs](https://relishapp.com/rspec/rspec-core/v/3-8/docs/metadata/described-class) mention:

exposed to each example via the described_class() method.

### Your environment
* Ruby version: 2.5.5
* rspec-core version: 3.8.2

### Steps to reproduce

Run the spec from description.

### Expected behavior

Example fa

[2019-05-22 06:11] Tejareddy1 commented on #2626
This is my custom formatter, I am able to print the value in custom formatter as shown beow:
class StatusFormatter
        RSpec::Core::Formatters.register self, :example_passed, :example_pending, :example_failed
          def initialize(out)
            @out = out
          end
          def failedcount
            @out.length
          end
          def example_finished(notification)

[2019-05-22 11:53] pirj commented on #2626
[Fromatter protocol docs](http://rspec.info/documentation/3.8/rspec-core/RSpec/Core/Formatters/Protocol.html) are pretty good, you may want to check them out.

Think of a formatter as something that accumulates data. Its methods are called when events happen, e.g. an example fails.
But since you only need counts, this is already provided by [SummaryNotification](http://rspec.info/documentation/3.8

[2019-05-22 12:59] Tejareddy1 commented on #2626
I am doing some activity in after(:suite) based on the failed count.so I
need it in after(:suite).please let me know how can I get formatter's
methods/ variables in my after(:suite)

On Wed, May 22, 2019, 17:23 Phil Pirozhkov <notifications@github.com> wrote:

[2019-05-22 13:14] pirj commented on #2626
Can you provide more details on what you are doing exactly in `after`?

[2019-05-22 13:36] Tejareddy1 commented on #2626
Hi, I am trying to use headless gem where I am recording a video and saving
the video in after(:suite) if the failure happens otherwise do not save and
just discard the recorded video. So I required failed count in
after(:suite).

Headless gem: https://github.com/leonid-shevtsov/headless

$headless_server_video.stop_and_save("#{tests_to_run}.mp4")
where stop_and_save is a method in headless gem to

[2019-05-22 15:09] JonRowe commented on #2626
You can do your `stop_and_save` in the formatters hook instead...

[2019-05-23 16:00] MarioRuiz opened #2628 "non existing tag runs all tests"
### Subject of the issue
When running tests supplying a wrong tag, run all the tests:
`rspec . --tag nonexisting`

### Your environment
* Ruby version: 2.5.1
* rspec-core version: 3.8.0

[2019-05-23 16:50] JonRowe commented on #2627
This is deliberate, see b39385e6624d2f42f588eda7b82a68cf6d867eb7#diff-a0aa116f3620e98f10c6a6bf9586e1c2 from #1114 and #1361.

So at worst the docs are incomplete here!

[2019-05-24 12:59] JonRowe commented on #2628
Can you post your output and/or `.rspec` and `spec_helper.rb` files, as this is usually by design as there are options to control this behaviour

[2019-05-25 19:45] pirj commented on #2627
Thanks for the clarification, @JonRowe, this behaviour makes sense to me.

One [`rubocop-rspec` cop](https://github.com/rubocop-hq/rubocop-rspec/blob/24ad67b/spec/rubocop/cop/rspec/described_class_spec.rb#L140) is off, as it was relying on the outdated documentation, I stumbled across this mismatch.

Fixed the doc in #2629

[2019-05-27 06:50] #2627 closed

[2019-05-27 14:07] MarioRuiz commented on #2628
I found the problem, there was on rspec this config: config.run_all_when_everything_filtered = true
Thanks!

[2019-05-27 14:08] #2628 closed

[2019-05-28 08:17] dzirtusss opened #2631 "RSpec+Figaro causes leaking of dev env variables to test env"
### Subject of the issue
When using RSpec with Figaro (maybe other similar gems as well) following happen:

1. Figaro has env config as following:
[code]

2. when `rake spec`, env is started in `development` and `DEV_ONLY_VAR` got populated and joined with `ENV`

3. later `rake spec` spawns a testing process [here](https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/rake_task.rb#L79) wi

[2019-05-28 18:56] JonRowe commented on #2631
This is a tricky one, in some use cases you want the environment to be populated through to your test suite, it really should be Figaro's job to clean the environment at the right point.

We even use certain environment variables to control how RSpec works so I certainly can't support making this a default!

We also cannot use `Bundler.with_clean_env` as we do not depend on Bundler, and it might n

[2019-05-29 13:08] benoittgt commented on #2626
I don't think this is a rspec-core issue but some help to properly use a formatter. I think we can close the issue but keep having a discussion if need more help @Tejareddy1

[2019-05-29 13:08] #2626 closed

[2019-05-30 11:08] sawanoboly opened #2633 "The examples pending_message is always `Not yet implemented` ?"
### Subject of the issue

I am trying to create a custom formatter. Since the pending_message included in the example which is passed to fommater is different from the pending argument, I would like to use argument of pending for it.

### Your environment
* Ruby version:

ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]

* rspec-core version:

RSpec 3.8
  - rspec-core 3.8.0
  - rspec-e

[2019-05-30 14:13] benoittgt commented on #2633
If you look at "message" meaning in RSpec source code you will see it refers to very different subject.

See: https://github.com/rspec/rspec-core/blob/58f38210492cd369784d3fe1a849c0e81342a2f2/lib/rspec/core/example_group.rb#L147

Why not using "description" argument?

For me "pending_message" is more an internal RSpec sentence.

See
[code]

[code]

in documentation output
[code]

[2019-05-30 18:51] #2633 closed

[2019-05-30 18:53] JonRowe commented on #2633
TL;DR; The problem is that`pending` in a describe is an empty example. So its not implementing. If you give it a block it will expect it to fail. Skip metadata will provide a message.

[2019-06-13 11:03] vfonic opened #2636 "Shared context inside `each` block doesn't re-evaluate"
I have a shared context that is accessing a variable created with `let` inside of an `include_context` block.

[code]

Here's the shared context code:

[code]

This always fails for the second app, because the 'first app' is shown for the link. I mean, `#login` gets called twice, but on the second run `app` is still the `app` instance from the previous example. How can I use this array with `each`

[2019-06-13 11:55] pirj commented on #2636
This is no surprise.
If you expand the loop, it turns into:
[code]

One of the included contexts overrides the other one, and your `app` defined in `let` is always the same, for both examples.

It's correct to wrap the two different contexts in `describe`, or semantically even better in `context`, e.g.

[code]

[2019-06-13 13:30] DavidS opened #2637 "--bisect deadlocks when reporting results"
### --bisect deadlocks when reporting results

[code]

at the point of ctrl+c, the process has been already sitting a lot longer than the test suite would run.

stracing the processes shows the following situation:

[code]

where pid 6090 is the `--bisect` process and pid 6096 is the child rspec process. From other traces I've been running, I understand that the `ppoll` is waiting on an IO event a

[2019-06-13 13:49] DavidS opened #2638 "--bisect's ShellRunner does not properly shellescape special characters"
### --bisect's  ShellRunner does not properly shellescape special characters

when running `rspec --bisect` `Open3.capture2e` called at
https://github.com/rspec/rspec-core/blob/2800fe118fa2efeb87b7bdc7888476373debf6ca/lib/rspec/core/bisect/shell_runner.rb#L48 will pass the `cmd` string through to the system shell without any escaping, leading to spurious failures.

### Your environment
* Ruby vers

[2019-06-13 19:18] #2636 closed

[2019-06-13 19:37] JonRowe commented on #2636
@pirj is spot on with his diagnosis here! An alternative implementation is:

[code]

[2019-06-14 06:07] vfonic commented on #2636
Thanks for the explanations!

@JonRowe I really like your solution. It looks/reads like

`context '...' do` => `includes_context '...' do`

I think I'll use that one.

Thanks!

[2019-06-17 03:11] ioquatix opened #2639 "nested :if doesn't work as expected?"
[code]

Gives the output

[code]

I feel if the top level context is disabled, shouldn't it also skip the inner context?

[2019-06-20 14:10] Drowze opened #2640 "allow(object).to receive(:method) overwriting previous definitions on block syntax"
### Subject of the issue
`allow(object).to receive(:method)` return value is overwriting previous definitions on block syntax, whilst working as intended on `expect(object).to receive(:method)` with its block syntax.

### Your environment
* Ruby version: 2.5.1
* rspec-core version: 3.8.0

### Steps to reproduce
allow an object to receive the same method two times using block syntax. The return val

[2019-06-20 15:10] uppak opened #2641 "Can we send tags with regex to rspec --dry-run?"
Hi,

I have a requirement for my rspec tests. I have a bunch of tests in a folder tagged with different tags, but all these tags start with "FR_". Similarly I have some other tests in same which do not have this tag at all.

Is there way which I can find the tests which doesn't have these "FR_" tag with --dry-run or any command.

Regards,
Kalyan Uppalapati

[2019-06-20 17:45] benoittgt commented on #2641
Hello

I am [not sure](https://github.com/rspec/rspec-core/blob/b4af5c7ef75ee2194059e5dd6a7383718914e91a/lib/rspec/core/option_parser.rb#L240-L244) you can using `--tag` argument. You can negate tags usings `~` but in your case you need to regex tags.

If you want to run only the test without `FR_`tags you can do:

[code]

[2019-06-20 17:45] #2641 closed

[2019-06-21 11:05] uppak commented on #2641
Thanks, will try this.

[2019-06-21 16:28] JonRowe commented on #2639
As `if:` is just a special metadata name which causes an example to be skipped, the feature to consider here is metadata and how its applied. We want inner metadata to override outer metadata, so by the time example checks for `if: ` its true so the example is run and the output produced.

So I'm afraid this is working by design! Sorry!

[2019-06-21 16:28] #2639 closed

[2019-06-21 17:46] JonRowe commented on #2640
:wave: I'm afraid the blocks being given to expect is to allow complex return values, so you are essentially doing:

[code]

Which I hope explains why this is behaving as it is, and is to be expected.

The reason allow works is that `with` is designed to select different values. You need to use `with` in your expects to get the behaviour you want. Remember you can use complex argument matchers in

[2019-06-21 17:46] #2640 closed

[2019-06-21 23:09] ioquatix commented on #2639
Okay that makes sense.

I worked around it by putting tacking on an if at the end:

[2019-06-23 09:59] benoittgt commented on #2637
Thanks a lot for this detailed answer and the clues.

I would love to take a deeper look on this one. In the meantime did you see this discussion https://github.com/rspec/rspec-rails/issues/1353 ?

[2019-06-23 10:08] benoittgt commented on #2638
Hello

Thank for this issue. I think my knowledge on this one are quite limited.

Do you think you can provide a reproducing example with "spurious failures"?

Sorry to ping you @myronmarston but maybe you have an idea?

[2019-06-23 10:11] JonRowe commented on #2638
:wave: @benoittgt this is on my list to tackle, it will just be that we're not properly escaping / passing the pattern to the shell, its known to be problematic due to the fact that various glob characters are treated specially by terminal shells, and we need the "glob string" and not the expanded glob. It's a similar issue to what happens with Rake.

[2019-06-23 10:14] JonRowe commented on #2637
@DavidS I'd love it if you could provide us with an isolated reproduction of this, my time is quite limited at the moment and I won't be able to get to a reproduction containing complex code like puppet, another reason for this is to exclude the possibility of puppet itself causing the deadlock. Alternatively I'm open to suggestions for detecting deadlocks and preventing them within RSpec itself?

[2019-06-23 10:15] benoittgt commented on #2637
Definitely 💚

[2019-06-23 10:16] benoittgt commented on #2638
Ok. Thanks Jon! :)

[2019-06-23 16:28] JonRowe commented on #2638
Hm, ok, this is slightly more complex than I realised... We are having to parse the original cli and then re output it, but we are correctly escaping the shell output on my system. What OS and Ruby engine are you using @DavidS ?

[2019-06-24 08:56] DavidS commented on #2637
[code]

is an example that immediately deadlocks for me when running under `rspec --bisect`:

[code]

[code]

By changing the `3000`, you can make the result set arbitrarily large if you OS has a larger default buffer size.

[2019-06-24 08:58] DavidS commented on #2638
Debian testing and it's system ruby (2.5.5 at the moment)

[2019-06-24 09:02] JonRowe commented on #2637
Thanks, yes that triggers the issue for me, as a work around the shell runner of course works, but then I guess thats why you have #2638 open :joy:

[2019-06-24 10:15] DavidS commented on #2637
Exactly :-D

Thanks a lot for the time and work y'all put into rspec.

[2019-06-24 11:02] DavidS commented on #2638
@JonRowe can you point me at where the escaping is happening? maybe I was looking at the wrong bit when debugging...

[2019-06-24 11:03] JonRowe commented on #2638
Can you give #2643 a go to see if it solves your issue?

[2019-06-24 15:55] DavidS commented on #2638
Much to my embarrassment I have to say I haven't been able to repro this issue after giving it a few tries this afternoon.

[2019-06-24 17:01] BChesbrough commented on #795
Beyond memory leaks, it's also really useful to be able to re-run a test many times to help with tracking down intermittence failure and race conditions.

[2019-06-24 17:23] JonRowe commented on #795
@BChesbrough see rspec-retry for intermittent failures

[2019-06-29 11:01] JonRowe commented on #2638
I can't replicate it either now, previously I had files failing but escaping them on input works fine, without a reproduction I'm not sure I want to merge #2643

[2019-06-29 17:03] myronmarston commented on #2638
Can you use the `ForkRunner` instead of the `ShellRunner`?  It's generally faster (in some cases, significantly so) and shouldn't have this problem (it never shells out).

[2019-06-29 17:53] JonRowe commented on #2638
@myronmarston the linked issue explains why shell runner was used at all,
the OP ran into a deadlock with the fork runner

[2019-07-01 03:41] ajn123 commented on #2583
Hi I am new - can I take this issue ?

[2019-07-01 03:56] ajn123 commented on #2617
@JonRowe is this issue still open, I am new.  Can I take it ?

[2019-07-01 05:47] JonRowe commented on #2617
@ajn123 you're welcome to take a go

[2019-07-01 05:48] JonRowe commented on #2583
@ajn123 If you feel you can improve the docs I'll certainly take a look

[2019-07-02 07:03] ajn123 commented on #2583
Thank you so much, I did a working draft late tonight.

I see the
[code]
options, how can I see the relish docs on my computer locally before a pull request ?

[2019-07-02 10:40] benoittgt opened #2645 "Ruby proposal for default bloc parameter with "it""
Hello

A recent discussion was open on Ruby tracker for a proposal about a default block parameter. Even if the idea is good, the proposal is to have a default block parameter named `it`.

https://bugs.ruby-lang.org/issues/15897

As mentioned in  the discussion RSpec should not technically not be impacted.

jeremyevans0 (Jeremy Evans) wrote:

I will try today (I am at CookPad Ruby Hack Challenge w

[2019-07-02 10:41] #2645 closed

[2019-07-02 10:41] benoittgt commented on #2645
I open the issue only to have a discussion.

[2019-07-02 14:00] benoittgt commented on #2645
I wrote a test in RSpec core test suite and run using ruby master with [an updated patch](https://bugs.ruby-lang.org/issues/15897#note-22).

`~/code/ruby_source_code/install/bin/bundle exec rspec spec/rspec/core_spec.rb`

[code]

[code]

It works. Same with all of the rspec-core test suite.

Curious about what do you think about this Ruby proposal @JonRowe.

[2019-07-03 21:05] JonRowe commented on #2583
You'll need to create an account and push your own repo there, see how it's done in the Rakefile

[2019-07-03 21:26] JonRowe commented on #2645
Thanks for the heads up, I've left some feedback

[2019-07-04 19:47] benoittgt commented on #2637
Thanks. I was able to reproduce it on my mac with a very basic example like the one you mentioned.

https://github.com/benoittgt/rspec_repro_bisect_deadlock

[2019-07-05 07:27] benoittgt commented on #2637
A very interesting answer has been posted by @palkan here : https://github.com/benoittgt/rspec_repro_bisect_deadlock/issues/1

I had also success removing `Process.waitpid` but I was not sure it was a good idea. I didn't understand it's usage here.

[2019-07-05 07:54] DavidS commented on #2637
@palkan comes to the same conclusion that is in my original analysis. `Process.waitpid` does some OS-level cleanup that is sometimes necessary for the overall health of the OS. In this case of a single child process, we can be lazy and not do it at all, or defer it until all output is read and processed.

[2019-07-05 10:45] benoittgt commented on #2637
Thanks a lot @DavidS for those additionnals information.

What do you think about the proposal of @palkan

I tried in `utilities.rb`
[code]

but

[code]

[2019-07-05 13:42] DavidS commented on #2637
Reading through the docs of write_nonblock (https://apidock.com/ruby/IO/write_nonblock) I also think that in the original error case you would just get a Errno::EWOULDBLOCK instead of writing the data out.

[2019-07-05 16:18] palkan commented on #2637
I tried this: it fills the buffer and returns 65536. Not sure when Errno::EWOULDBLOCK could happen.
So, that would be a partial write (and that's why we see `marshal data too short`).

My initial suggestion that we can leverage `write_nonblock` was not correct: we need to initiate the read before calling `waitpid`. That's the main problem.

Probably, the following refactoring could be a bit better

[2019-07-08 16:37] JonRowe commented on #2637
@palkan do you feel like working up a patch with something like that?

[2019-07-08 18:32] palkan commented on #2637
@JonRowe Not in the next couple of weeks. I can try to find another _evil martian_ to help with this)

[2019-07-10 11:55] benoittgt commented on #2637
It is working with @palkan proposal

[code]

But I didn't verified yet what David mentioned.

I dig into [MRI source](https://github.com/ruby/ruby/blob/c5eb24349a4535948514fe765c3ddb0628d81004/process.c#L1297-L1303)
 [code](https://github.com/ruby/ruby/blob/c5eb24349a4535948514fe765c3ddb0628d81004/process.c#L530-L534) but at the moment I no clue of what can happens when it not "cleanup". I don't s

[2019-07-10 20:54] ajn123 commented on #2583
I see you use:
`rake relish[Task]`
do you have to put the correct version in it ?  I can't seem to get the command recognized.

[2019-07-11 03:32] token-cjg opened #2648 "Get retries in before(:all) blocks working"
### Subject of the issue
Retries in before(:all) blocks do not work when using noredlink/rspec-retry and teamcapybara/capybara.

### Your environment
* Ruby version: 2.4.1
* rspec-core version: 3.8.0

### Steps to reproduce
Create a spec file in a capybara test runner project with a before(:all) block.  Within the before(:all) block, use an api gem to declare creation of an object in an environmen

[2019-07-11 08:38] benoittgt commented on #2583
I think you look at this https://github.com/rspec/rspec-core/blob/master/Rakefile#L69-L74 on your own repo. To handle your own repo https://relishapp.com/relish/relish/docs/client-gem/add-a-project. I never did it but I think it should work. Feel free to ping us if you need some help.

[2019-07-11 11:11] #2648 closed

[2019-07-11 11:11] JonRowe commented on #2648
As this is an issue with a 3rd party gem, I suggest raising an issue with them :)

[2019-07-11 12:00] JonRowe commented on #2583
Yes we put in the correct version, that could be improved I guess! :joy:

[2019-07-11 12:00] JonRowe commented on #2583
(wrong button clicked, apologies)

[2019-07-16 06:52] ajn123 commented on #2583
@benoittgt Great thanks!
1 more q: How do I get credentials for staging my own relish app - I see no way to create an account.

[2019-07-16 08:19] benoittgt commented on #2583
I think someone with rights (maybe @JonRowe) needs to add you as collaborator. https://relishapp.com/relish/relish/docs/client-gem/add-a-collaborator or you need to contact relishapp to have an account.

I am sorry I never did it. I think you should ask relish for an environment.

[2019-07-16 21:31] JonRowe commented on #2583
Er new sign ups appear to be close due to the migration to cucumber.pro, which in turn seems to have been acquired? @mattwynne any advice here?

[2019-07-17 10:16] WoolenWang opened #2660 "Windows doesn't support chinese sample"
[code]

[2019-07-19 05:09] mattwynne commented on #2583
Hey @JonRowe.

We have closed sign-ups to Relish as we no longer want to have to support it.

You're right that [Cucumber Ltd. (which owns both Relish and Jam) has [been acquired by SmartBear](https://cucumber.io/blog/cucumber-acquired-by-smartbear/) recently. We are still fully supportive of the RSpec project and community and still have on our roadmap to transition you all over to https://cucumb

[2019-07-19 05:10] mattwynne commented on #2583
Ref https://github.com/rspec/rspec-dev/issues/199

[2019-07-19 11:11] JonRowe commented on #2583
@mattwynne @ajn123 was hoping to preview documentation changes from this PR

[2019-07-21 01:02] MSP-Greg opened #2650 "backtrace_formatter.rb - invalid byte sequence in US-ASCII (ArgumentError)"
### Subject of the issue

While running bundler tests in ruby/ruby (currently done with Azure Pipelines running an Ubuntu job and a MacOS job), the following error appears:

[code]

I work with trunk/master/2.7.0 and I've never come across this error before.  Anyone have any ideas?

### Your environment
* Ruby version: master/trunk
* rspec-core version: 3.8.2

### Steps to reproduce

Run Ruby Azur

[2019-07-21 17:53] JonRowe commented on #2650
:wave: Will need a bit more information to help here, this is likely an encoding error with the regular expression, so your config and command line usage would help

[2019-07-21 18:32] MSP-Greg commented on #2650
Jon,

I wanted to create an issue in case something else causes the same error.  Sometime I'll investigate more, but I've got a few other 'fires' that need attending...

[2019-07-23 02:31] MSP-Greg commented on #2650
I just ran the same tests on Appveyor, and I got the same error.  I briefly looked at the code:

https://github.com/rspec/rspec-core/blob/77dbc84657c5dc45e07a7fe0f5b02b4caeb6c9ad/lib/rspec/core/backtrace_formatter.rb#L8-L20

I may try and adjust the code and see if anything changes, but the only way I know how to repo it is running the bundler test suite with ruby-head/trunk.

There are a few pare

[2019-07-23 06:55] JonRowe commented on #2650
I've always taken that to read as, "don't expect your captures to line up correctly"

[2019-07-23 15:36] MSP-Greg commented on #2650
I haven't thought about possible solutions, but this may be due to how Azure Pipelines deals with ANSI escape sequences, which don't affect the displayed logs...

Ok to close.

[2019-07-23 15:51] JonRowe commented on #2650
(We know our Windows support isn't great, anything we can do to improve it is a good thing..)

[2019-07-23 15:55] MSP-Greg commented on #2650
You're testing on Appveyor (maybe add 2.6 or trunk?), so you're doing fine.  I wonder if [`String#scrub`](https://msp-greg.github.io/ruby_trunk/Core/String.html#scrub-instance_method) would help here?  Never used it.

[2019-07-24 05:13] benoittgt commented on #2650
At the moment we don't :/

https://github.com/rspec/rspec-core/blob/master/appveyor.yml#L34-L41

[2019-07-24 13:00] JonRowe commented on #2650
I'd like to see if 2.6 has this issue for us, or otherwise replicate it on appveyor, @benoittgt do you want to take care of that?

[2019-07-24 13:14] MSP-Greg commented on #2650
Bundler has some color 'add-ins' that are used in their testing, and the issue is only ocurring when bundler is tested as it exists in the ruby/ruby repo.

I'm assuming the code in question is only called when a backtrace needs to be formatted.

It may be a few days, but what I'll do is add a patch for `backtrace_formatter.rb` to the Azure Pipelines testing to filter the ANSI color code strings, a

[2019-07-24 22:44] dmitry commented on #294
Nice. I found this topic in 2019. :+1: Still working for RSspec 3.8.

[2019-07-26 14:53] jezus-nunez commented on #1793
I would use this thing with --list-tags :) +1

[2019-07-30 14:35] Onumis opened #2653 "Exclude examples specified by several values of the same tag"
### Exclude examples specified by several values of the same tag

There should be the ability to do `rspec --tag ~type:model --tag ~type:controller` and have rspec understand it should `exclude {:type =>['model', 'controller']}`

### Your environment
* Ruby version: 2.5
* rspec-core version: 3.8

### Expected behavior
RSpec outputs `Run options: exclude {:type=>['model', 'controller']}`

### Actua

[2019-07-31 21:48] JonRowe commented on #2653
This is a duplicate of #1622 the current behaviour has always been `AND` not `OR`, see discussion there and possible feature extensions.

[2019-07-31 21:48] #2653 closed

[2019-08-01 18:31] nakulpathak3 opened #2654 "Show line number of failing expectation"
[code]

When this fails, I get
[code]

Is there a way to know which `expect` failed? Maybe `do_something` did something it wasn't supposed to or my initial assumption is wrong.

I'm curious if there's some `expect` failure line number option to save me the headache of trying to comment out expects and figuring out which failed.

rspec-core 3.8.2
ruby 2.3.8p459

[2019-08-01 22:52] JonRowe commented on #2654
`--backtrace` will list the stack of the failure, but not prettily, as an aside I'd probably write your particular case as:

[code]

Which would tell you what went wrong

[2019-08-05 20:42] nakulpathak3 commented on #2654
Thanks for the tip, I still think navigation would be easier if we provided the `expect` line number in the output somewhere (without backtrace). What do you think?

[2019-08-08 11:34] JonRowe commented on #2654
I'd take a look at any PR adding this for sure, don't have the time to look at it myself :)

[2019-08-15 10:51] Bodacious opened #2655 "Before blocks are being run even when example isn't"
We have a case where we need to test multiple permutations of an object. In this simplified example I've used colour, size, and state, but in our case we actually have dozens of values to iterate over. Since we have so many combinations, it's safer and faster for us to meta-code these specs.

We have a conditional to determine which example should be run for a given combination of values.

But thi

[2019-08-16 08:17] JonRowe commented on #2655
Transferred to `rspec-core` because hooks are a feature of that gem.

:wave: Whats happening here is Ruby semantics. You are essentially doing this:

[code]

So as you can see, all the hooks are run if any example runs. Which is the correct expected behaviour.

There are two ways to do what you want here:

1) *Recommended* Wrap the inner block in a `describe` or `context`, which creates a seperate

[2019-08-16 08:17] #2655 closed

[2019-08-16 08:30] Bodacious commented on #2655
@JonRowe Thanks for this explanation. I feel quite silly that I didn't think of that at the time.

[2019-08-23 10:24] BrazhnykYuriy opened #2656 "Pendings is not shown"
### Subject of the issue
When hash `pending: true` is used all pendings are ignored, and 0 examples is shown
I'm not sure if my understanding of current pending logic is right but showing 0 examples is not right for sure.
Also 2.99 is showing 2 examples, 0 failures, 2 pending

### Your environment
* Ruby version: 2.3.6
* rspec-core version: 3.8.2

### Steps to reproduce
[code]
or
[code]
### Expect

[2019-08-23 12:20] JonRowe commented on #2656
Pending changed its behaviour in RSpec 3. It expects examples to fail, and if they don't they "fail" as unexpected. You are looking for skip.

[2019-08-23 12:22] JonRowe commented on #2656
Sorry I misread this at first, I'll take a look, but I'm not entirely sure pending is supported as a metadata anymore, but then you'd have examples running.

[2019-08-23 18:34] JonRowe commented on #2656
Running either or both of your snippets on Ruby 2.6 work fine, I'm installing 2.3.6 to see if thats the issue, are you sure your files are being loaded?

[2019-08-27 13:47] BrazhnykYuriy commented on #2656
@JonRowe that may be an issue with my project, and i apologies for that.
Did you get any chance to see if that is reproduced on 2.3.6?

[2019-08-27 14:51] benoittgt commented on #2656
I have the behavior you expect on Ruby 2.3.6 and 2.6.3

[code]

I used this code

[code]

[2019-08-27 14:53] BrazhnykYuriy commented on #2656
@benoittgt thank you for looking into this. Then this is something to do with my configuration or gems.

[2019-08-27 14:53] #2656 closed

[2019-08-28 16:28] BrazhnykYuriy commented on #2656
Found the issue, someone added this seven years ago
[code]

But somehow this was not affecting the RSpec 2.99, but RSpec 3.8 took it seriously :)

[2019-08-28 20:38] JonRowe commented on #2656
I believe that was previously named differently in 2.99

[2019-09-18 05:29] benoittgt commented on #2637
I recently use my last proposition with the `Process::WNOHANG` in a project with stuck bisect. It helped us having a result instead of a locked bisect.

Don't you think a PR with that change will be a good idea? Not sure about how we can test this at the moment. I have to think about it.

[2019-09-20 16:35] elrayle commented on #2078
I tried to use the original suggestion by @myronmarston but it is not working as I had hoped.  Here is a simplified test following that pattern...

[code]

This prints...
[code]

Note that my_val is NOT set based on the value of val.  It is always 2.

[2019-09-20 16:53] elrayle opened #2663 "How to run the same tests multiple times with different values?"
### Subject of the issue
Suggestion for running multiple tests expressed in Issue #2078 does not work as I expected.  Should the method shown under Steps to reproduce work to run a test multiple times with different values?

In my real tests, I am passing val to a class initializer that is setup in a let statement to test various conditions for the initializer parameters that should produce the sa

[2019-09-20 17:04] elrayle commented on #2663
I solved my own question.  In case someone else also runs into this, the solution is to wrap the let statement and all tests inside a context block...

[code]

Now produces...
[code]

As you can see, val and my_val have the same value for all tests, which is what would be expected.

[2019-09-20 17:04] #2663 closed

[2019-09-20 17:20] JonRowe commented on #2078
@elrayle Thats because you can't use let in this fashion, its the equivalent of:
[code]
You are overwriting the previous definition. You either need to use `val` directly, or wrap each unit in a `describe` or a `context`.

[2019-09-26 15:46] stevenaw commented on #2407
Has there been any movement on this since @myronmarston made his PR? I think I'm running into this when I'm trying to combine `--only-failures` with targeting a specific context by line number. Untested example intended for demo purposes:

[code]

With the above:
- `rspec spec/array_spec.rb` gives "3 examples, 1 failure"
- `rspec spec/array_spec.rb --only-failures`  gives "1 example, 1 failure"
-

[2019-09-26 15:51] JonRowe commented on #2407
You're encountering a slightly different "feature", in that specific line numbers take precedence over other filters, you are instructing RSpec to run that example group.

[2019-09-26 16:34] stevenaw commented on #2407
Ok thanks for taking the time to explain and summarize @JonRowe

[2019-10-02 17:39] p8 commented on #2509
We could merge the other repos while keeping all the history.
I had some success with the steps described here (https://thoughts.t37.net/merging-2-different-git-repositories-without-losing-your-history-de7a06bba804):
[code]

[2019-10-03 07:29] deepj commented on #654
@JonRowe Hello, I would like to open this issue, eventually to prepare PR for this.

I think there is a room for `described_module` to be in rspec-core. Ruby supports `module_function`. And I use it for small functions. In fact, it's similar to Elixir in my case. Better it's to show on some code. Here is one of my recent example.

[code]

I really would like to use something like

[code]

[2019-10-03 08:30] JonRowe commented on #654
:wave: I'm hesitant to add this because we'd rather people didn't use `described_class` or constants in `describe <n>`, the reasoning being its an anti-pattern in your tests. Having the module / class in the describe means the code *must* be loaded before the spec is loaded, where as delaying the need for the module to be loaded allows much easier testing in isolation.

We'd also much rather you u

[2019-10-03 12:44] mfilej commented on #654
@JonRowe This is completely off-topic, so please feel free to redirect me elsewhere. Does the RSpec team officially recommend using subject to store the result of a method call on the object under test? I always assumed *subject* is meant to be the *object under test*. If this was already discussed elsewhere I'd be happy to read about it.

[2019-10-03 18:58] JonRowe commented on #654
@mfilej The RSpec team recommend `subject(:something_appropriate)` is used to highlight the er... subject... of the context (or contexts). This is usually an object, but of course in Ruby, everything is an object, and if the object under test is returned from a method thats totally valid.

[2019-10-04 06:38] mfilej commented on #654
Of course, that's why I said the *object under test*, i.e. the unit of code that is being tested (usually) by sending messages to it.

While the result of a method call is technically also a ruby object, in my opinion that is not what is being tested—it is just a value that helps us verify that the object under test (that received the message that produced the value) is behaving correctly.

[2019-10-04 16:43] pirj commented on #654
@mfilej apply testing style that you consider the right one:
[code]

It depends on how you structure the examples, if you reuse the same subject, or different examples/groups make expectations on different subjects.

[2019-10-06 21:29] JonRowe commented on #654
The point of `subject(:name) { ... }` is to draw attention to the fact the result under test is extracted to what is essentially a `let`. This is one of the reasons we recommend always naming it. I would never really expect someone to do `a_subject_name.some_method`.

[2019-10-11 13:55] 2ken commented on #2508
I had a similar issue today where `rspec --dry-run` would consistently and correctly return the same number of examples, but I would get different example count from running rspec without the flag.

The problem was that several of the examples were exiting the running process, not just throwing errors. Since `--dry-run` doesn’t actually run the examples, it discovers all specs without exiting the

[2019-10-12 00:03] kwerle opened #2666 "RSpec::Core::Runner.run on a broken file poisons the world"
### Subject of the issue
RSpec::Core::Runner.run on a broken file (unresolved symbols) will make further executions of RSpec::Core::Runner.run fail.

The expectation is that running it on a broken file and then on a valid file should generate the correct output for the valid file.

### Your environment
* Ruby version: ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-linux]
* rspec-core version:

[2019-10-13 14:52] pirj commented on #2666
I suspect it's due to "out of spec failures", and normally, say when you run
[code]
in the reproduction project you provided, it would finish with:
[code]
This is because they are parsed all at once, and out of example error is detected before examples are being run.

When you point `RSpec::Core::Runner.run` to a single spec file, it loads that one specific file and runs examples. Once it stumbles

[2019-10-13 22:47] kwerle commented on #2666
I really appreciate your solution and will give it a shot.

But it really seems to me that `.run` should probably `RSpec.world.non_example_failure = false` at the top of the method.  I would find that least surprising.

[2019-10-14 10:10] JonRowe commented on #2508
Yes using `exit` or `abort` will cause RSpec to quit because we respect Ruby semantics in that respect, wrapping an `around { |ex| ex.run rescue SystemExit }` etc would trap it. Although in that limited scenario I am wondering if we should print a warning about that happening...

[2019-10-14 15:28] kwerle commented on #2666
I've modified my trivial code like so:

[code]

This does clear the `RSpec.world.non_example_failure`, but it still does not allow running of additional files.  Of interest, following calls continue to print that there was an error outside of tests after setting non_example_failure false.

[2019-10-14 16:25] JonRowe commented on #2666
:wave: So RSpec is not designed to have `RSpec::Core::Runner.run` called multiple times, as we are primarily a command line tool theres a bunch of things that don't quite gel when used programatically, although we are open to do improving things if possible.

In particular here you might want to look at the docs for [`RSpec::Core.reset`](http://rspec.info/documentation/3.9/rspec-core/RSpec.html#re

[2019-10-14 16:26] #2666 closed

[2019-10-14 16:27] JonRowe commented on #2666
I'm closing this only because I believe this is a "behaving as designed" issue, I am happy to continue the discussion here and re-open / raise a new issue if there is something we can change here. Although I do not want to change the current `non_example_failure` default :)

[2019-10-14 16:30] kwerle commented on #2666
Thank you.  I'll take this for a spin.

Offhand, it seem like `RSpec::Core::Runner.run` ought to call `RSpec::Core.reset` itself.  That's what `.run` smells like: "I want to do a single run in a fresh world."

[2019-10-14 16:36] kwerle commented on #2666
Oh - it's actually `RSpec.reset`, and it does appear to do what I want.

I'll consider this a functional workaround.  But as I said at the top, a full reset at the top of the `.run` method would be least surprising to me.

[2019-10-14 16:39] JonRowe commented on #2666
Well if you initialise `RSpec::Core::Runner` yourself you get to choose that behaviour, I'll stress again the API is designed primarily for our usage and we always create a new instance but with the shared globals on startup. Theres no reason why you can't inject new instances each time.

[2019-10-14 17:26] hayesr commented on #2637
@benoittgt 's `Process::WNOHANG` solution also worked for me.

[2019-10-28 17:21] ctrlaltdylan commented on #2484
9 times out of 10 this kind of error is because I have a recursive application code level problem, not necessarily in the spec suite. Just a heads up for future lookers.

[2019-10-30 16:02] skatenerd commented on #1650
I personally ran into this issue when trying to refactor away from `let` statements and towards explicitly invoking helper methods to set up my data.  Specifically, I was addressing this pattern:
[code]

I thought this was really tricky/fragile, as it relied on laziness, and because I couldn't understand the test itself without looking at all of the "parent" specs and simulating in my brain how al

[2019-10-30 16:03] skatenerd commented on #1650
I personally ran into this issue when trying to refactor away from `let` statements and towards explicitly invoking helper methods to set up my data.  Specifically, I was addressing this pattern:

[code]

I thought this was really tricky/fragile, as it relied on laziness, and because I couldn't understand the test itself without looking at all of the "parent" specs and simulating in my brain how a

[2019-11-30 13:30] Hirurg103 opened #2671 "exclude_pattern config doesn't work"
### Subject of the issue
I tried configure rspec to exclude a folder in the `configure` block but it doesn't work for me

### Your environment
* Ruby version: ruby 2.5.3p105
* rspec-core version: 3.9.0

### Steps to reproduce

Folder structure `tree -a .`:
.
├── .rspec
├── .ruby-version
├── Gemfile
├── Gemfile.lock
└── spec
    ├── shared
    │   └── common_spec.rb
    ├── spec_helper.rb
    └── v

[2019-12-02 17:46] pirj commented on #2671
Thanks for reporting.

The problem here is that initially RSpec runs without configuration, and builds a list of files to run, and then the configuration is loaded from the first file being executed.

It's common and [recommended](https://relishapp.com/rspec/rspec-core/v/3-9/docs/configuration/pattern) to add `--require spec_helper` to `.rspec` file. It's also [what `rspec init` command adds](http

[2019-12-02 17:46] #2671 closed

[2019-12-02 18:52] Hirurg103 commented on #2671
Thanks @pirj , you helped me

[2019-12-02 19:04] pirj commented on #2671
You're welcome!

[2019-12-10 09:04] ioquatix opened #2673 "Reporting multiple errors"
Sorry, this is more of a question, but how does one report one or more errors in an `around(:each)` block?

[code]

It's possible for the user code to throw one or more exceptions.

I don't know how to correctly report these and couldn't figure it out from the documentation. This will either result in:

- A PR to add this capability.
- A PR to add documentation about this capability.

If you can a

[2019-12-10 09:08] JonRowe commented on #2673
Change your `around(:each)` to `around(:each, aggregate_failures: true)` and it should be done automatically for you, we rescue them and aggregate them into one failure.

[2019-12-10 09:08] #2673 closed

[2019-12-10 09:08] JonRowe commented on #2673
In general the feature you are looking for is `aggregate_failures` though.

[2019-12-10 09:45] ioquatix commented on #2673
@JonRowe what about general exceptions, how do I add them?

[2019-12-10 09:46] JonRowe commented on #2673
Same way, an exception is a failure to us.

[2019-12-10 09:54] ioquatix commented on #2673
What do I use for `add_error` in the following example?

[code]

[2019-12-10 10:06] JonRowe commented on #2673
[code]

[2019-12-10 10:20] ioquatix commented on #2673
I see what you are doing.

Unfortunately:

[code]

=)

Do you want me to make a PR to make this possible?

[2019-12-12 12:29] WojciechKo opened #2674 "Compatibility of shared_examples with Ruby 3"
### Subject of the issue
Compatibility of `shared_examples` with a ["Real" keyword argument](https://bugs.ruby-lang.org/issues/14183) from upcoming Ruby 3

### Your environment
* Ruby version: 2.7.0preview3
* rspec-core version: 3.9.0

### Steps to reproduce
[code]

### Expected behavior
- `charlie` example should not produce any warning
- `alfa` should not be supported to follow Ruby 3 changes (?

[2019-12-13 17:34] JonRowe commented on #2674
Work here is needed to figure out what they've changed and why this is issuing a warning, I suspect we just haven't considered keyword argument at all and they've just worked due to their hash like nature. The implementation should be agnostic to what is passed in and just pass through the arguments. (Meaning the "alfa" example will not work on ruby 3, but continue to work everywhere else).

[2019-12-13 21:07] hakunin commented on #2119
I am naming my `include_examples` invocations to work around this issue a bit:
[code]

[2019-12-14 14:22] #2637 closed

[2019-12-16 05:49] ngan opened #2675 "Shared context doesn't work with extended methods"
### Subject of the issue
Methods that were injected via `config.extend(...)` are not defined when called within shared contexts.

### Your environment
* Ruby version: 2.6
* rspec-core version: 3.9.0

### Steps to reproduce
[code]

### Expected behavior
Prints 'hi'

### Actual behavior
`something` is undefined

[2019-12-16 08:08] pirj commented on #2675
Can you please provide a bit more context of how you use that shared context? I'm not able to reproduce this behavior:
[code]

outputs:
[code]

[2019-12-17 15:29] jrochkind opened #2677 "cucumber failures on master from local clone?"
As I try to get up to speed to potentially make a PR to rspec-core... I unfortunately don't seem to have green tests even off of un-edited master. But I see master is green on travis. So I may be missing a setup step or something? The [relevant docs](https://github.com/rspec/rspec-core/blob/master/BUILD_DETAIL.md) don't seem to mention anything special.

I can get further by first running `bundle

[2019-12-17 16:53] JonRowe commented on #2677
Do you mean rspec-core? Those are rails scenarios?

[2019-12-17 17:15] jrochkind commented on #2677
Your right, meant to file this on rspec-rails, sorry!

[2019-12-17 17:16] JonRowe commented on #2677
Its ok we can transfer

[2019-12-17 17:58] ngan commented on #2675
I'll close this out for now and investigate what's wrong on my end then. Thanks for the response. Will report back when I figure it out.

[2019-12-18 01:39] tubaxenor commented on #2675
I think the problem happens when include context inside config block:

[code]

outputs:

[code]

[2019-12-27 13:17] jaynetics commented on #2674
This also affects `rspec-expectations`: https://github.com/rspec/rspec-expectations/issues/1150
and `rspec-mocks`: https://github.com/rspec/rspec-mocks/issues/1306

I was beginning to prepare PRs for these things that simply pass `**kwargs` trough all participating methods. This does fix these issues. However, in `rspec-core` that produced some other problems with example metadata being lost, whic

[2019-12-27 17:52] JonRowe commented on #2674
Metadata is a hash, so its not going to work treating it as keyword arguments everywhere, as we expect it to be a hash. So this warning is actually a symptom of mis-using the implementation.... So I'm kind of tempted to issue an explicit warning explaining that rather than trying to add this.

I'm afraid that won't happen until the next major version due to semver.

[2019-12-28 19:56] pirj commented on #2674
Wondering if the change to:
[code]
will do the job.
Still, `define_nested_shared_group_method` and `include_context` needs to be tweaked the same way.
Please correct me if I'm wrong, it seems there's no way around `eval` and adding `strict_kwargs?` to `rspec-support`.

A temporary measure around warnings can be the usage of `ruby2_keywords` macro (also needs to be wrapped, to only be called when i

[2019-12-28 20:53] pirj commented on #2674
Related https://github.com/rubocop-hq/rubocop/pull/7584

[2019-12-28 21:02] JonRowe commented on #2674
Yeah I mean you should be able to remove the warnings by just accepting the hash as is...

[2020-01-09 21:51] pirj commented on #2623
Closing for now, since there's no clear way how to reproduce.
Please feel free to reopen.

[2020-01-09 21:51] #2623 closed

[2020-01-09 21:53] benoittgt commented on #2623
This PR may fix the issue. https://github.com/rspec/rspec-core/pull/2669

But it can be closed. Thanks @pirj

[2020-01-09 21:56] pirj commented on #2528
Closing as there's no clear reproduction example.
Please feel free to reopen if it happens to you. Happy to address that.

[2020-01-09 21:56] #2528 closed

[2020-01-09 22:56] pirj commented on #2543
Is this still problematic @hitanaka156 ?

[2020-01-09 23:04] pirj commented on #2611
Please feel free to reopen if there is something actionable in `rspec-core`.
The problem supposedly relies on different sets of files loaded by Rails triggered by spec files.

[2020-01-09 23:15] pirj commented on #2615
Would something like this be sufficient for you @gaganawhad ?
[code]

It would be possible to include using metadata, i.e.:
[code]

[2020-01-09 23:20] pirj commented on #2616
Are you still up to hack on this @cheerfulstoic ?

[2020-01-10 09:42] cheerfulstoic commented on #2616
I want to, but probably not any time soon 😢

[2020-01-10 09:59] JonRowe commented on #2543
It will be @pirj

[2020-01-10 12:24] pointo1d opened #2686 "Missing sourced VERSION constant causes rspec load failure"
Whilst 'playing' with a new Gem, I inadvertently commented out the declarations of both ```<Gem>::<VERSION>``` and also ```require <Gem>/version``` - which, when rspec was subsequently run against a gemspec file containing ```spec.version = <Gem>::VERSION```, the following output resulted ...
[code]

Having discovered the cause, my expectation would be that the error would be handled more graceful

[2020-01-10 13:12] JonRowe commented on #2686
Hi, can you provide more detail, e.g. the command you used, the spec file(s) that caused this and the files loaded? Its rather non standard to direct rspec towards a gemspec so I'm also curious as to your goal here...

Transferred to `rspec-core` as this appears to be about `rspec-core`...

[2020-01-12 21:08] #2486 closed

[2020-01-15 18:00] pirj commented on #2675
Thanks for the reproduction example.
I suspect that it's the inclusion order. Quick debug points at [`lib/rspec/core/configuration.rb:1513`](https://github.com/rspec/rspec-core/blob/7a264e98d255708a766dc77e63a328f18c19dd9b/lib/rspec/core/configuration.rb#L1513).

It makes sense to extend first, and include after. Can you think of a good example when a module would need something that is defined in

[2020-01-15 18:03] pirj commented on #2686
Please provide a reproduction example, or at least point at the gem you are playing with, and feel free to reopen.

[2020-01-15 18:03] #2686 closed

[2020-01-15 18:06] pirj commented on #2674
Would you like to be interested in sending a pull request to fix that issue @WojciechKo ?

[2020-01-15 18:11] pirj commented on #2654
I'd happily get rid of `--backtrace` if proper line numbers were shown (somehow I can't since it's there by default for me with no evidence in `.rspec` configs).

Would you like to take a stab at this @nakulpathak3 ?

[2020-01-15 18:23] pirj commented on #2660
@WoolenWang Can you figure out the difference between the code @benoittgt provided and yours to understand why yours fails and the script provided provides correct output?

A pull request that fails on AppVeyor would sure be very helpful.

I'll close the issue meanwhile, since otherwise it's not clear how to reproduce the problem and how to fix it. Please feel free to reopen.

[2020-01-15 18:56] pirj commented on #2650
Since 2.7 is out, I've opened #2688 and it failed hard https://ci.appveyor.com/project/rspec/rspec-core/builds/30139185
Any volunteers to move this further?

[2020-01-15 20:01] JonRowe commented on #2660
The problem's pretty clear, Chinese string's being passed in from the command line on windows are not being parsed properly, the issue I, we, have is trying to replicate it to fix it, ideally we need a chinese person to help!

[2020-01-16 12:43] nakulpathak3 commented on #2654
Sure, happy to take a look and try and make a PR within the next couple
weeks. Let me know if that’s too long a wait though.

On Wed, Jan 15, 2020 at 1:11 PM Phil Pirozhkov <notifications@github.com>
wrote:

[2020-01-16 12:50] pirj commented on #2654
It's never too late! Thanks for taking care of this 👍

[2020-01-22 20:34] ioquatix opened #2689 "Add a way to disable adding interrupts."
In code which needs to test fork and other process related functions, it should be possible to disable the interrupt handler, which interferes with code which has it's own signal handlers.

https://github.com/rspec/rspec-core/blob/d730c023b0765ffeaa5becb80f17e1fc02d2f9d1/lib/rspec/core/runner.rb#L65

Suggest something like `config.disable_signal_handlers!` or something similar.

[2020-01-22 21:02] pirj commented on #2689
@ioquatix can you please submit a minimal reproduction case that fails with `trap_interrupt`, but is passing without it?

[2020-01-22 21:20] JonRowe commented on #2689
Hm, they carry over to children? I mean we trap our `INT` for `Ctrl C`, without it theres no way to hard interrupt us.

[2020-01-22 21:29] ioquatix commented on #2689
Yes it carries to children.

[2020-01-22 21:34] ioquatix commented on #2689
[code]

[2020-01-22 21:35] ioquatix commented on #2689
Here is a working example:

[code]

[2020-01-22 22:13] JonRowe commented on #2689
Thats less than ideal... but you might be waiting forever with no way to quit if you disabled our handler, I'm not adverse to adding a way to suppress it however...

[2020-01-22 22:14] JonRowe commented on #2689
Is it possible to remove them? I vaguely remember issues with puma in a similar vein, I'm wondering if we can provide a method instead, wrap a test inside a "no trap" handler which has a backup timeout kill before restoring the old one/

[2020-01-22 22:22] ioquatix commented on #2689
If I was building RSpec, I'd want it to be minimally invasive on program state.

Even minitest gets this quite wrong IMHO: https://github.com/seattlerb/minitest/pull/429

As signals are part of user code state, even if it's not traditionally something that needs to be tested, it does affect the behaviour of user-facing interfaces.

So, my suggestion would be to find a different solution. If the us

[2020-01-22 22:22] ioquatix commented on #2689
Also, another point, pressing Ctrl-C, I expect a backtrace, but right now it gets swallowed up and often I never see it if the test has actually failed due to some blocking operation - presssing Ctrl-C to cancel the tests doesn't print any output.

[2020-01-22 22:37] JonRowe commented on #2689
The expected behaviour is that the first `Ctrl-C` prints a message but carries on waiting for the current test to finish. The second `Ctrl-C` causes a hard exit. We do this because it allows cleanup to run for tests that aren't blocked, so in the case of the majority of tests they get a clean exit, but we also allow overriding that as a, no now, type deal.

[2020-01-23 00:11] ioquatix commented on #2689
If the test will never finish, pressing Ctrl-C a second time exits with no backtrace. Is this intentional?

[2020-01-23 08:00] JonRowe commented on #2689
Not intentional, just a side effect of implementation, a second `Ctrl-C` causes us to exit, there is no backtrace as this is an intended Ruby exit, not a crash. I don't think we could display a stacktrace if we even watned to...

[2020-01-23 08:09] ioquatix commented on #2689
I think you should make this behaviour optional and I'd probably immediately disable it in my template Rspec configuration, because I find it so annoying when debugging that exceptions are swallowed and backtraces are not printed.

[2020-01-23 08:11] JonRowe commented on #2689
As I said, open to improving this if you want to work on something better, but current behaviour needs to be preserved by default :)

[2020-01-23 09:08] ioquatix commented on #2689
Okay, I'll make a PR.

[2020-01-24 09:47] jdehaan commented on #598
I find myself in a situation needing to double check that both the expectation is ok and the not expectation must fail, because sometimes both pass.... For whatever reason (broken test code after refactoring tests, we did not notice that because tests still pass...)

My trick is currently to patch the expectations lib (comments removed):

`rspec-expectations-3.9.0/lib/rspec/expectations/expectatio

[2020-01-24 10:00] jdehaan commented on #598
Sorry again I know this ticket is closed but this functionality would be really good to have. I now slowly realize that integrating it is indeed challenging at some points, once it comes to reporting something adequate for example. But inverting could be considered as "meta" testing = testing the tests and instead of aliasing define a new method that gets the result of the actual test and expects

[2020-01-24 20:21] JonRowe commented on #598
As you've found it's relatively easy to integrate a temporary negation of assertions, the issue becomes in integrating this feature across `rspec-core` and `rspec-expectations`, and having a way for `rspec-core` to know that the inverted failure is expected, essentially recording failures as passes, etc... Is a fair amount of work for a feature that would be infrequently used...

And then there is

[2020-01-24 21:30] jdehaan commented on #598
You are fully right, the main reason for such situations is that the test code itself was too complicated and ended up in situations where no expect at all was called.
Maybe checking that at least one expect check is there should be done. I pretty much got into the code now and realized that it's far to be easy to get matchers/expectations/reporting in a good consistent shape.

Thanks for your fee

[2020-01-24 21:47] JonRowe commented on #598
Theres a long standing suggestion to implement expectation counting, but no ones ever had time to do it, its the sort of thing that needs to happen before we can enforce that an expectation happens (currently we never know really unless theres a failure) but there are some not so easy bits to that too (mostly surrounding how you deal with complex assertions and composed matchers).

[2020-01-25 08:09] jdehaan commented on #598
Oh dear. Still that goal sounds definitively reasonable and useful. I'll make myself a picture of it.

[2020-01-25 21:38] pirj commented on #598
@jdehaan Are you up to come up with a PoC that would make sure that at least one expectation per example has been made, and warn in case `rspec-mocks`/`rspec-expectations` are being used primarily?
I see `it { validates_presence_of(:name) }` quite often without being noticed, and static analysis can't handle edge cases.

[2020-01-26 06:40] jdehaan commented on #598
@pirj I read several other related tickets (with similar goals like #591, #740, #759) and need to get a good picture of what is going on.

I think the first thing in the way is that a test that checks something does not raise an exception is valid (as current state of the implementation) and changing that to forced explicit expectations is a breaking change. As of my current research one thing tha

[2020-01-28 10:19] pointo1d commented on #2686
Oops, my bad - I failed to notice that the screen capture wasn't as comprehensive as it should have been !!

I was merely trying to run the command ```$ rspec```, although it s/b noted that ```$ bundle exec rspec``` also failed in the exact same way until either the ```require``` or the constant definition in my source file under test was uncommented. Even more interestingly though, specifying the

[2020-01-30 20:13] skalee opened #2692 "Documentation needed that #after hooks are executed for pending/skipped/failed specs"
### Subject of the issue

This issue is purely about the documentation hosted on Relish.

`after(:example)` hooks are executed regardless example has failed, was skipped or whatever. I am pretty convinced that this is a correct behaviour, however it does not seem to be documented in https://relishapp.com/rspec/rspec-core/v/3-9/docs, particularly not in https://relishapp.com/rspec/rspec-core/v/3-9/

[2020-01-30 20:27] pirj commented on #2692
Pull request is welcome!

[2020-01-30 20:57] JonRowe commented on #2692
A pending example is just a failing example thats expected to fail, feel free to add a scenario to https://relishapp.com/rspec/rspec-core/v/3-9/docs/hooks/before-and-after-hooks if you'd like to illustrate that hooks runs despite a failing example, it is kind of covered implicitly elsewhere but I agree it could be more specific.

[2020-02-04 17:03] tansaku opened #2694 "avoid having rspec --only-failures affect coverage results"
### Subject of the issue

### Your environment
* Ruby version: 2.6.5
* rspec-core version: 3.9

### Steps to reproduce

Use simplecov with rspec and run rspec with --only-failures

### Expected behavior

Ideally coverage information would not be updated

### Actual behavior

Coverage information is updated, but I've worked around it with the following in spec_helper.rb

[code]

but I wonder if the

[2020-02-04 19:27] pirj commented on #2694
The same applies when you run a limited number of specs, or when you focus on a specific example/example group.

Typical examples I've seen in the wild require `simplecov` conditionally:
[code]
and coverage runs reports are run and are later available on CI.

I suggest to somehow compare the total number of examples and the number of examples to run, and require `simplecov` when those two are equa

[2020-02-04 19:53] #2694 closed

[2020-02-04 19:54] JonRowe commented on #2694
Coverage isn't a feature of rspec so its up to the coverage libraries to deal with this.

[2020-02-07 13:06] shrik450 opened #2696 "--bisect failed due to inconsistent ordering after 6 rounds"
### Subject of the issue
Hey. I found an ordering based test issue and promptly started a bisect. We don't use random ordering, so I didn't run with --seed.

### Your environment
* Ruby version: 2.3.1
* rspec-core version: 3.6.0

### Expected behavior
Since the ordering is constant, it shouldn't fail in the first place, but even if it does, it should've failed much earlier.

### Actual behavior
He

[2020-02-07 13:14] pirj commented on #2696
Seems similar to #2489, can you please check if it's not a duplicate?

[2020-02-07 13:17] shrik450 commented on #2696
I don't think it is - OP in that issue did use random ordering, and it failed in round 1. We don't, and it went quite a few rounds before failing.

[2020-02-07 13:20] JonRowe commented on #2696
What ordering are you using? The bisect relies on consistent ordering and the check is quite basic, it just checks that the bisects sub ordering is the same as it was when it was first run.

[2020-02-07 13:22] shrik450 commented on #2696
We didn't configure any ordering, and none of the tests have any ordering specified, so it defaults to defined. The only thing I'm confused by is why it went multiple rounds before it picked up on inconsistent ordering, as if the ordering was unstable it should've been caught in any of the six preceding rounds.

[2020-02-07 13:28] JonRowe commented on #2696
What OS / filesystem are you using? What filters if any are you applying? You haven't provided any steps to reproduce this so its a bit hard to determine what is interacting with the ordering here. Check that you don't have a `.rspec` file defining ordering in your project or your home folder.

The number of steps is irrelevant, the bisector is essentially creating a new spec run each time with a

[2020-02-07 13:39] shrik450 commented on #2696
I'm on macOS Mojave. I've checked my .rspec and spec_helper files, and there's no ordering defined in the .rspec and the `config.order = :random` which the spec_helper was generated with was commented out (2 years ago, according to git). I'm not sure how to provide steps to reproduce, given that the test suite is large (>1000 tests, as in the output above), so if I can get any help with what would

[2020-02-07 14:11] JonRowe commented on #2696
Are you comfortable monkey patching? The easiest way would be to apply this patch to see why the output is changing:

[code]

[2020-02-07 14:11] JonRowe commented on #2696
If you put that in a file in your directory and require it in your spec_helper it should run with the bisector and output the ordering.

[2020-02-07 14:14] shrik450 commented on #2696
Thanks - I just got off work, so I'll apply it on Monday and get back with the results.

[2020-02-12 13:04] alauddinu commented on #2654
is this done ?

[2020-02-12 13:20] pirj commented on #2654
Apparently not.

[2020-02-13 18:12] ojab opened #2697 "`when_first_matching_example_defined` runs when all matching examples are filtered out"
### Your environment
* Ruby version: 2.5.7
* rspec-core version: 3.8.2

### Steps to reproduce
1.
[code]
2. Have an example with `type: :feature`
3. `bundle exec rspec -t ~type:feature`

### Expected behavior
`require 'support/db'` is not run

### Actual behavior
`require 'support/db'` is run

[2020-02-13 18:35] JonRowe commented on #2697
:wave: It's when the example is defined, not when its run. You've loaded the example and filtered it out, which is defined, but skipped.

[2020-02-13 18:35] #2697 closed

[2020-02-13 18:37] JonRowe commented on #2697
Without knowing the contents of your `support/db` I can't help with much advice, but you can then add something else to be run when the first example runs to setup the db etc.

[2020-02-13 18:41] pirj commented on #2697
Hey Slava 👋

I can suggest using a regular `before` hook with some trigger-once check:
[code]

[2020-02-13 18:42] JonRowe commented on #2697
Fun fact, `require 'support/db'` will only run once provided its the same path.

[2020-02-13 18:44] pirj commented on #2697
Agree, it's a bad example. A slightly better one:

[code]

[2020-02-13 18:47] ojab commented on #2697
I knew had a clue that answer would be that, thanks anyway :)

[2020-02-17 08:51] tansaku opened #2698 "ability to detect "focus" at the level of spec_helper"
### Subject of the issue

I'd like to be able to adjust some high level behaviour (like the use of a particular coverage formatter) depending on whether a focus is being applied

### Your environment
* Ruby version: 2.6.5
* rspec-core version: 3.9

### Steps to reproduce

I want to be able to do something like this in spec_helper.rb

[code]

### Expected behavior

Description of what I'm trying to

[2020-02-17 09:00] JonRowe commented on #2698
It is impossible to discover if focus has been applied until the entire spec suite is loaded. The closest you'd be able to get is:

[code]

Although focus is nothing special other than metadata so theres no easy way to see if it has been set.

Something like this might achieve your goals however:

[code]

Closing because I'm not sure theres anything we can do here, happy to continue conversation.

[2020-02-17 09:00] #2698 closed

[2020-02-17 12:13] tansaku commented on #2698
excellent - just the input I needed - the following does exactly what I need:

[code]

Thanks so much!

[2020-02-18 12:39] shrik450 commented on #2696
Due to deadlines I fixed the order-dependent failure manually, but I took a backup copy of the codebase before I fixed it, so I'll run the monkey patched bisect when I have some time and put the results here.

[2020-02-21 16:06] manueljacob opened #2699 "Using refinement is not possible inside of spec"
### Your environment
* Ruby version: 2.7.0p0
* rspec-core version: 3.9.1

### Steps to reproduce

[code]

### Expected behavior

The spec passes.

### Actual behavior

[code]

[2020-02-22 17:40] twalpole commented on #2699
This is just the way refinements work in Ruby.  You can only specify `using` at file or module scope, not at method scope.  To use refintements in a test you'd need to do either

[code]

or

[code]

[2020-02-23 01:40] ioquatix opened #2700 "Make `--require spec_helper` the default unless otherwise specified"
Would it make sense to make `--require spec_helper` the default unless otherwise specified? It's such a common pattern.

[2020-02-24 09:53] JonRowe commented on #2699
Closing because @twalpole has provided the answer, an `RSpec.describe` block generates a test class, whilst an example is an instance of that class, so you can only use refinements outside of the test.

[2020-02-24 09:53] #2699 closed

[2020-02-24 12:09] JonRowe commented on #2700
It's in the default `.rspec` file generated by install, I'd lean away from making it any more magic...

[2020-02-24 21:34] ioquatix commented on #2700
I understand your point of view.

It's just that every project has this file, with basically just this one line, and if it's not there things break, so it seems like a defacto standard. It also forces every project to have a `.rspec` just to follow the conventions. I think if the `spec_helper.rb` file exists, it should just be required by default. Then at least in my case 99% of the `.rspec` files

[2020-02-24 21:48] JonRowe commented on #2700
Except the ones that don't, or the ones that choose to `require 'rails_helper'` all the time instead, etc. It is a defacto standard, but it is by configuration. Think about people who have multiple spec helpers doing different things. Auto requiring it would break their configuration.

It doesn't, it is a connivence to allow you to omit it from your spec files. You also don't have to have a `spec_

[2020-02-24 22:05] ioquatix commented on #2700
All fair points.

Understood. But at least in this very specific case, shouldn't be an issue since this isn't `spec_helper`.

IMHO, these users are the exception, they shouldn't use `spec_helper` so they don't invoke the proposed default behaviour. To me, if users have `spec_helper` but don't use it in the expected way, it's super confusing.

It is convenient, but it's also required in cases where

[2020-02-25 14:04] JonRowe commented on #2700
I sort of see your point, after all we have a couple of magic files, (home folder `.rspec`, project level `.rspec` etc) so why not have our "default" configuration file required automatically and ignored if not present (although then we'd probably want a warning unless there was a configuration option added to the... er... `.rspec` to surpress it).

I'm leaving this open for community feedback, I

[2020-02-25 22:53] ioquatix commented on #2700
So, I guess `--require spec_helper` is an option many people use. And I respect your need to avoid breaking backwards compatibility. So here is what I would explore:

Firstly, I don't like manipulating `$LOAD_PATH`, so I'd probably avoid doing that and instead I'd say given a spec file, `spec/..._spec.rb`, look up the directory for `rspec.rb` and if you see that file, require it.

`spec_helper.rb`

[2020-02-25 22:55] ioquatix commented on #2700
Another question I have is how `.rspec` works.

If I'm in a different directory, e.g.

[code]

Will it load `project2/.rspec` or `project1/.rspec`? Because to me, if it loads `project2/.rspec` then I think we have a bigger issue that needs to be addressed. The main point being, specs should to a certain extent have a deterministic environment based on the directory hierarchy they are in.

[2020-02-26 00:09] pirj commented on #2700
Just my 2c. `.rspec` by default requires `spec_helper`, and those other specs that need more usually have to explicitly require other helpers, e.g. `require 'rails_helper'`, and `require 'rubocop_helper'` etc. Those specs are typically grouped together in the directory structures, so having a per-directory `rspec.rb` or something would help to save a line of code in each of those files.
I've seen

[2020-02-26 00:36] ioquatix commented on #2700
Not only that, but it would also unburden users from figuring out their own bespoke solutions.

[2020-02-28 21:24] JonRowe commented on #2700
It loads `.rspec` from the current local directory, thats by design its project specific, if you keep spec files outside your project thats non standard and not supported.

I'm really not keen on having spec folder specific config, that seems like a headache waiting to happen. Especially as we can't mutate running config, especially with plans to go parallel...

[2020-02-28 21:31] ioquatix commented on #2700
why would you need to mutate the running config?

[2020-02-28 21:33] JonRowe commented on #2700
Because the reason why `.rspec` does `--require spec_helper.rb` is to apply configuration before we load specs. If you dervive config file locations from spec files you have chicken and egg problems.

[2020-02-28 21:34] JonRowe commented on #2700
Its *much* easier to do things before we load spec files.

[2020-02-28 21:35] ioquatix commented on #2700
I think that's part of my suggestion though - to make a canonical way to load that before running specs.

[2020-02-28 21:37] JonRowe commented on #2700
You can't have that and have folder level config files, we don't know they exist until we load specs.

[2020-02-28 21:38] JonRowe commented on #2700
Config files can also add spec files, meaning you have an ever expanding matrix of files and trees to load config from...

[2020-02-28 21:40] JonRowe commented on #2700
In my opinion if you want a canonical autoloaded config file it's `spec/spec_helper.rb` , or maybe `spec/rspec.rb` even though I'm unconvinced of the benefit of changing the name. Its not **more** config files.

[2020-03-02 12:21] Riddlerrr opened #2701 "The error during tests execution"
### Subject of the issue
When I executed tests where raised custom Exception RSpec is failed with status 0.
Thus CI think that tests are ok and we have a false positive issue.

I faced with it in a real project which uses `connect-sdk-ruby` gem, [this exception](https://github.com/Ingenico-ePayments/connect-sdk-ruby/blob/c72f4c8289b883063e8773390dbd80173fb74c15/lib/ingenico/connect/sdk/communicati

[2020-03-02 14:12] benoittgt commented on #2701
Hello @Riddlerrr

Thanks for your report. It seems https://github.com/Riddlerrr/rspec-exception-issue is private. Could you make it public?

Thanks

[2020-03-02 14:20] Riddlerrr commented on #2701
@benoittgt Oh, sure, sorry, didn't noticed. Done.

[2020-03-02 19:30] JonRowe commented on #2701
:wave: This is primarily an issue with `connect-sdk-ruby`, `cause` is a Ruby api they are overriding incorrectly, its supposed to return an exception not a string.

[2020-03-03 07:04] Riddlerrr commented on #2701
Yeah, It would be great!

[2020-03-03 11:55] pirj commented on #2701
Would you like to tackle that given all the necessary guidance will be provided @Riddlerrr ?

You may start by adding a guard statement:
[code]
[here](https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/formatters/exception_presenter.rb#L98) to see if it fixes it on your side, and later throw in an example [here](https://github.com/rspec/rspec-core/blob/master/spec/rspec/core/formatters

[2020-03-05 07:07] Riddlerrr commented on #2701
Sorry guys, I was wrong. Rspec exits with status 1 so CI have to show a fail.
The problem is in our CI configuration. We run rspec like this `rspec || rspec --only-failures`.
The first `rspec` fails but don't fill failed tests file, so the second one thinks no failed present and exits with status 0.

It clearly nothing to do in `rspec-core` so I'm closing the issue.
Thanks everyone for your help ❤

[2020-03-05 08:18] JonRowe commented on #2701
The error is still the wrong error, I'm working on a fix :)

[2020-03-05 14:57] AlexWayfer opened #2702 "Ability to override argument of `shared_examples` with `let` inside block"
### Subject of the issue

It'd be nice to have an ability to override `shared_examples` variable via `let` inside a block.

It'd be useful when at most of cases you can provide literals like Integer, Boolean, etc., without explicit block and `let`, but for some cases you depends on `let` variables.

### Your environment
* Ruby version: 2.7
* rspec-core version: 3.9.1

### Steps to reproduce

[code

[2020-03-05 15:14] pirj commented on #2702
You should use `it_behaves_like` instead of `include_examples` in this case. There's [a slight difference](https://relishapp.com/rspec/rspec-core/v/3-9/docs/example-groups/shared-examples) in how they work.
Please feel free to reopen if it still doesn't work as you expect it it.

[2020-03-05 15:20] AlexWayfer commented on #2702
Thank you! My bad: I like `include_examples`, but in the problem code I'm already using `it_behaves_like`. So… issue is not resolved.

[2020-03-05 17:08] pirj commented on #2702
I see what you mean now. There's a way around it (it's mentioned in the same doc):

[code]

Its output:
[code]

Is this what you expect?

Again, please feel free to re-open and provide a runnable example of something that does not work as expected.

[2020-03-05 17:08] #2702 closed

[2020-03-05 20:31] JonRowe commented on #2702
For reference, the problem with this:

[code]

Is not your `let`, it's normal ruby precedence, no matter what we do the local variable in your block will take precedence in the parser.  (Although `value` is also never used...). The best way to achieve what you want based on your code is this:

[code]

[2020-03-12 21:05] #2701 closed

[2020-03-13 06:29] Riddlerrr commented on #2701
Thank you for the fix!

[2020-03-20 00:38] taki opened #2705 "context with no block"
### Subject of the issue

There is context with no block code. Test is passed when I execute RSpec.

Is it expected behaviour?

### Your environment
* Ruby version: ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux]
* rspec-core version: 3.9.1

### Steps to reproduce

Below is test code(array_spec.rb).

[code]

And, You execute `rspec array_spec.rb`.

### Expected behavior

I have not id

[2020-03-20 09:54] pirj commented on #2705
You can do that. I believe it can even be a one with dynamically added examples with metadata processing.

[2020-03-20 09:54] #2705 closed

[2020-03-20 13:38] taki commented on #2705
Thank you for reply.

[2020-03-20 14:26] JonRowe commented on #2705
A context with no block has no effect, we could issue a warning about this but in general it doesn't seem to have bothered anyone, and creating an example group without a block is useful if your an extension gem so my opinion is to leave it be.

[2020-03-24 18:07] jonworek commented on #675
I'm seeing this issue in RSpec 3.9.1. Is there a chance that a regression might have been introduced since this was fixed?

[2020-03-24 20:57] JonRowe commented on #675
You can force it off with configuration.

[2020-03-26 13:52] penelopezone opened #2707 "Relish does not document before/after without scope"
The relish page for before and after documents how each of the scopes work, but not that `before { ... }` is `before(:each)`. We should document that

https://relishapp.com/rspec/rspec-core/v/3-9/docs/hooks/before-and-after-hooks#%60before%60/%60after%60-blocks-are-run-in-order

[2020-03-27 08:37] #2707 closed

[2020-03-27 08:40] JonRowe commented on #2707
Thanks for reporting @penelopezone :)

[2020-03-27 22:30] AlexWayfer commented on #2702
I don't lile `params2` (`paramsN`) syntax.

I can't.

I've provided above. If you want a real-life one, here it's: https://github.com/AlexWayfer/formalism/blob/master/spec/formalism/form/coercion_spec.rb#L58

[2020-03-27 22:32] AlexWayfer commented on #2702
OK, it can be like `block_expected_result = nil` and `let(:expected_result) { block_expected_result }`. But I was talking about syntax-sugar and expected behavior, but as you wish.

[2020-03-28 08:58] JonRowe commented on #2702
This is Ruby precedence. A local block variable will always take precedence over a method. We can't fix it even if we wanted to.

[2020-03-28 09:37] AlexWayfer commented on #2702
That's true, OK, thanks.

[2020-03-30 17:23] lackovic opened #2710 "How to override project configuration options without parameters?"
`.rspec-local` allow individual developers to set options that override the common project options in `.rspec` (see [_Read command line configuration options from files_](https://relishapp.com/rspec/rspec-core/v/3-8/docs/configuration/read-command-line-configuration-options-from-files)).

It is clear how to add options and change options which accept arguments, but how do you disable/suppress comm

[2020-03-30 17:56] pirj commented on #2710
Do you suggest a `--no-backtrace` option to override a project-level `--backtrace` just like `--no-color`/`--no-profile` do?
You may start [here](https://github.com/rspec/rspec-core/blob/dd3b2abe63b0dbd4c5c4131275a858d63cddab0e/lib/rspec/core/option_parser.rb#L133) and draw some inspiration [here](https://github.com/rspec/rspec-core/blob/dd3b2abe63b0dbd4c5c4131275a858d63cddab0e/lib/rspec/core/opti

[2020-03-31 06:10] lackovic commented on #2710
That seems like it will do! Thanks for the hints, I will gladly work on this as soon as I find the time.

[2020-04-02 14:24] agis commented on #2611
@ChrisCPO did you by any chance find the root cause for this? If so, did you manage to tackle it somehow? Thanks!

[2020-04-03 12:52] MicMicMon commented on #2201
Do you think there would be a way to enable warnings on the tested code but **not** on the dependency code?

True I don't want to be spammed by dependencies having warnings in their code, but it would be interesting to have warnings for my own code. Unless all output warnings are already covered by Rubocop / Reek?

[2020-04-03 12:55] JonRowe commented on #2201
There isn't a way to do that properly, you can see how we deal with this internally in our spec suite, (we turn on warnings and check we don't generate any as a spec).

[2020-04-03 14:51] agis commented on #2611
I'm experiencing the same issue with a Rails 5.1 and rspec-core 3.8.0. We have 2676 spec files.

@JonRowe I have a question about your script. Why do you also load the whole `spec/` path at the end? Is it what typically happens when one executes `bundle exec rspec`? I'm asking because this seems to be the culprit in our case.

Using the script you provided, I measured the load times of each of the

[2020-04-03 20:36] JonRowe commented on #2611
It is not expected to add up, but the subfolders added up should be more than the spec folder on its own. Some further benchmarking of your loading files might help here.

[2020-04-05 20:50] JonRowe commented on #2692
Closed by #2715

[2020-04-05 20:50] #2692 closed

[2020-04-06 09:10] agis commented on #2611
@JonRowe I've modified your script to measure individual file load timings. It seems that, in the case where each folder is loaded separately, individual file load timings add up to 30s. In the last case, where all files are loaded via `spec`, the total timings are 90s.

By comparing the timings of the same files in both cases, indeed in the `spec` case files take a lot longer. For example:

[code

[2020-04-06 09:36] pirj commented on #2611
Can you please debug it further @agis?

[2020-04-06 09:40] JonRowe commented on #2611
Can you run the script I produced? Your output before doesn't contain the `expand` vs `load` comparison.

[2020-04-06 12:59] agis commented on #2611
@JonRowe perhaps that wasn't clear from my previous comments, but `load` _is_ indeed the culprit, that's why I removed the `File.expand_path` calls. However, that doesn't explain why individual spec folder timings (totaling 30s)  don't add up to give a time close to the `spec` timing (90s).

Anyway, I did some more digging by profiling two `load` calls to the same spec file and got to some interes

[2020-04-08 09:10] JonRowe commented on #2611
It does if its exponentially linked to the number of files / classes / modules.

Each `describe` / `context` defines a class, but they are non anonymous, they are named for the strings they are created with e.g. `RSpec::ExampleGroups::RSpecMocksMatchersReceive::ExpectAnyInstanceOfToReceive::BehavesLikeAnExpectSyntaxExpectation::BehavesLikeAReceiveMatcher`

If theres something we can do here please

[2020-04-08 09:10] #2611 closed

[2020-04-10 09:54] JonRowe commented on #2674
We fixed this in #2716 but adding further specs in #2719, closing.

[2020-04-10 09:54] #2674 closed

[2020-04-13 15:07] ArturT opened #2721 "How to run second test example with RSpec::Core::Runner for the same test file"
### Subject of the issue
I use `RSpec::Core::Runner` to run specs https://relishapp.com/rspec/rspec-core/v/3-3/docs/running-specs-multiple-times-with-different-runner-options-in-the-same-process

I run test files and test examples (i.e. spec/example_spec.rb[1:1]) at the same time. I'm getting test files and test example paths from external API. Sometimes it can happen that `RSpec::Core::Runner` wi

[2020-04-13 15:08] ArturT commented on #2721
Hi @myronmarston , I saw you shared some knowledge with a bit similar problem https://github.com/rspec/rspec-core/issues/2522#issuecomment-368570740

Maybe you will be able to point me where to look for? Thank you.

[2020-04-13 15:51] pirj commented on #2721
Hey @ArturT!
Maybe [this](https://github.com/rspec/rspec-core/issues/2666) may give you a clue.
You seem to have asked a similar [question in the past](https://github.com/rspec/rspec-core/issues/2416), maybe you could consider using `RSpec.clear_examples` now?

[2020-04-13 16:07] JonRowe commented on #2721
You've only cleared your examples, not your filters, so you end up building combined filters.

There is a private api on configuration to reset your filters, but the public way to fix this is to change `clear_examples` for `reset`. e.g `RSpec.reset`

[2020-04-13 16:07] #2721 closed

[2020-04-13 16:32] ArturT commented on #2721
@pirj @JonRowe Thank you for the help. The `RSpec.reset` does help for the [example repo](https://github.com/ArturT/rspec-test-examples) I've created and I get expected output but when I try to use it with Rails and controller spec then with 2nd run of `RSpec::Core::Runner` that gets path to controller spec I get error like:

[code]

I added `RSpec.configuration.load_spec_files` but this seems to

[2020-04-13 16:37] JonRowe commented on #2721
Yes `RSpec.reset` is a complete reset of rspec back to basics and you will need to reload your config. As you are programatically loading specs here I would make your config programatic rather than relying on files.

However you can also use `RSpec.configuration.clear_filters` with `clear_examples` its a private API so may change at a later date.

[2020-04-13 18:32] ArturT commented on #2721
@JonRowe Thanks for tips. I can't find a definition for `RSpec.configuration.clear_filters` https://github.com/rspec/rspec-core/search?q=clear_filters&unscoped_q=clear_filters and it's undefined method when I try to call it in the code.

There is a method `RSpec.configuration.reset_filters`. I guess it does what you meant but it still did not allow me to run example `B1`.

I found that [clear_exam

[2020-04-19 12:06] aesyondu commented on #294
[TLDR;](https://github.com/rspec/rspec-core/pull/757/files#diff-112a3ec80f232a6de7289060604874f6R39)

[code]

[2020-04-24 05:40] ioquatix commented on #2689
https://github.com/rspec/rspec-core/pull/2722

Here is the PR, can you please check it? Thanks.

[2020-04-24 09:59] agis commented on #2721
I'm too bumping into the same issue when using `RSpec.clear_examples` in the same process and then issue two `RSpec::Core::Runner.new().run` with id filters that point to the same spec file. I also observe the what the original issue describes, the second time that the same file is executed (albeit with a different ID filter), that example is not executed.

(Note: I've tried `RSpec.reset` and `RSp

[2020-04-24 10:20] agis commented on #2721
Following up to my previous comment, I think I've found an acceptable solution. I'll open a patch a PR.

[2020-04-24 10:24] JonRowe commented on #2721
The issue you've encountered @agis is due to the filters not reseting between runs, `.reset` is your solution, you just need to capture the config before your first run, duplicate and reuse it, rather than letting the default occur (as you have rails helpers). You could also reload the rails helpers either would work but these are not mainstream use cases.

[2020-04-24 10:30] agis commented on #2721
@JonRowe To make sure I understand, by "filters" you're referring `FilterManager`? If so, I believe this is not the culprit because I see that it is set as expected in `RSpec.world`:

[code]

They do seem set up properly to me, but perhaps I'm missing something?

[2020-04-24 10:39] JonRowe commented on #2721
Ah sorry I think I'm getting two people confused here, if the id is generating `2:1` on a second pass thats a bug and needs to be fixed.

[2020-04-24 10:42] agis commented on #2721
Good to know, I've found the culprit and I'm opening a new PR soon.

[2020-04-24 12:55] shadre commented on #2721
Glad you discovered this @agis. We've found this behavior was interrupting with our use case, too (as we are also working on a [solution that is reusing the runner](https://github.com/KnapsackPro/knapsack_pro-ruby/pull/106) and wanted to avoid reloading the whole config).

At the time we didn't think the lack of reset for the count was a bug - just thought our use case lies outside of what RSpec i

[2020-04-24 13:11] agis commented on #2721
@shadre wow, that would've definitely saved me 2 or 3 hours of debugging :sweat_smile: Nevertheless it's good to know you've found the solution.

[2020-04-24 17:07] shadre commented on #2721
Yeah, I'm gutted to know you could have avoided that. :( Glad you too got it working, though!

[2020-04-26 16:36] MSP-Greg opened #2724 "GitHub Actions, Windows"
Wondering if there's interest in running any CI on GitHub Actions.  It supports MRI Ruby 2.2 and later on Ubuntu, macOS, & Windows.  JRuby & TruffleRuby are also available.

For an example run, see:
https://github.com/MSP-Greg/rspec-core/actions/runs/88352990

yaml script is at:
https://github.com/MSP-Greg/rspec-core/blob/actions-windows/.github/workflows/rspec-core.yml

There are a few issues on

[2020-04-26 16:41] JonRowe commented on #2724
Yes there is interest. Its something I've been considering and I think @benoittgt has looked into a bit.

We'd consider having `rspec-rails` move over first as it only supports modern Rubies and doesn't have windows builds, but eventually I like the idea of having all the CI on Github with a matrix of modern rubies on linux and windows at least.

We would have to keep some Travis builds until RSpe

[2020-04-26 17:05] MSP-Greg commented on #2724
Probably a good idea to continue with "legacy builds" on both AppVeyor & Travis.  Some repos keep all their 'allow failure' jobs there also.

Re Windows, I can't remember Win7 & 8 or Vista very well, but Windows consoles have worked with ANSI escape/color codes for quite a while.  Windows supports spaces & single quotes (apostrophe)  in filenames, but it does not support a standard double quote.

[2020-04-26 18:06] benoittgt commented on #2724
Thanks a lot @MSP-Greg for the help offer.

I looked a it https://github.com/rspec/rspec-dev/issues/234 and ended up stopping for a moment because I had too many side issues when testing with Github Actions. The cost of change was too big.

I thought the switch would have been easier. I tried only rspec-core and it was already many surprises and issue open in other open-source repo, like https://g

[2020-04-27 00:21] MSP-Greg commented on #2724
I started with the AppVeyor script, and added the Unbuntu & macOS jobs.

I now see that the Travis script does a lot more than the AppVeyor script.

A lot has changed with Actions, but if you're auto-generating all your CI scripts/yaml, changing to Actions is more involved...

[2020-04-27 08:58] JonRowe commented on #2724
Whilst they say they are auto-generated, what they mean is they are copies of those in `scripts` in `rspec-dev` this is done to keep them in sync. (Its a lot easier to run a rake task to update them than to copy pasta each time we make a change etc).

[2020-04-30 01:49] ret394 opened #2725 "issue using rake"
changed https://github.com/rspec/rspec-core/blob/master/lib/rspec/core/rake_task.rb#L111 to
`desc "Run RSpec code examples unless ::Rake.application.last_comment"`
to run this Rakefile. commit is https://github.com/rspec/rspec-core/commit/e894c641d10435765f2b0ed3a07c5ac652db534f
`rake lexer` works now, no messages.

[code]

`ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x64-mingw32]`

thanks. ha

[2020-04-30 08:58] pirj commented on #2725
@marcandre would you like to take a look? Seems related to what you've been working on here already.

[2020-04-30 09:32] JonRowe commented on #2725
Can you provide the error you are seeing?

[2020-04-30 09:57] benoittgt commented on #2725
With rspec-core (3.9.1) and your Rakefile I see no errors from rspec.

I tried:

[code]

[2020-04-30 09:59] JonRowe commented on #2725
I don't see anything either but there is a discrepancy with that method between rake versions, we might need to conditionally define something, or maybe we should just recommend updating Rake, IDK.

[2020-04-30 10:13] benoittgt commented on #2725
I tried with `rake 10.2.2` from 2014 https://github.com/ruby/rake/releases/tag/v10.2.2 and it's still working. There is deprecation warnings but commands are working.

Without further information. The issue could be closed.

[2020-04-30 10:14] JonRowe commented on #2725
I suspect this is what they were seeing, is it from us or rake?

[2020-04-30 10:15] benoittgt commented on #2725
Sorry I was testing with last released `rspec-core`. Not master. Let me switch. :)

[2020-04-30 10:24] benoittgt commented on #2725
[code]

Rake file from OP. I tried `rake 13.0.1` the last released version and `'rake', '10.2.2'` from 2014 and no breaking issues.

If we use for example `rake 11.3.0`. There is deprecation warnings like:
[code]

But on all rake commands.

You need at least `gem 'rake', '~> 12.3.0'` to avoid deprecation warnings.

[2020-05-03 22:01] rangerscience opened #2726 "Typo in have_received results in valid, but incorrect, matcher"
### Subject of the issue
`have_received(:foo)` returns a RSpec::Mocks::Matchers::HaveReceived
`have_recieved(:foo)` returns a RSpec::Matchers::BuiltIn::Has
Oh, typos :)

### Your environment
* Ruby version: 2.6
* rspec-core version: 3.7

### Steps to reproduce
[code]

### Expected behavior
Throw a "this doesn't exist, did you mean <correct spelling>" error.

### Actual behavior
Returns a working m

[2020-05-04 07:59] #2726 closed

[2020-05-04 08:05] JonRowe commented on #2726
Hello! Sorry you ran into this, however I have closed this because while this is not the ideal situation (because of the typo) this is the expected behaviour.

You are trying to use the `have_received` matcher from `rspec-mocks` but there is also the `have_<n>` in `rspec-expectations` matcher that checks for `<expected>.<n>?` results on your target object. So when you mistakenly use the wrong name

[2020-05-07 21:55] rangerscience commented on #2726
Oh interesting. Well, first question, what'd be the correct repo? Then, I'll see if I ever come up with a creative way to deal with this...

[2020-05-07 21:57] rangerscience commented on #2726
I mean - and I recognize this'd more be a question for the other repo - what if the typo was an alias for the correct method?

[2020-05-08 07:34] JonRowe commented on #2726
As I mentioned above, there is rspec-mocks and rspec-expectations, they each have their own repo.

Thats a slippery slope, how many typos do we add? And as its incorrect, do we emit warning? an error? What do we do the next time someone requests a typo "helper"? In general we haven't followed the approach

[2020-05-11 18:28] parkerfinch opened #2727 "Refining module fails with `--format` and `--require spec_helper` on Ruby 2.7"
### Refining module fails with `--format` and `--require spec_helper` on Ruby 2.7
I am attempting to test that a refinement to a module works as expected, but the refinement is seemingly not activated when using `rspec` with the `--format` and `--require` options on Ruby 2.7.1.

### Your environment
#### Failing
* Ruby version: 2.7.1
* rspec-core version: 3.9.2

#### Succeeding
* Ruby version: 2.6

[2020-05-11 20:17] pirj commented on #2727
Wow, this would make an Interesting investigation.
Also changing `refine Enumerable` to `refine Array` makes the test pass.
`--format progress` also breaks the test.

I would say if it works in pre-2.7 and broke in 2.7, it's a Ruby bug. Don't think we're able to work this around.
Please post a link to a Ruby ticket.

[2020-05-11 20:33] JonRowe commented on #2727
This doesn't break if you just do `ruby -r spec/spec_helper.rb spec/test.rb` so I'd like to find out exactly how we break the refinement. We do have other workarounds for such Ruby features as the behaviour does change between versions.

So I'd like to keep this open until we've determined what, if anything we can do.

[2020-05-12 21:03] parkerfinch commented on #2727
A quick update on this: after poking around a little more I was surprised to find that this works if I refine `Kernel`. So far the only case I've found where this breaks is refining `Enumerable`.

@pirj I just created a ruby ticket [here](https://bugs.ruby-lang.org/issues/16852)! And thanks for reopening @JonRowe  -- this one is confusing and I'm not sure if it's a ruby issue or an rspec issue. Th

[2020-05-16 02:30] philipfong commented on #2258
Has anyone found a way to pass arguments to rspec? I have scripts that run end to end automation in a browser that could use custom arguments passed, and like another comment mentioned, using ENV vars seems less than ideal.

[2020-05-16 16:04] flatrocks commented on #2138
In simpler terms:
[code]
Then the "# No reason given" output will be replaced by "# Some reason here"

[2020-05-17 15:20] parkerfinch commented on #2727
Update! This is [reproducible](https://bugs.ruby-lang.org/issues/16852#note-1) without rspec, and it's been determined that the reason `rspec` hits this error is that it requires `"stringio"` which includes `Enumerable`. Definitely an underlying ruby issue though.

Thank you for looking at this, I'll close it out in favor of the ruby issue.

[2020-05-17 15:20] #2727 closed

[2020-05-17 23:09] pirj commented on #2138
![image](https://user-images.githubusercontent.com/6916/82162355-85836880-98ac-11ea-9838-86534dc58e12.png)

Just in case, it is replaced.

[2020-05-17 23:24] legalosLOTR opened #2728 "Unable to access group metadata in before(:context) hook"
### Subject of the issue
I have a `before(:context)` hook and I want to get file_path of the group here but it throws
[code]

This doesn't make sense to me. Is there no way to get the file path in a `before(:context)` hook?

### Your environment
* Ruby version: 2.6
* rspec-core version: 3.9

### Steps to reproduce
[code]

### Expected behavior
Should print the file path

### Actual behavior
Throws

[2020-05-17 23:38] pirj commented on #2728
Why do you need the file path there?

[code]
Would you agree to use such a workaround?

[2020-05-17 23:46] legalosLOTR commented on #2728
Thanks for the prompt response!

I'm basically building a gem that does some analysis on the groups and examples being executed (imagine recording their runtimes). So I don't have access to a user's spec files. I can only add my hooks in the `RSpec.configure` block.

[2020-05-18 07:50] JonRowe commented on #2727
Great, I suspected it'd be something along those lines, thanks for coming back and closing this!

[2020-05-18 07:59] JonRowe commented on #2728
This is a generic error raised when you call an API method that doesn't exist in your scope, RSpec `describe` / `context` methods define example group classes, with examples being instances of those classes, so you are attempting to call a class method than an instance method, and this is us catching that attempt and warning about the confusion.

You have several ways to progress from here, firstl

[2020-05-18 07:59] #2728 closed

[2020-05-22 11:31] robinboening commented on #294
Only found this neat feature so many years later ❤️

I stumbled into an error when using `super` instead of `super()`, but It is nicely explained here: https://rspec.info/blog/2013/02/rspec-2-13-is-released/#let-and-subject-declarations-can-use-super

[2020-05-23 01:41] rahul342 opened #2729 "Contrary to documentation,`around` hooks runs before `before`"
### Subject of the issue
Contrary to documentation,`around` hooks runs before `before`

Describe your issue here.
The docs here https://www.rubydoc.info/gems/rspec-core/RSpec%2FCore%2FHooks%3Aaround says -

### Your environment
* Ruby version: 2.7.1p83
* rspec-core version:  3.9.2

### Steps to reproduce
Here's the example I used
[code]

### Expected behavior
I would expect the prints in `before`

[2020-05-23 02:28] pirj commented on #2729
Yep, it's quite the opposite of what https://relishapp.com/rspec/rspec-core/v/3-9/docs/hooks/around-hooks#per-example-hooks-are-wrapped-by-the-%60around%60-hook says.

Would you like to send a pull request with a fix?

[2020-05-26 21:25] rahul342 commented on #2729
@pirj the example in your link is showing what happens. Do you mean we should fix the doc or correct the behavior? Intuitively I would expect `before` to run before `around`. Worry is it might be a breaking change if users have been relying on the current behavior.
Not familiar with the codebase, but can take a stab if you think we should change it.

[2020-05-27 07:48] JonRowe commented on #2729
Fix the ruby doc (its just a comment), the cucumber scenario shows the correct order.

[2020-05-28 06:09] take opened #2730 "How to get spec's name inside `let` block"
Hi thanks for the awesome gem as always :)

I want to get spec's name(= context name?) inside let block but IDK if this is possible or not 🤔 would help if you can answer 🙌 thanks.

[code]

[2020-05-28 07:51] pirj commented on #2730
Hi @take
For sure it's possible:
[code]
I believe you can use the parameter for `it` as well to get such information in the example itself.
There are much more other things that are accessible there.

You're always welcome!

[2020-05-28 07:51] #2730 closed

[2020-05-28 09:06] take commented on #2730
aha thank you so much! 🙌

[2020-05-29 06:38] take commented on #2730
@pirj

do you know which version of rspec-core includes this feature? :eyes:

in my rspec-core `3.9.2` app, I get the following error 🤔

[code]

[2020-05-29 09:02] pirj commented on #2730
@take Can you please provide a little more context how your code looks like.
The key is the `do |example|` in `let(:spec_name) do |example|`.

[2020-06-01 16:13] ikesyo commented on #2729
Looks like the behavior was discussed in #2544 and the document was updated in #2661, but the description adeed is wrong (contrary).

[2020-06-02 16:46] glennfu opened #2733 "Allow passing file+line number while still respecting filter rules"
### Subject of the issue
I have multiple environments that my specs run against. My code in the `rails_helper.rb` is smart enough to adjust `filter_run_excluding` or `filter_run_including` depending on what it detects. I have a bash script that passes along my run command arguments to multiple rspec commands per environment. This works great for folders, but as soon as I pass a file or a file+line

[2020-06-03 08:30] pirj commented on #2733
You're correct:

So, as I understand you would like to have an "and" logic here instead of precedence. This makes sense, at least in some cases.
The issue might be related to https://github.com/rspec/rspec-core/issues/1485. Do you set your line numbers to individual examples or example groups? Frankly, I don't have a good idea of how to deal with `rspec` being run focused on specific examples, but

[2020-06-03 13:18] glennfu commented on #2733
My request is in fact different than #1485. I regularly target a single example, but expect the filter rules to still apply. Currently my monkey-patch workaround is doing the job for me so really I guess a potential solution would be to make a command-line level flag enable my monkey-patch. The oddity of my scenario is to be calling 4+ rspec commands with different environment variables at the sam

[2020-06-03 15:34] JonRowe commented on #2733
They do still apply for what its worth, but the line number inclusion rule takes priority, you tell us to run an example we run it, if you added a file or a folder on the end the filter rules would apply to that.

This feature was designed for exactly your scenario, where you would otherwise filter out the entire suite which is typically accidentally (especially amongst newer devs) to ensure that

[2020-06-03 16:22] JonRowe commented on #2733
I don't really want a flag for this, because I don't want to encourage it, but if theres something we can do to enable it without monkey patching I think I'd support it. (A config option prehaps?)

[2020-06-03 16:36] glennfu commented on #2733
I could make my stuff work via a config option. Thanks!

[2020-06-03 18:54] CodingAnarchy opened #2734 "Proc-based if: metadata filters are reversed"
### Subject of the issue

When applying an `if:` metadata filter that involves a `lambda` or `proc` executing, the expected result is reversed.

### Your environment
* Ruby version: 2.6.4
* rspec-core version: 3.8.2

### Steps to reproduce

[code]

### Expected behavior

Using a proc as a metadata filter for `if:` should run when it evaluates as true.

### Actual behavior

Metadata filters for `if

[2020-06-03 19:16] JonRowe commented on #2734
This is to be expected. `if:` and `unless:` take booleans. A proc is a truthy value so it is `true` as far as `if:` or `unless:` is concerned.

Modifying your example slightly so it runs:
[code]

With the command `rspec --format doc file` so you can see whats going on:
[code]

[2020-06-03 19:16] #2734 closed

[2020-06-03 19:26] CodingAnarchy commented on #2734
@JonRowe I understand that it is to be expected as currently designed, but I don't see why I should not expect the metadata filter to have a more dynamic capability here.

Would it be that complicated to allow it to evaluate a `proc` or accept a boolean? Why shouldn't that be a reasonable expectation?

[2020-06-03 19:29] JonRowe commented on #2734
My apologies your issue was worded as bug report and not a feature request :)

If you'd like to take a go at implementing this feature I'd happily take a look to what the implications are, but this isn't something we have on our roadmap.

[2020-06-03 19:31] JonRowe commented on #2734
Particularly "Proc-based if: metadata filters are reversed" is not correct, they are considered truthy, thats not reversed.

[2020-06-03 19:58] CodingAnarchy commented on #2734
Yeah, sorry about the wording. I will look into what needs to be done to enable this support.

[2020-06-04 02:48] agibralter commented on #2637
I just ran into this—I'm on rspec-core 3.9.2 on OS X and still seem to get the hanging behavior right before it outputs the failing and non-failing examples. Using shell runner works... Does anyone have suggestions on how to debug what is going on?

[2020-06-04 18:57] benoittgt opened #2737 "Changelog on master does not mention 3.9.2"
I just saw that the changelog on master do not mention 3.9.2. Is it normal?

[2020-06-04 19:00] benoittgt commented on #2637
Hello @agibralter

There is many commands in the [PR](https://github.com/rspec/rspec-core/pull/2669) that may help you to understand what is happening.

If you succeed to find an easy way to reproduce it I would be very happy to patch it.

[2020-06-05 07:31] JonRowe commented on #2737
Sorted, apologies.

[2020-06-05 07:31] #2737 closed

[2020-06-05 07:51] benoittgt commented on #2737
Thanks Jon! :)

[2020-06-08 07:13] take commented on #2730
sorry problem is solved, thanks for the help! 🙌

[2020-06-09 19:20] eloyesp opened #2738 "Add a `summary` formatter alias to `base_text_formatter`"
I run specs using foreman, and the progress meter blocks the output, I found a way to fix it using the BaseTextFormatter (that is the progress format without progress). The only issue I found is that using it requires me to add `--format RSpec::Core::Formatters::BaseTextFormatter` on the procfile.

I think that the `base_text_formatter` is actually quite good on its own and can be aliased to `summ

[2020-06-09 20:20] pirj commented on #2738
Hey!

I'm having a hard time understanding why would you run specs from Foreman. As far as I remember it shuts down when one of the processes exits.

What is the problem with adding `--format RSpec::Core::Formatters::BaseTextFormatter` to the `Procfile` (or `.rspec`, or `.rspec-local`)?

Even if we add an alias for it, how would it solve your issue? The default formatter won't change, and you will

[2020-06-10 07:59] JonRowe commented on #2738
:wave: Thanks for taking the time to suggest this, however the `BaseTextFormatter` is not designed for direct usage, and having a formatter that doesn't output anything during spec runs means there is no way of detecting if your spec run is running or not, so its not something we wish to encourage, you are welcome to use it with its current name as its part of the public api, but I don't wish to a

[2020-06-10 07:59] #2738 closed

[2020-06-11 07:39] #2729 closed

[2020-06-11 23:37] Victorcorcos commented on #2277
Thank you 🗡️
I just opened a PR on my Project to fix this really annoying warning issue!

## Command used 🎯

[code]

## Description

All of our Shared Examples files were **loading two times**, because all of them ended with the `_spec` suffix!! => https://github.com/rspec/rspec-core/issues/2277#issuecomment-230069423
That's why we had so many warning messages like this one!

![Screen Shot 2020-06

[2020-06-12 08:19] pirj commented on #2277
Another option would be not to require files containing shared examples manually. Choose between those two options wisely, if your target is to avoid time-consuming constant autoloading, then manually requiring shared examples is something you should really consider doing.

[2020-06-17 15:52] benoittgt commented on #2637
@agibralter Could you try https://github.com/rspec/rspec-core/pull/2739 ?

[2020-06-18 16:07] jeremyevans opened #2740 "Confirm Proc Equality Fix Proposed for Ruby Core"
Myron Marston created in issue on the Ruby core bugtracker in January 2018 about a regression in rspec caused by lazy-proc allocation (introduced in Ruby 2.5).    He worked around the issue in rspec in 84670489bb4943a62e783bd65f96e4b55360b141.  Here's a link to the issue report Myron added: https://bugs.ruby-lang.org/issues/14267

I've implemented support in Ruby so that the workaround should no l

[2020-06-18 19:25] pirj commented on #2740
Thanks a lot @jeremyevans!

Confirming, the fix works as expected.

Reproduction script:
[code]

On 2.7.1:
[code]

Or `ruby-head` with the patch (reports itself as 2.8.0):
[code]

[2020-06-18 19:35] jeremyevans commented on #2740
Awesome! Thank you very much for your quick testing.  I expect to merge the patch into Ruby this week.

[2020-06-18 19:35] #2740 closed

[2020-07-07 22:46] marcandre commented on #654
@JonRowe wrote:

If I understand correctly, you mean that:

[code]

If so, I'd like to voice my disagreement. I personally like the first (constant) form much better.

I've not had issues with this and believe that it is not a concern in the vast majority of cases.

Reasons I believe this is a common experience include:

`rspec-rails` generators create some specs with string versions, and others a

[2020-07-08 07:22] JonRowe commented on #654
It does not.

[2020-07-08 07:46] JonRowe commented on #654
Sorry that was a bit terse, pre coffee 😂 , allow me to elaborate.

You understand correctly, I respectfully register your differing personal opinion but that doesn't change my opinion.

Using the constant means its impossible to delay booting rails for example, until you see if you actually need to boot rails. We came to this opinion when working on PORO style Rails apps, if you follow the Rails w

[2020-07-08 12:43] marcandre commented on #654
Thank you for the (second 😅) reply. It might help me and others understand if there was a real-life example (gem or app) where using strings makes a positive difference we could refer to. Do you happen to have such an example?

[2020-07-10 08:09] pirj commented on #654
I've collected some arguments pro and contra here https://github.com/rubocop-hq/rspec-style-guide/issues/104
The feedback is controversial, so unless we have some brilliant new idea we should probably not touch anything related to `described_class`.

[2020-07-27 15:10] timcraft commented on #2700
How about replacing `.rspec` and `spec/spec_helper.rb` with `config/rspec.rb` (in RSpec 4).

Simpler than the status quo (1 location to look for configuration instead of 2).

Simpler than directory specific config file (for users and for maintainers).

Similar to other projects, e.g. [puma's configuration file](https://github.com/puma/puma#configuration-file).

Addresses this specific issue, `--re

[2020-07-27 15:44] pirj commented on #2700
Not necessarily all projects do have a `config` folder, I'd go with `spec/config.rb`.

Global `~/.rspec`/`~/.config/rspec` can be helpful by overriding project-local format, colour, and profile settings, and by adding a couple of require's that are not in the bundle, but still available from RVM global gemset, e.g. `pry` or `pp`.
Having this global config as a Ruby file feels a bit awkward though.

[2020-07-27 19:27] JonRowe commented on #2700
I'm really not keen on co-locating config with spec files, I suspect it would very surprising to longer term rspec'ers, in addition it raises questions of how we handle conflicting spec config...

Currently we have a spec config that applies once across the entire suite run...

If we allowed per folder spec config are we saying we're going to merge config together? If so in what order? What takes

[2020-08-01 15:58] p-mongo opened #2746 "Wrong let block used in shared example"
### Subject of the issue

When I have two contexts which each defines a let block with the same name, and the first context calls shared examples, the value of the let block is taken from the second context.

### Your environment
* Ruby version: 2.7.1
* rspec-core version: 3.9.0

### Steps to reproduce

Run this:

[code]

https://github.com/p-mongo/tests/tree/master/rspec-context-scope-fail

### E

[2020-08-01 16:00] p-mongo commented on #2746
Had a misplaced do which I noticed right after filing this issue, please disregard.

[2020-08-01 16:00] #2746 closed

[2020-08-11 18:47] dmlary opened #2748 "include of module in example group does not include module constants"
### Subject of the issue
When including a module into an example group, the constants defined within that module are not included in the example group class.  This is effectively a duplicate of #41, but I'm reopening because it's not clear from the comments why `include` in an example group behaves differently from `include` in ruby.

The examples are running in an instance of their own example gr

[2020-08-11 20:12] JonRowe commented on #2748
:wave: I'm pretty sure this is down to a change in Ruby semantics, originally this worked in certain versions of Ruby and not in others, and I don't think there was ever an explicit support for it in RSpec, it's just how closures work.

[code]

[code]

[2020-08-11 20:20] dmlary commented on #2748
Yea, I kept digging and I came to the realization that it is ruby's scoping of constant lookups within blocks, nothing to do with rspec or `include`.  What is interesting is that the method calls work, but the constant lookups do not:

[code]

output:
[code]

I've seen old posts about constants being lexical scope, but that changing to the `Module.nesting` followed by `ancestors` lookup.  It does

[2020-08-11 20:20] #2748 closed

[2020-08-14 07:47] matkoniecz opened #2751 "install with --user is not providing rspec command"
### Subject of the issue
I tried to install rspec but I had trouble to get `rspec` command.

### Your environment
* Ruby version: `ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux-gnu]`
* rspec-core version: `3.9.2`

### Steps to reproduce

[code]

resulted in

[code]

without any complaints, but

`rspec` resulted in `bash: /usr/local/bin/rspec: No such file or directory`

### Expected

[2020-08-14 08:28] #2751 closed

[2020-08-14 08:30] JonRowe commented on #2751
:wave: This sounds like an issue for Rubygems to work out why your `--user` gems are not accessible. Especially if root install works.

[2020-08-14 08:34] matkoniecz commented on #2751
So it should be handled by https://github.com/rubygems/rubygems ? I have seen some messages "your path is not including XYZ, commands will not run" but I have no idea whatever it was emitted by rubygems, ruby or by gem itself.

[2020-08-14 08:36] JonRowe commented on #2751
Gem's are not responsible for their installation, they provide a manifest of files to rubygems (or some other package manager) which puts them in appropriate places.

The path error sounds like it's coming from rubygems because your system is misconfigured but I don't know that for certain.

[2020-08-16 07:56] timdiggins commented on #2522
I'm not very convinced that the surprise would be mitigated a lot by changing the output like that. My (similar) surprise was mostly about the difference in treatment between different command-line options. When I'm running the command line and specifying whole files and example ids/line numbers, I don't really think of the ids/line numbers as filters per se -- similar to the (config-defined) `foc

[2020-08-16 08:35] JonRowe commented on #2522
What if we mentioned the filters that then apply to all other files such as:

[2020-08-16 15:56] timdiggins commented on #2522
@JonRowe that would be great!

[2020-08-16 16:13] timdiggins commented on #2522
A few more reflections:

I think that the FilterManager::InclusionRules#rules keys are actually Pathnames when the filter rule is for a path, so this seems sort of doable, but would require quite some substantial changes.

Here's a catalogue of the different kinds of outputs:

with only one tag filter:

[code]

with only one path filter and no tag filters:

[code]

with more than one path filter:

[2020-08-18 01:57] tomdalling opened #2752 "RSpec crashes due to bad `message` of exception"
### Subject of the issue

When the `message` of a raised exception does not implement `#to_s` properly, the RSpec exception formatter crashes instead of reporting a test failure.

The lack of report output is causing [downstream problems in the `mutant` gem](https://github.com/mbj/mutant/issues/965#issuecomment-675189422).

### Your environment
* Ruby version: 2.7.1
* rspec-core version: 3.9.2

##

[2020-08-18 01:57] tomdalling opened #2753 "RSpec crashes due to bad `message` of exception"
### Subject of the issue

When the `message` of a raised exception does not implement `#to_s` properly, the RSpec exception formatter crashes instead of reporting a test failure.

The lack of report output is causing [downstream problems in the `mutant` gem](https://github.com/mbj/mutant/issues/965#issuecomment-675189422).

### Your environment
* Ruby version: 2.7.1
* rspec-core version: 3.9.2

##

[2020-08-18 02:33] mbj commented on #2752
I'd like to sharpen the following point:

Yes, `raise StandardError, self` is clearly invalid code. But as this code is the subject under test, it should not make rspec crash. And yes, rspec needs to reflect expected and actual exceptions to produce a report, so this is a bit of a catch 22.

I'm aware that at the moment rspec produces a report, its "test exception capture" is not active anymore. S

[2020-08-18 07:49] pirj commented on #2752
It is incorrect code, but still a valid one syntax-wise, in the same category as `1 / 0`. This case is deeper since as you mention, we're in reporter when the problem comes up.

I guess the problem is in `raise_error` matcher in this case. It doesn't evaluate `@actual_error.message` until it's too late.
There's no big difference between:
[code]
By adding `with_message` I'm trying to force the chec

[2020-08-19 05:50] tomdalling commented on #2752
Sure, I'll take a look soon.

[2020-08-23 20:28] JonRowe commented on #2753
@pirj I transferred this back to rspec-core because I took a quick look at addressing this in the matcher when it was reported but simply checking for `to_s` on message et al doesn't solve it and I don't think a crash in the exception presenter should crash RSpec., there might be another issue to be opened with the matcher, but rspec shouldn't crash if we can't print the message

[2020-08-23 22:04] pirj commented on #2753
Fair enough.

I've split `fully_formatted_lines` to two methods (having hard times to
[code]

and the resulting output looks like:
![image](https://user-images.githubusercontent.com/6916/90989894-962b3500-e5a5-11ea-9723-0accae3f4fcf.png)

That way e can get as many details from the exception before it fails, and also keep the indenting.
I can quickly send a pull request.

[2020-08-24 00:34] MaicolBen commented on #2289
What if you want to use `around` ? I want to catch the exception and retry the example. Also, it seems you cannot register for specific tags.

[2020-08-24 08:15] pirj commented on #2289
@MaicolBen

It seems to be possible according to https://github.com/NoRedInk/rspec-retry/issues/72#issuecomment-509770334

Not sure what you mean exactly, can you please elaborate?

[2020-08-24 14:03] MaicolBen commented on #2289
Achieve the next code with register:
[code]

I came from there, for now, we don't know is possible until we see some code. I tried myself and failed, so I'm going to remove `aggregate_failures`

[2020-08-25 07:01] tomdalling commented on #2753
👍 Thanks for taking a look at this. I was a little over-optimistic about how quickly I could get to it.

[2020-08-26 03:43] JonRowe commented on #2289
Around hooks are also part of the example, so the same problem is likely to exist, I wonder how we can expose that aggregate failures is in use and some how allow access to see if any exceptions have occurred so far (and potentially clear them), as thats all whats needed for rspec-retry's purposes...

This code should work, as long as it's being called in a required configuration block before the

[2020-08-27 03:39] TJNII opened #2754 "Is overall suite status available within the suite?"
I'd like to write the test status to an API for general reporting when the suite completes.  It would be more convenient to do this in a `config.after(:suite)` block rather than wrapping rspec and reading the exit code.  Is there an rspec API that can be used to read the suite status from within the suite?

Looking at https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/runner.rb#L113-L126

[2020-08-27 09:14] pirj commented on #2754
That's correct. Listen to `:example_failed`, `:example_passed` and `:stop`, should provide you with all the information you need. `RSpec.world.non_example_failure` might be of some interest to you as well.

If you get stuck with something, please let us know on the mailing list, or use StackOverflow. http://rspec.info/help/
We strive to limit Github issues to bugs and enhancement requests.

[2020-08-27 09:14] #2754 closed

[2020-08-27 09:41] JonRowe commented on #2754
Not quite but you can listen to `dump_summary` which is called at the end of the suite, it gives you duration, examples, failed_examples, pending_examples, load_time and errors_outside_of_examples_count.

A suite will fail if it has any failed_examples or any errors out of examples.

[2020-08-28 08:06] dskim opened #2755 "Suppressing entire backtrace for failed specs"
### Subject of the issue

I wonder if it makes sense to have an option to suppress entire backtrace for failed specs.
I see that we can use `backtrace_exclusion_patterns` or `filter_gems_from_backtrace` to filter specific lines, but I feel I'd like to see very minimalistic backtrace where you have just the last entry of the stacktrace.

I'm thinking of adding something like `--no-backtrace` option

[2020-08-28 10:56] pirj commented on #2755
I guess you're looking to implement a custom formatter. Please check https://relishapp.com/rspec/rspec-core/docs/formatters/custom-formatters
You may start with overriding the default `lib/rspec/core/backtrace_formatter.rb`.

If you're unable to achieve the desired results, let's discuss how you imagine it to work. I would be most interested in how shared examples' traces are shown, are you going

[2020-08-28 15:09] JonRowe commented on #2755
You can configure the backtrace filtering, it takes either a gem name or a regular expression.

https://relishapp.com/rspec/rspec-core/v/3-9/docs/configuration/excluding-lines-from-the-backtrace

If thats no sufficient I'd be happy to review a PR that limited the backtrace size by line number, with a `--no-backtrace` setting the limit to 0 or maybe 1.

[2020-08-31 00:23] dskim commented on #2755
@pirj @JonRowe Thanks for your replies.

Yes, I knew about those options but didn't try them out yet because seemed a little tedious.
However, I'll play with those for a bit and report back how it went.

[2020-08-31 08:45] JonRowe commented on #2755
For example, if you find the backtrace tedious it likely has thing like rack-test or capybara or rails in it, all of those can be filtered out as gem names to leave just your code / specs, you could further filter out your own dsl or library code by regular expression for path, I would humbly suggest that a few filtered lines will generally be better for diagnostics than a single line

[2020-09-01 17:56] pirj opened #2757 "Pluggable config template"
### Subject of the issue

Other RSpec components, e.g. Expectations and Mocks have configuration options, most of which have documentation, e.g.:
[code]

Add a possibility for components/extensions to declare their desired additions to the default generated `spec/spec_helper.rb` so that those options make their way to the generated spec helper.

An `RSpec::Core::ProjectInitializer.add(<String>)` m

[2020-09-01 21:27] JonRowe commented on #2757
Do many people add gems they want to use before they run the initialiser? This seems like it would have a limited use case of the first run only, and I really don't want to get into the business of having/being a generator... IF we were to add something like this, it would be better if it could be run at anytime, e.g. `rspec --init <gem_name>` but then merging and diffing etc becomes difficult...

[2020-09-01 21:53] pirj commented on #2757
We could be adding the second `RSpec.configure do` block for each gem.

Expectations and mocks could warn if they are included and required, but not configured in the spec helper. On the other hand, I can imagine multiple different spec helpers where they are only used in some of them, but not all. Users will be forced to introduce the complexity into Gemfile groups to only load extensions when th

[2020-09-01 21:53] #2757 closed

[2020-09-02 08:17] dskim commented on #2755
Sure, I'll close this issue for now and reopen if I have more a concrete example. Thanks a lot for your comments @JonRowe 🙏

[2020-09-02 08:17] #2755 closed

[2020-09-02 11:57] JonRowe commented on #654
Consider a spec suite for a Rails app containing various specs:

[code]

With constants, like this, running `rspec --tag type:service` requires booting Rails, as it requires having knowledge of `User` which is not a trivially requirable on its own, due to the nature of Rails.

The alternative is something like this:

[code]

Now when running `rspec --tag type:service` only the service code is load

[2020-09-04 12:05] #2753 closed

[2020-09-04 23:47] shiralwz commented on #2315
Have you try
`      before(:each) do
          stub_const('ENV', 'RACK_ATTACK_BLOCK_IP_LIST' => '')
      end
`

[2020-09-10 17:39] MatheusRich opened #2762 "Allow order specs by modification time"
### Subject of the issue

Quite often is useful to run tests that you've just modified. RSpec lets you to define custom ordering, so I have this snipped configured in my projects:

[code]

I thought it might be useful to upstream this for more users to use this with an option `--order modification_time`. Thoughts?

### Your environment
ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux-m

[2020-09-11 09:08] pirj commented on #2762
This is interesting. However this neglects the previous ordering, be it `defined` or `random` that relates to the order of the examples inside the spec, right?
I've seen suites really depending on `defined` order, wouldn't this break it? Do you think it would be possible to add this sorting, which is really to order the spec files, a second-tier ordering?

Another idea would be only be running the

[2020-09-11 09:18] JonRowe commented on #2762
This is an interesting feature suggestion, although its so easy to implement I'm sort of on the fence as saying it could easily be a plugin rather than a core feature.

Yes thats the point.

Yes but then they wouldn't choose this ordering scheme, its an alternative not a combination (also those suites should be fixed).

I see guard as orthogonal to this, it reruns files as they change, not running

[2020-09-11 12:21] MatheusRich commented on #2762
My goal was really to combine this with `--next-failure `. In my experience, modified specs are the most susceptible to failures.

[2020-09-11 13:36] pirj commented on #2762
One thing you may be interested in is https://github.com/toptal/crystalball/
It's a sophisticated tool that infers the specs that might break depending on your code changes, and one its most naïve strategies is to run the modified specs.

[2020-09-20 20:33] agis opened #2763 "Provide a way to programmatically remove formatters"
Currently there's `#add_formatter` for registering a new formatter. But there's no counterpart to remove one. This would be useful in skroutz/rspecq#6 or other custom runners maybe. The rationale is that we want to run a dry-run with a JSON formatter to grab the example IDs, and right after (in the same process) issue the regular run.

I'd like to do something like this:

[code]

Does that sound r

[2020-09-20 20:48] agis commented on #2763
Ah, a bit too hasty. It seems that `#clear_examples` does the trick.

[2020-09-20 20:48] #2763 closed

[2020-09-20 20:52] pirj commented on #2763
What do you collect from this dry run exactly? Just the example ids?
`RSpec.world` has a `all_examples` method. It's marked as private, but I guess for such a closely integrated tool as `rspecq`, it's quite ok to rely in the internals that deeply.

[2020-09-22 05:26] agis commented on #2763
@pirj Yep, I want to obtain the example ids of a _subset_ of the files. https://github.com/skroutz/rspecq/pull/36 is what I came up with. Do you think it's better to do this via `Rspec.world.all_examples`?

[2020-09-22 08:50] JonRowe commented on #2763
The RSpec globals are intended for use by RSpec itself in a single pass, but you can create your own versions of configuration, world etc and use those when you need something more complex. In theory you should be able to duplicate a config and add the formatter / dry run for this purpose.

[2020-09-22 15:13] pirj commented on #2763
@agis If `all_examples` is providing the information you need, that you can feed to RSpec later on, sure.

Just a word of precaution specifically about splitting by examples. Examples may have stateful setup. The simplest example is:
[code]
Sometimes, this setup is so heavy that it takes the majority of the spec run time.
If you split the examples that need this setup across workers, those workers

[2020-09-23 10:59] KNejad opened #2764 "Heredoc and expect to change causing `SyntaxError: compile error`"
### Subject of the issue

A strange combination of a heredoc in a before block and an `expect {}.not_to change {}` is causing a SyntaxError.

### Your environment
* Ruby version: 2.7
* rspec-core version: 3.9.2

### Steps to reproduce

Run the following spec:

[code]

It will fail as it should, but it will not show the correct failure reason

### Expected behavior

I expect an output like the foll

[2020-09-23 12:05] agis commented on #2763
Thanks for the heads up @pirj. In the generic case, we do schedule whole spec files. We only split very slow files to individual examples (see [documentation](https://github.com/skroutz/rspecq#spec-file-splitting)).

[2020-09-28 10:04] agis opened #2767 "Ever-increasing memory with a custom runner and a single spec file"
### Subject of the issue

In a custom RSpec runner I'm using, I've noticed an ever-increasing memory usage with each spec file (the same file, actually) that the runner executes. I don't know if this expected or not, so I'm opening an issue here to get your insights as well.

### Your environment
* Ruby version: 2.5.5 (also tested with  2.7.1)
* rspec-core version: 3.9.2

### Steps to reproduce

C

[2020-09-29 16:19] JonRowe commented on #2767
Yes, you've called `reset` which clears the old constants and allows the specs to be reloaded, you can see the same behaviour from plain Ruby.

[code]

Why do we do this? Because otherwise reloaded files could conflict, its a lot easier to remove the whole thing than it is to try to work out whats changed. Theres also no guarantee you'd be running the same files again, so it makes sense to clean h

[2020-10-01 21:37] MatheusRich commented on #2762
So, should I open a PR for this? I'm not sure if the whole core-team agrees with the feature :smile:

[2020-10-05 09:18] pirj commented on #2762
Can you implement it as a plugin, rather than baking in into RSpec? Will you have to monkey-patch internals, or does RSpec provide you necessary interface to make such an extension, @MatheusRich ?

[2020-10-06 08:49] agis commented on #2767
I've been running `GC.compact` every 1000 iterations, yet after 10k iterations memory is at ~800MB (from a few kilobytes in the first iterations), so yes, it doesn't make a significant difference.

The memory profile points to optparse as far as "allocated memory/objects" are concerned. But this memory is actually reclaimed by MRI, so I believe it's not relevant in our case. We actually care about

[2020-10-07 11:02] agis commented on #2767
Actually they're class objects (i.e the actual classes themselves). For example:

[code]

[2020-10-07 11:45] JonRowe commented on #2767
Open to suggested improvements, but this isn't a memory leak, it's Ruby being Ruby...

[2020-10-09 13:45] agis commented on #2767
I'll investigate more, cause something looks off here. Using a simple script, it seems that Ruby _does_ the right thing and  garbage collects classes after you remove their respective constants (and therefore they can no longer be referenced so they're eligible for GC):

[code]

Executing this outputs (as expected):

[code]

So I suspect that in RSpec's case, there's some reference somewhere that

[2020-10-09 19:32] JonRowe commented on #2767
No as far as I know we don't hold any reference after a rest, if you find one feel free to open a PR.

[2020-10-23 10:15] rlue opened #2776 "irb: warn: can't alias context from irb_context."
### Subject of the issue

I see that this bug was described in [rspec-rails #1693](https://github.com/rspec/rspec-rails/issues/1693) over four years ago, but I'm still seeing it in the most recent minor versions of Ruby and RSpec (2.7 / 3.9).

When executing `irb -r <module>`, if the given module is either a) RSpec or b) a script that requires RSpec in turn, then the following warning will be prin

[2020-10-23 13:56] JonRowe commented on #2776
@rlue did you read the follow up to that issue? It's possible that this issue only appears to be coming

[2020-10-23 13:56] #2776 closed

[2020-10-23 13:57] JonRowe commented on #2776
This because by default RSpec monkey patches `context` into the top level, disable monkey patching to silence it.

[2020-10-28 20:45] locofocos opened #2777 "Bisect runs indefinitely on tiny groups of tests - cleanup command?"
### Subject of the issue

I've had a lot of good results using `rspec bisect` (thank you!!). Now I'm often running into flaky specs that can be reproduced with a specific seed, but they cause bisect to run seemingly indefinitely on tiny groups of tests. It will output

then keep halving the number of examples (like it should), but then once it reaches a group of 2 examples, it moves on to other ro

[2020-10-29 11:53] MatheusRich commented on #2762
To be honest, I don't know. Probably there's a plugin support. But I'm thinking if there's any value in making it a separated gem. I mean, I'm lazy, so I'd prefer to setup `guard` or `crystalball` than just add a gem for this simple thing.

[2020-10-29 21:05] benoittgt commented on #2777
Hello @locofocos

Thanks for the detailed issue. I think you already find the issue. Did you tried to reset your sequences? I saw that `database-cleaner` probably use it. https://github.com/DatabaseCleaner/database_cleaner-active_record/blob/72acb8e1f39bd1765305e2bdfb2f67b77428bba6/lib/database_cleaner/active_record/truncation.rb#L218-L227

But you could use `reset_pk_sequence!(<table_name>)`. _[s

[2020-10-29 21:48] JonRowe commented on #2777
You've found our hooks, (`before(:hooks)` and `after(:suite)`) which are intended for this kind of cleanup, your problem seems to be that you are shelling out to cleanup, but as the test suite processes are still running, I assume Rails isn't shutdown, in particular I assume ActiveRecord is holding a connection in its pool, it is possible to disconnect it however at which point your command should

[2020-10-29 22:12] pirj commented on #2762
Do you think there is something actionable here @MatheusRich or this ticket can be closed?

[2020-10-29 22:17] MatheusRich commented on #2762
I think the maintainers aprooved the feature, so I'm keen to implementing it

[2020-10-29 22:33] pirj commented on #2777
To me, this is not something the bisect itself is able to work around or something we can fix in RSpec Rails.

Bisect won't help you in the case when tests to fail on the first run and pass on the subsequent one.
You have to find what is causing this problem first if you plan to use bisect on this project.
The workaround with resetting sequences might work for you.

Let's switch to our [mailing li

[2020-10-29 23:28] JonRowe commented on #2762
I don't feel strongly against it, so if @benoittgt wants to champion it I'm fine with that @pirj

[2020-10-30 06:52] #2777 closed

[2020-10-30 15:11] locofocos commented on #2777
Thanks for all the tips! Yeah, I realize it's not quite reproducible, at least in the way that rspec needs it to be.

Here's what I tried with the advice above, in case this helps anyone else coming across this issue:
[code]
To my surprise, none of those attempts above worked. There must be some difference between running my reset command in a `before(:suite)` and running it before rspec is invoke

[2020-10-30 15:55] locofocos commented on #2777
Hey, good news! I was able to make the edits locally in example_minimizer.rb to reset the database: https://github.com/locofocos/rspec-core/commit/24589002fbeaaa23e1dbb7ae3fcc6cbcac0061d1

After this, bisect worked like a charm for me (36 rounds! 😮 ), and I have a pretty small minimal reproduction command. I'll post back here with a description/example of the root cause once I can resolve it.

I d

[2020-10-30 16:16] JonRowe commented on #2777
If you're using the fork runner (which is typically faster) I think you'd run into the same issue with that command, so figuring out how to do it in Ruby may still be necessary

[2020-11-03 12:00] cmrd-senya commented on #2696
CC @JonRowe

It seems there is a bug in how bisect groups examples that are spread across different files.

Here is a branch on my fork of `rspec-core`: https://github.com/cmrd-senya/rspec-core/commit/57ff3125ebe77d69b7a73beb93ef9c4e8ea3ff31

There I added some specs as a showcase for the bug.

When I call bisect with correct specs in front it finishes correctly and finds the reproduction command:

[2020-11-03 12:05] cmrd-senya commented on #2696
The irony here is that rspec bisect seems to fail because of the order dependency bug

[2020-11-03 12:09] pirj commented on #2696
Do those specs fail when you run it without `--bisect`, @cmrd-senya ?

[2020-11-03 12:11] cmrd-senya commented on #2696
This command
[code]
does fail, yes.

[code]

[2020-11-03 12:14] cmrd-senya commented on #2696
It seems that bisect only reliably works when you put the failing spec at the very end of the command line (no matter how many files you add before). But if there are some specs after the failing one - then it's a lottery.

[2020-11-16 20:46] draganrakas opened #2781 "How do I run test collection only?"
I'm trying to run test collection only, and then run all of the collected test case metadata (e.g. tags, filepath, etc.) through a validation function (e.g. a tag of a certain naming convention must exist). Is there a way to do this with rspec? Googled everywhere but can't seem to find a solution.

If anyone is familiar with pytest, the pytest equivalent is a `--collect-only` flag, and then you ca

[2020-11-16 21:41] JonRowe commented on #2781
I'm not sure what a collection is here, our metadata exists on example groups and examples after they've run, but we don't collect them into anything. We do have hooks which run around things using metadata, and filters etc plus we have a formatter / event listener api that could be used to do this with your own state capturing...

Hooks are documented here:
https://relishapp.com/rspec/rspec-core/